<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-article-card.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}

{% render 'preview-necessary-assets' %}
{% if request.visual_preview_mode %}
  {% assign section_id_variable = 'id' %}
  {% assign section_id_selector = '' %}
{% else %}
  {% assign section_id_variable = section.id %}
  {% assign section_id_selector = '#shopify-section-' | append: section.id %}
{% endif %}
{%- liquid
   assign global_heading_size = settings.enable_global_heading_font_size
   assign global_body_size = settings.enable_global_body_font_size
   assign global_color = settings.enable_global_color
-%}

{%- style -%}
  {%- if request.visual_preview_mode -%}
    {% comment %} don't want fade-in animation in preview mode because it messes up preview {% endcomment %}
    .animation_section,
    .animation_section * {
      opacity: 1 !important;
      transform: none !important;
      transition: none !important;
      will-change: auto !important;
    }
  {%- endif -%}
  
  {{ section_id_selector }} .section__featured_blogs {
    padding: 5px 0;
  }
  
  .section-{{ section_id_variable }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section_id_variable }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{% style %}
  {{ section_id_selector }} .blogs-slider{
    width: 100%;
  }
  {{ section_id_selector }} .blog__posts {
    display: flex;
    padding: 0;
  }
  #heading-{{ section_id_variable }}{
    font-size: {% if global_heading_size %}var(--font-heading-size)!important{% else %}{{ section.settings.heading_size }}px!important{% endif %};
    line-height: {% if global_heading_size %}calc(var(--font-heading-size) + 8px)!important{% else %}{{ section.settings.heading_size | plus: 8 }}px!important{% endif %};
    color: {% if global_color %}rgb(var(--color-base-heading)){% else %}{{ section.settings.heading_color }}{% endif %};
  }
  #heading-{{ section_id_variable }} strong{
    {% if section.settings.bolded_heading_use_gradient %}
      background: {{ section.settings.bolded_heading_gradient_color }};
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    {% else %}
      color: {{ section.settings.bolded_heading_color }};
    {% endif %}
  }
  {{ section_id_selector }} .blog__button {
    background: {{ section.settings.button_background_color }};
    color: {{ section.settings.button_text_color }};
    font-size: {{ section.settings.button_text_size }}px;
    border-radius: {{ section.settings.button_border_radius }}px !important;
    width: {{ section.settings.button_width_increase_desktop }}%;
    min-width: fit-content;
    padding: {{ section.settings.button_padding_vertical }}px 12px;
  }

  @media (max-width: 1024px){
    #heading-{{ section_id_variable }}{
      font-size: {% if global_heading_size %}var(--font-heading-mob-size) !important{% else %}{{ section.settings.heading_mob_size }}px!important{% endif %};
      line-height: {% if global_heading_size %}calc(var(--font-heading-mob-size) + 8px) !important{% else %}{{ section.settings.heading_mob_size | plus: 8 }}px!important{% endif %};
    }
    {{ section_id_selector }} .blogs-slider{
      padding-inline: 2rem;
    }
    {{ section_id_selector }} .blog__posts {
      margin: 0;
    }
    {{ section_id_selector }} .swiper-slide {
      width: min(330px, 90%) !important;
    }
    {{ section_id_selector }} .blog__button {
      width: {{ section.settings.button_width_increase_mobile }}%;
    }
  }
{% endstyle %}

{%- liquid
  assign posts_displayed = section.settings.blog.articles_count
  if section.settings.post_limit <= section.settings.blog.articles_count
    assign posts_exceed_limit = true
    assign posts_displayed = section.settings.post_limit
  endif
-%}
<div class="blog color-{{ section.settings.color_scheme }} gradient{% if section.settings.heading == blank %} no-heading{% endif %} section__featured_blogs">
  <div class="page-width-desktop isolate{% if posts_displayed < 3 %} page-width-tablet{% endif %} section-{{ section_id_variable }}-padding">
    {%- unless section.settings.heading == blank -%}
      <div class="title-wrapper-with-link{% if posts_displayed > 2 %} title-wrapper--self-padded-tablet-down{% else %} title-wrapper--self-padded-mobile{% endif %} title-wrapper--no-top-margin">
        <h2 id="heading-{{ section_id_variable }}" class="title blog__title {{ section.settings.heading_size }}">
          {{ section.settings.heading }}
        </h2>
      </div>
    {%- endunless -%}
    {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
      <div id="Slider-{{ section_id_variable }}" class="blogs-slider swiper">
        <ul
          id="Slider-{{ section_id_variable }}"
          class="blog__posts articles-wrapper contains-card contains-card--article swiper-wrapper"
          role="list"
        >
          {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
            <li
              id="Slide-{{ section_id_variable }}-{{ forloop.index }}"
              class="blog__post article swiper-slide"
            >
              {% render 'article-card',
                blog: section.settings.blog,
                article: article,
                media_aspect_ratio: 1.66,
                show_image: section.settings.show_image,
                show_excerpt: true
              %}
            </li>
          {%- endfor -%}
        </ul>
      </div>

      {%- if section.settings.show_view_all -%}
        <div class="blog__view-all center">
          <a
            href="{{ section.settings.blog.url }}"
            id="ViewAll-{{ section_id_variable }}"
            class="blog__button button"
            aria-labelledby="ViewAll-{{ section_id_variable }} SectionHeading-{{ section_id_variable }}"
          >
            {{ 'sections.featured_blog.view_all' | t }}
          </a>
        </div>
      {%- endif -%}
    {%- else -%}
      <div class="blog-placeholder">
        <div class="placeholder media media--landscape">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        <div class="blog-placeholder__content">
          <h2 style="color: {{ section.settings.blog_title_color }};">
            {{ 'sections.featured_blog.onboarding_title' | t }}
          </h2>
          <p class="rte-width" style="color: {{ section.settings.blog_des_color }};">
            {{ 'sections.featured_blog.onboarding_content' | t }}
          </p>
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

<script>
  let swiper{{ section_id_variable | replace: '-', '' }};
  function setupSwiperJs{{ section_id_variable | replace: '-', '' }}() {
    swiper{{ section_id_variable | replace: '-', '' }} = new Swiper('#Slider-{{ section_id_variable }}', {
      slidesPerView: 3,
      spaceBetween: {{ section.settings.blog_cards_gap }},
      breakpoints: {
        320: {
          slidesPerView: 'auto'
        },
        768: {
          slidesPerView: 2
        },
        1024: {
          slidesPerView: 3
        }
      }
    });
  }
  document.addEventListener('DOMContentLoaded', function() {
    window.requestAnimationFrame(() => setupSwiperJs{{ section_id_variable | replace: '-', '' }}())
  });
    document.addEventListener('shopify:section:unload', function() {
      swiper{{ section_id_variable | replace: '-', '' }}.destroy();
      swiper{{ section_id_variable | replace: '-', '' }} = null;
    });
  document.addEventListener('shopify:section:load', function() {
    window.requestAnimationFrame(() => setupSwiperJs{{ section_id_variable | replace: '-', '' }}())
  });
</script>
{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "class": "section animation_section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-blog.settings.layout.content"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 20,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.featured-blog.settings.heading_size.label",
      "default": 40
    },
    {
      "type": "range",
      "id": "heading_mob_size",
      "min": 10,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "t:sections.featured-blog.settings.heading_mob_size.label",
      "default": 28
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_image.label",
      "info": "t:sections.featured-blog.settings.show_image.info"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_view_all.label"
    },
    {
      "type": "range",
      "id": "blog_cards_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.featured-blog.settings.blog_cards_gap.label",
      "default": 27
    },
    {
      "type": "header",
      "content": "t:sections.featured-blog.settings.styling.content"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.featured-blog.settings.heading_color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "bolded_heading_color",
      "label": "t:sections.featured-blog.settings.bolded_heading_color.label",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "bolded_heading_use_gradient",
      "label": "t:sections.featured-blog.settings.bolded_heading_use_gradient.label",
      "default": false
    },
    {
      "type": "color_background",
      "id": "bolded_heading_gradient_color",
      "label": "t:sections.featured-blog.settings.bolded_heading_gradient_color.label",
      "default": "linear-gradient(180deg, rgba(251, 51, 166, 1), rgba(127, 72, 176, 1) 50%, rgba(48, 145, 211, 1) 100%)",
      "visible_if": "{{ section.settings.bolded_heading_use_gradient }}"
    },
    {
      "type": "header",
      "content": "t:sections.featured-blog.settings.button.content"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "t:sections.featured-blog.settings.button_background_color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "t:sections.featured-blog.settings.button_text_color.label",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "button_text_size",
      "label": "t:sections.featured-blog.settings.button_text_size.label",
      "min": 10,
      "max": 24,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_border_radius",
      "label": "t:sections.featured-blog.settings.button_border_radius.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 6
    },
    {
      "type": "range",
      "id": "button_padding_vertical",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "label": "t:sections.featured-blog.settings.button_padding_vertical.label",
      "default": 8
    },
    {
      "type": "range",
      "id": "button_width_increase_desktop",
      "label": "t:sections.featured-blog.settings.button_width_increase_desktop.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 0
    },
    {
      "type": "range",
      "id": "button_width_increase_mobile",
      "label": "t:sections.featured-blog.settings.button_width_increase_mobile.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 80
    },
    {
      "type": "header",
      "content": "t:sections.featured-blog.settings.color_scheme_header.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "custom-color-1",
          "label": "t:sections.all.colors.custom_color_1.label"
        },
        {
          "value": "custom-color-2",
          "label": "t:sections.all.colors.custom_color_2.label"
        },
        {
          "value": "custom-color-3",
          "label": "t:sections.all.colors.custom_color_3.label"
        },
        {
          "value": "custom-color-4",
          "label": "t:sections.all.colors.custom_color_4.label"
        },
        {
          "value": "custom-color-5",
          "label": "t:sections.all.colors.custom_color_5.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        },
        {
          "value": "gradient-background-1",
          "label": "t:sections.all.colors.gradient_background_1.label"
        }
      ],
      "default": "accent-1",
      "label": "t:sections.featured-blog.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 24
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "heading": "Blog/Articles",
        "blog": "news",
        "heading_size": 35,
        "heading_mob_size": 28,
        "post_limit": 3,
        "columns_desktop": 3,
        "show_image": true,
        "show_view_all": true,
        "blog_cards_gap": 27,
        "heading_color": "#000000",
        "bolded_heading_color": "#000000",
        "bolded_heading_use_gradient": false,
        "bolded_heading_gradient_color": "linear-gradient(180deg, rgba(251, 51, 166, 1), rgba(127, 72, 176, 1) 50%, rgba(48, 145, 211, 1) 100%)",
        "button_background_color": "#000000",
        "button_text_color": "#ffffff",
        "button_text_size": 16,
        "button_border_radius": 6,
        "button_padding_vertical": 8,
        "button_width_increase_desktop": 21,
        "button_width_increase_mobile": 80,
        "color_scheme": "accent-1",
        "padding_top": 24,
        "padding_bottom": 24
      }
    }
  ]
}
{% endschema %}
