{% if request.visual_preview_mode %}
  {% assign section_id_variable = 'id' %}
  {% assign section_id_selector = '' %}
{% else %}
  {% assign section_id_variable = section.id %}
  {% assign section_id_selector = '#shopify-section-' | append: section.id %}
{% endif %}
<style>
  .image-with-text__content--desktop-right > * {
    align-self: flex-end;
    text-align: right;
  }
  
  .image-with-text__content--desktop-left > * {
    align-self: flex-start;
    text-align: left;
  }
  
  .image-with-text__content--desktop-center > * {
    align-self: center;
    text-align: center;
  }
  {{ section_id_selector }} .image-with-text .grid {
    margin-bottom: 0;
    padding: {{ section.settings.section_padding_top }}px {{ section.settings.section_padding_right_padding }}px {{ section.settings.section_padding_bottom }}px {{ section.settings.section_padding_left_padding }}px;
      {% if section.settings.card_use_gradient %}
        background: {{ section.settings.card_gradient }};
      {% else %}
        background: {{ section.settings.grid_background_color }};
      {% endif %}
    border-radius: {{ section.settings.grid_border_radius }}px;
  }
  
  .image-with-text__grid {
    gap: 2rem !important;
    align-items: stretch;
  }
  
  .image-with-text .grid__item {
    position: relative;
    flex: 1;
  }
  
  @media screen and (min-width: 750px) {
    .image-with-text__grid--reverse {
      flex-direction: row-reverse;
    }
  }
  
  .image-with-text__media {
    min-height: 100%;
    overflow: visible;
    background: transparent;
  }
  
  .image-with-text__media--small {
    height: 19.4rem;
  }
  
  .image-with-text__media--medium {
    height: 29.6rem;
  }
  
  .image-with-text__media--large {
    height: 43.5rem;
  }
  
  @media screen and (min-width: 750px) {
    .image-with-text__media--small {
      height: 31.4rem;
    }
  
    .image-with-text__media--medium {
      height: 46rem;
    }
  
    .image-with-text__media--large {
      height: 69.5rem;
    }
  }
  
  .image-with-text__media--placeholder {
    position: relative;
    overflow: hidden;
  }
  
  .image-with-text__media--placeholder:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(var(--color-foreground), 0.04);
  }
  
 

  .image-with-text__media--placeholder > svg {
    position: absolute;
    left: 50%;
    max-width: 80rem;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    fill: currentColor;
  }
  
  .image-with-text__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-self: center;
    position: relative;
    z-index: 1;
  }
  
  @media screen and (max-width: 990px) {
    .bg-is-accent-1.text-is-accent-1,
    .bg-is-accent-2.text-is-accent-2,
    .bg-is-background-1.text-is-background-1,
    .bg-is-background-2.text-is-background-2,
    .bg-is-inverse.text-is-inverse {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  .image-with-text .grid__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .image-with-text:not(.image-with-text--overlap)
    .image-with-text__media-item:after {
    border-radius: var(--media-radius);
  }
  
  .image-with-text:not(.image-with-text--overlap)
    .image-with-text__text-item:after {
    border-radius: var(--text-boxes-radius);
    box-shadow: var(--text-boxes-shadow-horizontal-offset)
      var(--text-boxes-shadow-vertical-offset)
      var(--text-boxes-shadow-blur-radius)
      rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
  }
  
  .image-with-text .image-with-text__media-item > div {
    border-radius: var(--media-radius);
    overflow: hidden;
  }
  
  .image-with-text .global-media-settings {
    overflow: hidden !important;
  
  }
  
  .image-with-text .image-with-text__text-item > div {
    border-radius: var(--text-boxes-radius);
    overflow: hidden;
    box-shadow: var(--text-boxes-shadow-horizontal-offset)
      var(--text-boxes-shadow-vertical-offset)
      var(--text-boxes-shadow-blur-radius)
      rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
  }
  
  .image-with-text:not(.image-with-text--overlap)
    .image-with-text__media-item
    > div,
  .image-with-text:not(.image-with-text--overlap)
    .image-with-text__text-item
    > div {
    box-shadow: none;
  }
  
  @media screen and (max-width: 749px) {
    .image-with-text.collapse-corners:not(.image-with-text--overlap)
      .image-with-text__media-item:after,
    .image-with-text.collapse-corners:not(.image-with-text--overlap)
      .grid__item
      .image-with-text__media,
    .image-with-text.collapse-corners:not(.image-with-text--overlap)
      .image-with-text__media
      img {
      /* border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; */
    }
  
    .image-with-text.collapse-corners:not(.image-with-text--overlap)
      .image-with-text__text-item:after,
    .image-with-text.collapse-corners:not(.image-with-text--overlap)
      .grid__item
      .image-with-text__content {
      /* border-top-left-radius: 0;
      border-top-right-radius: 0; */
    }
  
    .image-with-text.collapse-borders:not(.image-with-text--overlap)
      .image-with-text__content {
      border-top: 0;
    }
  }
  
  .image-with-text__content--mobile-right > h2,
  .image-with-text__content--mobile-right > div,
  .image-with-text__content--mobile-right > p,
  .image-with-text__content--mobile-right > a {
    align-self: flex-end;
    text-align: right;
  }
  
  .image-with-text__content--mobile-center > h2,
  .image-with-text__content--mobile-center > div,
  .image-with-text__content--mobile-center > p,
  .image-with-text__content--mobile-center > a {
    align-self: center;
    text-align: center;
  }
  
  .image-with-text--overlap .image-with-text__content {
    width: 90%;
    margin: -3rem auto 0;
  }
  
  @media screen and (min-width: 750px) {
    .image-with-text__grid--reverse .image-with-text__content {
      margin-left: auto;
    }
  
    .image-with-text__content--bottom {
      justify-content: flex-end;
      align-self: flex-end;
    }
  
    .image-with-text__content--top {
      justify-content: flex-start;
      align-self: flex-start;
    }
  
    .image-with-text__content--mobile-right > h2,
    .image-with-text__content--mobile-right > div,
    .image-with-text__content--mobile-right > p,
    .image-with-text__content--mobile-right > a  {
      align-self: flex-end;
      text-align: right;
    }
  
     .image-with-text__content--mobile-left > h2,
    .image-with-text__content--mobile-left > div,
    .image-with-text__content--mobile-left > p,
    .image-with-text__content--mobile-left > a {
      align-self: flex-start;
      text-align: left;
    }
  
    
     .image-with-text__content--mobile-`center` > h2,
    .image-with-text__content--mobile-center > div,
    .image-with-text__content--mobile-center > p,
    .image-with-text__content--mobile-center > a{
      align-self: center;
      text-align: center;
    }
  
    .image-with-text--overlap .image-with-text__text-item {
      display: flex;
      padding: 3rem 0;
    }
  
    .image-with-text--overlap .image-with-text__content {
      height: auto;
      width: calc(100% + 4rem);
      min-width: calc(100% + 4rem);
      margin-top: 0;
      margin-left: -4rem;
    }
  
    .image-with-text--overlap
      .image-with-text__grid--reverse
      .image-with-text__content {
      margin-left: 0;
      margin-right: -4rem;
    }
  
    .image-with-text--overlap
      .image-with-text__grid--reverse
      .image-with-text__text-item {
      justify-content: flex-end;
    }
  
    .image-with-text__media-item--top {
      align-self: flex-start;
    }
    .image-with-text__media-item--middle {
      align-self: center;
    }
  
    .image-with-text__media-item--bottom {
      align-self: flex-end;
    }
    
  
    .image-with-text.collapse-corners:not(.image-with-text--overlap)
      .grid:not(.image-with-text__grid--reverse)
      .image-with-text__media-item:after,
    .image-with-text.collapse-corners:not(.image-with-text--overlap)
      .grid:not(.image-with-text__grid--reverse)
      .image-with-text__media,
    .image-with-text.collapse-corners:not(.image-with-text--overlap)
      .grid:not(.image-with-text__grid--reverse)
      .image-with-text__media
      img,
    .image-with-text.collapse-corners:not(.image-with-text--overlap)
      .image-with-text__grid--reverse
      .image-with-text__text-item:after,
    .image-with-text.collapse-corners:not(.image-with-text--overlap)
      .image-with-text__grid--reverse
      .image-with-text__content,
    .image-with-text.collapse-corners:not(.image-with-text--overlap)
      .image-with-text__grid--reverse
      .image-with-text__content:after {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  
    .image-with-text.collapse-corners:not(.image-with-text--overlap)
      .grid:not(.image-with-text__grid--reverse)
      .image-with-text__text-item:after,
    /* .image-with-text.collapse-corners:not(.image-with-text--overlap)
      .grid:not(.image-with-text__grid--reverse)
      .image-with-text__content, */
    .image-with-text.collapse-corners:not(.image-with-text--overlap)
      .grid:not(.image-with-text__grid--reverse)
      .image-with-text__content:after,
    .image-with-text.collapse-corners:not(.image-with-text--overlap)
      .image-with-text__grid--reverse
      .image-with-text__media-item:after,
    .image-with-text.collapse-corners:not(.image-with-text--overlap)
      .image-with-text__grid--reverse
      .image-with-text__media,
    .image-with-text.collapse-corners:not(.image-with-text--overlap)
      .image-with-text__grid--reverse
      .image-with-text__media
      img {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  
    .image-with-text.collapse-borders:not(.image-with-text--overlap)
      .grid:not(.image-with-text__grid--reverse)
      .image-with-text__content {
      border-left: 0;
    }
  
    .image-with-text.collapse-borders:not(.image-with-text--overlap)
      .image-with-text__grid--reverse
      .image-with-text__content {
      border-right: 0;
    }
  }
  
  .image-with-text:not(.collapse-corners, .image-with-text--overlap)
    .image-with-text__media-item {
    z-index: 2;
  }
  
  .image-with-text__content {
    border-radius: var(--text-boxes-radius);
    box-shadow: var(--text-boxes-shadow-horizontal-offset)
      var(--text-boxes-shadow-vertical-offset)
      var(--text-boxes-shadow-blur-radius)
      rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
    word-break: break-word;
  }

  {% if section.settings.card_use_gradient %}
    {{ section_id_selector }} .image-with-text .grid {
      background: {{ section.settings.card_gradient }} !important;
    }
  {% endif %}
  
  @media screen and (min-width: 990px) {
    .image-with-text__content {
      padding: 6rem 7rem 7rem;
    }
  }
  
  .image-with-text__content > :is(h2, div, p, a) + :is(h2, div, p, a),
  {
    margin-top: 2rem;
  }
  
  .image-with-text__content > .image-with-text__text:empty ~ a {
    margin-top: 2rem;
  }
  
  .image-with-text__content > :first-child:is(.image-with-text__heading),
  .image-with-text__text--caption + .image-with-text__heading,
  .image-with-text__text--caption:first-child {
    margin-top: 0;
  }
  
  .image-with-text__content :last-child:is(.image-with-text__heading),
  .image-with-text__text--caption {
    margin-bottom: 0;
  }
  
  .image-with-text__content .button + .image-with-text__text {
    margin-top: 2rem;
  }
  
  .image-with-text__content .image-with-text__text + .button {
    margin-top: 3rem;
  }
  
  .image-with-text__heading {
    margin-bottom: 0;
  }
  
  .image-with-text__text p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  @media screen and (max-width: 749px) {
    .collapse-padding .image-with-text__grid .image-with-text__content {
      padding-left: 0;
      padding-right: 0;
    }
    
  /* .image-with-text .global-media-settings {
    border-radius: 0px;
  } */
  }
  
  @media screen and (min-width: 750px) {
    .collapse-padding
      .image-with-text__grid:not(.image-with-text__grid--reverse)
      .image-with-text__content:not(.image-with-text__content--desktop-center) {
      padding-right: 0;
    }
  
    .collapse-padding
      .image-with-text__grid--reverse
      .image-with-text__content:not(.image-with-text__content--desktop-center) {
      padding-left: 0;
    }
  }
  
  /* check for flexbox gap in older Safari versions */
  @supports not (inset: 10px) {
    .image-with-text .grid {
      margin-left: 0;
    }
  }
  
  /*
    Multirow
    note: consider removing from this stylesheet if multirow-specific styles increase signficantly
  */
  .multirow__inner {
    display: flex;
    flex-direction: column;
    row-gap: var(--grid-mobile-vertical-spacing);
  }
  
  @media screen and (min-width: 750px) {
    .multirow__inner {
      row-gap: var(--grid-desktop-vertical-spacing);
    }
  }
  
</style>

{%- liquid
   assign global_heading_size = settings.enable_global_heading_font_size
   assign global_body_size = settings.enable_global_body_font_size
   assign global_color = settings.enable_global_color
-%}

<style>
  {%- if request.visual_preview_mode -%}
    {% comment %} don't want fade-in animation in preview mode because it messes up preview {% endcomment %}
    .animation_section,
    .animation_section * {
      opacity: 1 !important;
      transform: none !important;
      transition: none !important;
      will-change: auto !important;
    }
  {%- endif -%}

  {{ section_id_selector }} .section__image_with_text {
    padding: 5px 0;
    margin: -1px 0;
  }
  
  .section-{{ section_id_variable }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section_id_variable }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  @media screen and (max-width: 600px) {
    .image-with-text .image-with-text__content {
      padding: 0 10px !important;
    }
  }

  #block-description-text-{{ section_id_variable }} p {
    font-size: {% if global_body_size %}var(--global-body-text-font-size){% else %}{{ section.settings.font_size }}px{% endif %} !important;
    color: {% if global_color %}rgb(var(--color-base-text)){% else %}{{ section.settings.body_color }}{% endif %};
  }

  #block-heading-{{ section_id_variable }} {
    font-weight: {{ section.settings.heading_font_weight }} !important;
    font-size: {% if global_heading_size %}var(--font-heading-size){% else %}{{ section.settings.desktop_font_size }}px{% endif %};
    color: {% if global_color %}rgb(var(--color-base-heading)){% else %}{{ section.settings.heading_color }}{% endif %};
    --color-highlighted-color: {{ section.settings.heading_highlighted_color }};
    margin-top: 0;
    margin-bottom: 2rem;
  }
  {%- if section.settings.heading_use_gradient -%}
    #block-heading-{{ section_id_variable }} strong {
      background: {% if section.settings.heading_gradient_color != blank %}{{ section.settings.heading_gradient_color }}{% else %}var(--gradient-base-background-1){% endif %};
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  {%- endif -%}

  @media (max-width: 768px) {
    #block-heading-{{ section_id_variable }} {
      font-size: {% if global_heading_size %}var(--font-heading-mob-size){% else %}{{ section.settings.mobile_font_size }}px{% endif %};
      margin-bottom: 1rem;
    }
  }

  /* Benefits Section Styling */
  #benefits-{{ section_id_variable }} {
    margin-top: 4rem;
  }

  #benefits-{{ section_id_variable }} .image-with-text-benefits-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: {{ section.settings.benefits_gap | default: 12 }}px;
  }

  #benefits-{{ section_id_variable }} .image-with-text-benefit-item {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  #benefits-{{ section_id_variable }} .benefit-icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #benefits-{{ section_id_variable }} .benefit-text {
    font-size: {% if global_body_size %}var(--global-body-text-font-size){% else %}{{ section.settings.benefits_text_size | default: 14 }}px{% endif %};
    margin: 0;
  }
</style>

<div class="rtl">
  <div class="color-{{ section.settings.section_color_scheme }} section__image_with_text">
    <div class="image-with-text image-with-text--no-overlap page-width isolate{% if false and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %} section-{{ section_id_variable }}-padding" style="max-width: {{ section.settings.card_max_width }}px !important;width: 100%;">
      <div 
        class="image-with-text__grid grid grid--gapless grid--1-col{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %} gradient"
      >
        <div
          class="image-with-text__media-item image-with-text__media-item--middle grid__item gradient"
        >
           {% style %}
            {{ section_id_selector }} .image-with-text__media img {
              border-radius: {{ section.settings.image_radius }}px !important;
            } 
          {% endstyle %}
          <div
            class="image-with-text__media image-with-text__media--{{ section.settings.height }} gradient global-media-settings {% if section.settings.image != blank %}media{% else %}image-with-text__media--placeholder placeholder{% endif %}"
            {% if section.settings.height == 'adapt' and section.settings.image != blank %}
              style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
            {% endif %}
          >
            {%- if section.settings.image != blank -%}
              {% if section.settings.defer_loading_image %}
                {% assign loading = 'lazy' %}
              {% else %}
                {% assign loading = 'high' %}
              {% endif %}
              {{ section.settings.image | image_url: width: 1200, format: 'webp' | image_tag: loading: loading}}
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
        </div>
        <div 
          class="image-with-text__text-item grid__item gradient"
        >
          <div
            id="ImageWithText--{{ section_id_variable }}"
            class="image-with-text__content image-with-text__content--middle image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--{{ section.settings.height }} gradient content-container bg-is-{{ section.settings.section_color_scheme }}"
          >
            {%- if section.settings.heading != blank -%}
              <h2
                id="block-heading-{{ section_id_variable }}"
                class="title image-with-text__heading {{ section.settings.heading_size }}"
                {{ section.shopify_attributes }}
              >
                {{ section.settings.heading }}
              </h2>
            {%- endif -%}

            {%- if section.settings.text != blank -%}
              <div
                id="block-description-text-{{ section_id_variable }}"
                class="image-with-text__text sw-base-text-color rte body"
                style="--color-highlighted-color: {{ section.settings.body_highlighted_color }}; {% if section.settings.layout == 'image_first' %}margin-bottom: 0;{% endif %}"
                {{ section.shopify_attributes }}
              >
                {{ section.settings.text }}
              </div>
            {%- endif -%}

            {%- if section.settings.benefit_1_text != blank or section.settings.benefit_2_text != blank or section.settings.benefit_3_text != blank -%}
              <div class="image-with-text-benefits-container" id="benefits-{{ section_id_variable }}">
                {%  style  %} 
                  #benefits-{{ section_id_variable }} .benefit-text {
                    color: {% if global_color %}rgb(var(--color-base-text)){% else %}{{ section.settings.benefits_text_color | default: '#000000' }}{% endif %};
                    --color-highlighted-color: {{ section.settings.benefits_text_highlighted_color | default: '#000000' }};
                  }
                  #benefits-{{ section_id_variable }} .material-icon svg {
                    width: {{ section.settings.benefits_icon_size | default: 20 }}px !important;
                    height: {{ section.settings.benefits_icon_size | default: 20 }}px !important; 
                    fill: {% if section.settings.benefits_icon_color %}{{ section.settings.benefits_icon_color }} !important{% else %}{{ settings.colors_accent_3 }}{% endif %};
                  }
                {% endstyle %}
                <ul class="image-with-text-benefits-list">
                  {%- if section.settings.benefit_1_text != blank -%}
                    <li class="image-with-text-benefit-item">
                      {%- if section.settings.benefit_1_custom_icon -%}
                        <img
                          style="margin-right: 8px; width: {{ section.settings.benefits_icon_size | default: 20 }}px !important; min-width: {{ section.settings.benefits_icon_size | default: 20 }}px !important;"
                          width="{{ section.settings.benefits_icon_size | default: 20 }}"
                          height="{{ section.settings.benefits_icon_size | default: 20 }}"
                          src="{{ section.settings.benefit_1_custom_icon | image_url }}"
                          alt="Benefit 1 icon"
                        >
                      {%- elsif section.settings.benefit_1_icon != blank -%}
                        <span 
                          style="display:flex;font-size: {{ section.settings.benefits_icon_size | default: 20 }}px !important; color: {% if section.settings.benefits_icon_color %}{{ section.settings.benefits_icon_color }} !important{% else %}{{ settings.colors_accent_3 }}{% endif %};"
                          class="material-icon material-symbols-outlined notranslate"
                        >
                          {{ section.settings.benefit_1_icon }}
                        </span>
                      {%- endif -%}
                      <div class="benefit-text sw-base-text-color">
                        {{ section.settings.benefit_1_text }}
                      </div>
                    </li>
                  {%- endif -%}
                  
                  {%- if section.settings.benefit_2_text != blank -%}
                    <li class="image-with-text-benefit-item">
                      {%- if section.settings.benefit_2_custom_icon -%}
                        <img
                          style="margin-right: 8px; width: {{ section.settings.benefits_icon_size | default: 20 }}px !important; min-width: {{ section.settings.benefits_icon_size | default: 20 }}px !important;"
                          width="{{ section.settings.benefits_icon_size | default: 20 }}"
                          height="{{ section.settings.benefits_icon_size | default: 20 }}"
                          src="{{ section.settings.benefit_2_custom_icon | image_url }}"
                          alt="Benefit 2 icon"
                        >
                      {%- elsif section.settings.benefit_2_icon != blank -%}
                        <span 
                          style="display:flex;font-size: {{ section.settings.benefits_icon_size | default: 20 }}px !important; color: {% if section.settings.benefits_icon_color %}{{ section.settings.benefits_icon_color }} !important{% else %}{{ settings.colors_accent_3 }}{% endif %};"
                          class="material-icon material-symbols-outlined notranslate"
                        >
                          {{ section.settings.benefit_2_icon }}
                        </span>
                      {%- endif -%}
                      <div class="benefit-text sw-base-text-color">
                        {{ section.settings.benefit_2_text }}
                      </div>
                    </li>
                  {%- endif -%}
                  
                  {%- if section.settings.benefit_3_text != blank -%}
                    <li class="image-with-text-benefit-item">
                      {%- if section.settings.benefit_3_custom_icon -%}
                        <img
                          style="margin-right: 8px; width: {{ section.settings.benefits_icon_size | default: 20 }}px !important; min-width: {{ section.settings.benefits_icon_size | default: 20 }}px !important;"
                          width="{{ section.settings.benefits_icon_size | default: 20 }}"
                          height="{{ section.settings.benefits_icon_size | default: 20 }}"
                          src="{{ section.settings.benefit_3_custom_icon | image_url }}"
                          alt="Benefit 3 icon"
                        >
                      {%- elsif section.settings.benefit_3_icon != blank -%}
                        <span 
                          style="display:flex;font-size: {{ section.settings.benefits_icon_size | default: 20 }}px !important; color: {% if section.settings.benefits_icon_color %}{{ section.settings.benefits_icon_color }} !important{% else %}{{ settings.colors_accent_3 }}{% endif %};"
                          class="material-icon material-symbols-outlined notranslate"
                        >
                          {{ section.settings.benefit_3_icon }}
                        </span>
                      {%- endif -%}
                      <div class="benefit-text sw-base-text-color">
                        {{ section.settings.benefit_3_text }}
                      </div>
                    </li>
                  {%- endif -%}
                </ul>
              </div>
            {%- endif -%}

            {%- if section.settings.button_text != blank -%}
              <style>
                {{ section_id_selector }} .button {
                  padding: {{ section.settings.button_padding_vertical }}px 12px;
                  font-size: {{ section.settings.button_label_1_size }}px !important;
                  line-height: {{ section.settings.button_label_1_size | plus: 8 }}px !important;
                  color: {{ section.settings.button_1_text_color }};
                  background-color: {{ section.settings.button_1_background_color }};
                  border-radius: {{ section.settings.button_1_border_radius }}px !important;
                  max-width: {{ section.settings.button_width_increase_desktop }}%;
                  min-width: fit-content;
                  width: 100%;
                  flex-shrink: 0;
                  margin-top: 4rem;
                }
                @media (max-width: 768px) {
                  {{ section_id_selector }} .button {
                    padding: {{ section.settings.button_padding_vertical_mobile }}px {{ section.settings.button_padding_horizontal_mobile }}px;
                    font-size: {{ section.settings.button_label_1_size_mobile }}px !important;
                    line-height: {{ section.settings.button_label_1_size_mobile | plus: 8 }}px !important;
                    max-width: {{ section.settings.button_width_increase_mobile }}%;
                  }
                }
              </style>
              <a {% if section.settings.button_link == blank %}role="link" aria-disabled="true"{% else %}href="{{ section.settings.button_link }}"{% endif %} class="button">{{ section.settings.button_text }}</a>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "class": "section animation_section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.image-with-text.settings.image_header.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "range",
      "id": "image_radius",
      "label": "t:sections.image-with-text.settings.image_radius.label",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "checkbox",
      "id": "defer_loading_image",
      "label": "t:sections.image-with-text.settings.defer_loading_image.label",
      "info": "t:sections.image-with-text.settings.defer_loading_image.info"
    },
    {
      "type": "header",
      "content": "t:sections.image-with-text.settings.content_header.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Lorem ipsum",
      "label": "t:sections.image-with-text.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
      "label": "t:sections.image-with-text.settings.text.label"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.image-with-text.settings.button_text.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.image-with-text.settings.button_link.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-with-text.settings.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "range",
      "id": "grid_border_radius",
      "label": "t:sections.image-with-text.settings.grid_border_radius.label",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 6
    },
    {
      "type": "range",
      "id": "section_padding_left_padding",
      "label": "t:sections.image-with-text.settings.section_padding_left_padding.label",
      "min": 0,
      "max": 32,
      "step": 2,
      "unit": "px",
      "default": 12
    },
    {
      "type": "range",
      "id": "section_padding_right_padding",
      "label": "t:sections.image-with-text.settings.section_padding_right_padding.label",
      "min": 0,
      "max": 32,
      "step": 2,
      "unit": "px",
      "default": 12
    },  
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "t:sections.image-with-text.settings.section_padding_bottom.label",
      "min": 0,
      "max": 32,
      "step": 2,
      "unit": "px",
      "default": 12
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "t:sections.image-with-text.settings.section_padding_top.label",
      "min": 0,
      "max": 32,
      "step": 2,
      "unit": "px",
      "default": 12
    },
    {
      "type": "header",
      "content": "t:sections.image-with-text.settings.typography.content"
    },
    {
      "type": "range",
      "id": "desktop_font_size",
      "label": "t:sections.image-with-text.settings.desktop_font_size.label",
      "min": 20,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_font_size",
      "label": "t:sections.image-with-text.settings.mobile_font_size.label",
      "min": 10,
      "max": 40,
      "step": 1,
      "unit": "px",
      "default": 28
    },
    {
      "type": "select",
      "id": "heading_font_weight",
      "label": "t:sections.image-with-text.settings.heading_font_weight.label",
      "options": [
        { "value": "500", "label": "t:sections.image-with-text.settings.heading_font_weight.options__1.label" },
        { "value": "700", "label": "t:sections.image-with-text.settings.heading_font_weight.options__2.label" }
      ],
      "default": "700"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.image-with-text.settings.heading_color.label",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "heading_use_gradient",
      "label": "t:sections.image-with-text.settings.heading_use_gradient.label",
      "info": "t:sections.image-with-text.settings.heading_use_gradient.info",
      "default": false
    },
    {
      "type": "color_background",
      "id": "heading_gradient_color",
      "label": "t:sections.image-with-text.settings.heading_gradient_color.label",
      "default": "linear-gradient(136deg, rgba(10, 234, 237, 1) 11%, rgba(250, 13, 253, 1) 84%)",
      "visible_if": "{{ section.settings.heading_use_gradient }}"
    },
    {
      "type": "color",
      "id": "heading_highlighted_color",
      "label": "t:sections.image-with-text.settings.heading_highlighted_color.label",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "t:sections.image-with-text.settings.font_size.label",
      "min": 8,
      "max": 24,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "color",
      "id": "body_color",
      "label": "t:sections.image-with-text.settings.body_color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "body_highlighted_color",
      "label": "t:sections.image-with-text.settings.body_highlighted_color.label",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "t:sections.image-with-text.settings.styling.content"
    },
    {
      "type": "select",
      "id": "section_color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "custom-color-1",
          "label": "t:sections.all.colors.custom_color_1.label"
        },
        {
          "value": "custom-color-2",
          "label": "t:sections.all.colors.custom_color_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        },
        {
          "value": "gradient-background-1",
          "label": "t:sections.all.colors.gradient_background_1.label"
        }
      ],
      "default": "accent-1",
      "label": "t:sections.image-with-text.settings.section_color_scheme.label"
    },
    {
      "type": "color",
      "id": "grid_background_color",
      "label": "t:sections.image-with-text.settings.grid_background_color.label"
    },
    {
      "type": "checkbox",
      "id": "card_use_gradient",
      "label": "t:sections.image-with-text.settings.card_use_gradient.label",
      "info": "t:sections.image-with-text.settings.card_use_gradient.info",
      "default": false
    },
    {
      "type": "color_background",
      "id": "card_gradient",
      "label": "t:sections.image-with-text.settings.card_gradient.label",
      "visible_if": "{{ section.settings.card_use_gradient }}",
      "default": "linear-gradient(136deg, rgba(10, 234, 237, 1) 11%, rgba(250, 13, 253, 1) 84%)"
    },
    {
      "type": "header",
      "content": "t:sections.image-with-text.settings.product_benefits.content"
    },
    {
      "type": "inline_richtext",
      "id": "benefit_1_text",
      "label": "t:sections.image-with-text.settings.benefit_1_text.label"
    },
    {
      "type": "textarea",
      "id": "benefit_1_icon",
      "label": "t:sections.image-with-text.settings.benefit_1_icon.label",
      "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" enable-background=\"new 0 0 24 24\" height=\"24px\" viewBox=\"0 0 24 24\" width=\"24px\" fill=\"#e3e3e3\"><g><rect fill=\"none\" height=\"24\" width=\"24\"/></g><g><path d=\"M23,12l-2.44-2.79l0.34-3.69l-3.61-0.82L15.4,1.5L12,2.96L8.6,1.5L6.71,4.69L3.1,5.5L3.44,9.2L1,12l2.44,2.79l-0.34,3.7 l3.61,0.82L8.6,22.5l3.4-1.47l3.4,1.46l1.89-3.19l3.61-0.82l-0.34-3.69L23,12z M10.09,16.72l-3.8-3.81l1.48-1.48l2.32,2.33 l5.85-5.87l1.48,1.48L10.09,16.72z\"/></g></svg>",
      "info": "t:sections.image-with-text.settings.benefit_1_icon.info"
    },
    {
      "type": "image_picker",
      "id": "benefit_1_custom_icon",
      "label": "t:sections.image-with-text.settings.benefit_1_custom_icon.label"
    },
    {
      "type": "inline_richtext",
      "id": "benefit_2_text",
      "label": "t:sections.image-with-text.settings.benefit_2_text.label"
    },
    {
      "type": "textarea",
      "id": "benefit_2_icon",
      "label": "t:sections.image-with-text.settings.benefit_2_icon.label",
      "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" enable-background=\"new 0 0 24 24\" height=\"24px\" viewBox=\"0 0 24 24\" width=\"24px\" fill=\"#e3e3e3\"><g><rect fill=\"none\" height=\"24\" width=\"24\"/></g><g><path d=\"M23,12l-2.44-2.79l0.34-3.69l-3.61-0.82L15.4,1.5L12,2.96L8.6,1.5L6.71,4.69L3.1,5.5L3.44,9.2L1,12l2.44,2.79l-0.34,3.7 l3.61,0.82L8.6,22.5l3.4-1.47l3.4,1.46l1.89-3.19l3.61-0.82l-0.34-3.69L23,12z M10.09,16.72l-3.8-3.81l1.48-1.48l2.32,2.33 l5.85-5.87l1.48,1.48L10.09,16.72z\"/></g></svg>",
      "info": "t:sections.image-with-text.settings.benefit_2_icon.info"
    },
    {
      "type": "image_picker",
      "id": "benefit_2_custom_icon",
      "label": "t:sections.image-with-text.settings.benefit_2_custom_icon.label"
    },
    {
      "type": "inline_richtext",
      "id": "benefit_3_text",
      "label": "t:sections.image-with-text.settings.benefit_3_text.label"
    },
    {
      "type": "textarea",
      "id": "benefit_3_icon",
      "label": "t:sections.image-with-text.settings.benefit_3_icon.label",
      "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" enable-background=\"new 0 0 24 24\" height=\"24px\" viewBox=\"0 0 24 24\" width=\"24px\" fill=\"#e3e3e3\"><g><rect fill=\"none\" height=\"24\" width=\"24\"/></g><g><path d=\"M23,12l-2.44-2.79l0.34-3.69l-3.61-0.82L15.4,1.5L12,2.96L8.6,1.5L6.71,4.69L3.1,5.5L3.44,9.2L1,12l2.44,2.79l-0.34,3.7 l3.61,0.82L8.6,22.5l3.4-1.47l3.4,1.46l1.89-3.19l3.61-0.82l-0.34-3.69L23,12z M10.09,16.72l-3.8-3.81l1.48-1.48l2.32,2.33 l5.85-5.87l1.48,1.48L10.09,16.72z\"/></g></svg>",
      "info": "t:sections.image-with-text.settings.benefit_3_icon.info"
    },
    {
      "type": "image_picker",
      "id": "benefit_3_custom_icon",
      "label": "t:sections.image-with-text.settings.benefit_3_custom_icon.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-with-text.settings.benefits_styling.content"
    },
    {
      "type": "range",
      "id": "benefits_icon_size",
      "label": "t:sections.image-with-text.settings.benefits_icon_size.label",
      "min": 14,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "benefits_text_size",
      "label": "t:sections.image-with-text.settings.benefits_text_size.label",
      "min": 12,
      "max": 20,
      "step": 1,
      "unit": "px",
      "default": 14
    },
    {
      "type": "range",
      "id": "benefits_gap",
      "label": "t:sections.image-with-text.settings.benefits_gap.label",
      "min": 8,
      "max": 32,
      "step": 2,
      "unit": "px",
      "default": 24
    },
    {
      "type": "color",
      "id": "benefits_icon_color",
      "label": "t:sections.image-with-text.settings.benefits_icon_color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "benefits_text_color",
      "label": "t:sections.image-with-text.settings.benefits_text_color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "benefits_text_highlighted_color",
      "label": "t:sections.image-with-text.settings.benefits_text_highlighted_color.label",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "card_max_width",
      "min": 1400,
      "max": 2500,
      "step": 100,
      "unit": "px",
      "label": "t:sections.image-with-text.settings.card_max_width.label",
      "default": 1600 
    },
    {
      "type": "header",
      "content": "t:sections.image-with-text.settings.button_header.content"
    },
    {
      "type": "range",
      "id": "button_label_1_size",
      "step": 1,
      "min": 12,
      "max": 30,
      "unit": "px",
      "label": "t:sections.all.common.button.label_size_desktop",
      "default": 14
    },
    {
      "type": "range",
      "id": "button_label_1_size_mobile",
      "step": 1,
      "min": 12,
      "max": 30,
      "unit": "px",
      "label": "t:sections.all.common.button.label_size_mobile",
      "default": 12
    },
    {
      "type": "color",
      "id": "button_1_text_color",
      "label": "t:sections.all.common.button.text_color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_1_background_color",
      "label": "t:sections.all.common.button.background_color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "button_1_border_radius",
      "step": 1,
      "min": 0,
      "max": 40,
      "unit": "px",
      "label": "t:sections.all.common.button.border_radius",
      "default": 6
    },
    {
      "type": "range",
      "id": "button_padding_vertical",
      "min": 0,
      "max": 32,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.common.button.padding_vertical",
      "default": 8
    },
    {
      "type": "range",
      "id": "button_width_increase_desktop",
      "step": 1,
      "min": 0,
      "max": 100,
      "unit": "%",
      "label": "t:sections.all.common.button.width_increase_desktop",
      "default": 0
    },
    {
      "type": "range",
      "id": "button_width_increase_mobile",
      "step": 1,
      "min": 0,
      "max": 100,
      "unit": "%",
      "label": "t:sections.all.common.button.width_increase_mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 12
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 12
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.presets.name",
      "settings": {
        "image": "shopify://shop_images/raw1.png",
        "image_radius": 6,
        "defer_loading_image": true,
        "heading": "Strong Heading Focused on the <strong>Desired State/Final Outcome</strong>",
        "text": "<p>Write 2-3 sentances that are focused on introducing the product and offering it as a perfect solution for the problem.</p>",
        "button_text": "",
        "button_link": "",
        "layout": "image_first",
        "height": "medium",
        "desktop_content_alignment": "left",
        "grid_border_radius": 6,
        "section_padding_left_padding": 12,
        "section_padding_right_padding": 12,
        "section_padding_bottom": 12,
        "section_padding_top": 12,
        "desktop_font_size": 35,
        "mobile_font_size": 25,
        "heading_font_weight": "700",
        "font_size": 14,
        "section_color_scheme": "accent-1",
        "heading_color": "#000000",
        "heading_highlighted_color": "#000000",
        "body_color": "#000000",
        "body_highlighted_color": "#000000",
        "grid_background_color": "#f9f9f9",
        "card_use_gradient": false,
        "card_gradient": "",
        "heading_use_gradient": true,
        "benefit_1_text": "<strong>Smooth Fine Lines:</strong> Visibly reduce wrinkles and signs of aging Skin.",
        "benefit_1_icon": "<svg xmlns=\"http://www.w3.org/2000/svg\" enable-background=\"new 0 0 24 24\" height=\"24px\" viewBox=\"0 0 24 24\" width=\"24px\" fill=\"#e3e3e3\"><g><rect fill=\"none\" height=\"24\" width=\"24\"></rect></g><g><path d=\"M23,12l-2.44-2.79l0.34-3.69l-3.61-0.82L15.4,1.5L12,2.96L8.6,1.5L6.71,4.69L3.1,5.5L3.44,9.2L1,12l2.44,2.79l-0.34,3.7 l3.61,0.82L8.6,22.5l3.4-1.47l3.4,1.46l1.89-3.19l3.61-0.82l-0.34-3.69L23,12z M10.09,16.72l-3.8-3.81l1.48-1.48l2.32,2.33 l5.85-5.87l1.48,1.48L10.09,16.72z\"></path></g></svg>",
        "benefit_1_custom_icon": "shopify://shop_images/Group_165861.svg",
        "benefit_2_text": "<strong>Easy & Painless:</strong> A safe, non-invasive treatment you can use anytime,",
        "benefit_2_icon": "<svg xmlns=\"http://www.w3.org/2000/svg\" enable-background=\"new 0 0 24 24\" height=\"24px\" viewBox=\"0 0 24 24\" width=\"24px\" fill=\"#e3e3e3\"><g><rect fill=\"none\" height=\"24\" width=\"24\"></rect></g><g><path d=\"M23,12l-2.44-2.79l0.34-3.69l-3.61-0.82L15.4,1.5L12,2.96L8.6,1.5L6.71,4.69L3.1,5.5L3.44,9.2L1,12l2.44,2.79l-0.34,3.7 l3.61,0.82L8.6,22.5l3.4-1.47l3.4,1.46l1.89-3.19l3.61-0.82l-0.34-3.69L23,12z M10.09,16.72l-3.8-3.81l1.48-1.48l2.32,2.33 l5.85-5.87l1.48,1.48L10.09,16.72z\"></path></g></svg>",
        "benefit_2_custom_icon": "shopify://shop_images/Group_165861.svg",
        "benefit_3_text": "<strong>Boost Natural Glow:</strong> Stimulates circulation and brightens your complexion.",
        "benefit_3_icon": "<svg xmlns=\"http://www.w3.org/2000/svg\" enable-background=\"new 0 0 24 24\" height=\"24px\" viewBox=\"0 0 24 24\" width=\"24px\" fill=\"#e3e3e3\"><g><rect fill=\"none\" height=\"24\" width=\"24\"></rect></g><g><path d=\"M23,12l-2.44-2.79l0.34-3.69l-3.61-0.82L15.4,1.5L12,2.96L8.6,1.5L6.71,4.69L3.1,5.5L3.44,9.2L1,12l2.44,2.79l-0.34,3.7 l3.61,0.82L8.6,22.5l3.4-1.47l3.4,1.46l1.89-3.19l3.61-0.82l-0.34-3.69L23,12z M10.09,16.72l-3.8-3.81l1.48-1.48l2.32,2.33 l5.85-5.87l1.48,1.48L10.09,16.72z\"></path></g></svg>",
        "benefit_3_custom_icon": "shopify://shop_images/Group_165861.svg",
        "benefits_icon_size": 20,
        "benefits_text_size": 14,
        "benefits_gap": 12,
        "benefits_icon_color": "#000000",
        "benefits_text_color": "#000000",
        "benefits_text_highlighted_color": "#000000",
        "card_max_width": 1600,
        "button_label_1_size": 14,
        "button_label_1_size_mobile": 12,
        "button_1_text_color": "#ffffff",
        "button_1_background_color": "#000000",
        "button_1_border_radius": 6,
        "button_padding_vertical": 8,
        "button_width_increase_desktop": 0,
        "button_width_increase_mobile": 0,
        "padding_top": 12,
        "padding_bottom": 12
      }
    }
  ]
}
{% endschema %}
