{% comment %} {{ 'section-image-comparison-slider.css' | asset_url | stylesheet_tag }} {% endcomment %}
 <style>
  {% comment %} CSS for the image comparison slider.css file {% endcomment %}
  .split-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3rem;
    position: relative;
  }
  
  .split-container--full {
    grid-template-columns: 1fr;
  }
  
  .split-container--reversed {
    direction: rtl;
  }
  
  .split-container--reversed > * {
    direction: ltr;
  }
  
  @media screen and (max-width: 900px) {
    .split-container {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  
  .text-block {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .image-compare {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    height: 100%;
  }
  
  .image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .section__image_comparison_slider .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .section__image_comparison_slider .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .image--before {
    z-index: 2;
  }
  
  .image--after {
    z-index: 1;
  }
  
  .divider {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 4px;
    transform: translateX(-50%);
    z-index: 3;
    cursor: ew-resize;
  }
  
  .divider__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .slider-control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: ew-resize;
    margin: 0;
    z-index: 4;
  }
  

</style>
{%- liquid
  assign global_heading_size = settings.enable_global_heading_font_size
  assign global_body_size = settings.enable_global_body_font_size
  assign global_color = settings.enable_global_color
  assign section_id_variable = section.id
-%}

{% if request.visual_preview_mode %}
 {% comment %} For rendering in the theme editor visual preview. {% endcomment %}
 {% assign section_id_variable = "id" %}
 {% assign section_id_selector = '' %}
{% else %}
  {% assign section_id_variable = section.id %}
  {% assign section_id_selector = '#shopify-section-' | append: section.id %}
{% endif %}

<style>
  {%- if request.visual_preview_mode -%}
    {% comment %} don't want fade-in animation in preview mode because it messes up preview {% endcomment %}
    .animation_section,
    .animation_section > * {
      opacity: 1 !important;
      transform: none !important;
      transition: none !important;
      will-change: auto !important;
    }
  {%- endif -%}
  
  /* Section Container Styles */
  {{ section_id_selector }} .section__image_comparison_slider {
    padding: 5px 0;
  }

  {{ section_id_selector }} .section-container-{{ section_id_variable }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  
  @media screen and (max-width: 768px) {
    {{ section_id_selector }} .section-container-{{ section_id_variable }} {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  }

  /* Heading Styles */
  {{ section_id_selector }} #heading-{{ section_id_variable }} {
    font-size: {% if global_heading_size %}var(--font-heading-size)!important{% else %}{{ section.settings.heading_size }}px!important{% endif %};
    line-height: {% if global_heading_size %}calc(var(--font-heading-size) + 8px)!important{% else %}{{ section.settings.heading_size | plus: 8 }}px!important{% endif %};
    color: {% if global_color %}rgb(var(--color-base-heading)){% else %}{{ section.settings.heading_color }}{% endif %};
    --color-highlighted-color: {{ section.settings.bolded_heading_color }};
  }

  @media (max-width: 768px) {
    {{ section_id_selector }} #heading-{{ section_id_variable }} {
      font-size: {% if global_heading_size %}var(--font-heading-mob-size) !important{% else %}{{ section.settings.heading_mob_size }}px!important{% endif %};
      line-height: {% if global_heading_size %}calc(var(--font-heading-mob-size) + 8px) !important{% else %}{{ section.settings.heading_mob_size | plus: 8 }}px!important{% endif %};
    }
  }

  /* Body Text Styles */
  {{ section_id_selector }} #section-body-text-{{ section_id_variable }},
  #section-body-text-{{ section_id_variable }} p {
    font-size: {% if global_body_size %}var(--global-body-text-font-size){% else %}{{ section.settings.body_size }}px{% endif %} !important;
    line-height: {% if global_body_size %}calc(var(--global-body-text-font-size) + 8px){% else %}{{ section.settings.body_size | plus: 8 }}px{% endif %} !important;
    color: {% if global_color %}rgb(var(--color-base-text)){% else %}{{ section.settings.body_color }}{% endif %} !important;
  }
 
  {{ section_id_selector }} #section-body-text-{{ section_id_variable }} strong {
    color: {{ section.settings.bolded_body_color }};
  }

  @media (max-width: 768px) {
    {{ section_id_selector }} #section-body-text-{{ section_id_variable }} p,
    {{ section_id_selector }} #section-body-text-{{ section_id_variable }} {
      font-size: {% if global_body_size %}var(--global-body-text-font-size)!important{% else %}{{ section.settings.body_size }}px !important{% endif %};
    }
  }
</style>

<style>
  {{ section_id_selector }} .image-comparison-slider__wrapper {
    display: flex;

    width: 100%;
    background: {{ section.settings.card_background_color }};
    border-radius: {{ section.settings.card_border_radius }}px;
    padding: {{ section.settings.card_padding_top}}px {{ section.settings.card_padding_right}}px {{ section.settings.card_padding_bottom}}px {{ section.settings.card_padding_left}}px;
  }
  /* Layout Styles */
  {{ section_id_selector }} #leftSideContainer-{{ section_id_variable }} {
    text-align: center;
    padding-inline: max(12px, {{  section.settings.card_padding_left }}px) ;
    display: flex;
    flex-direction: column;
    {% if section.settings.desktop_content_alignment == 'left' %}
      align-items: flex-start;
    {% elsif section.settings.desktop_content_alignment == 'right' %}
      align-items: flex-end;
    {% else %}
      align-items: center;
    {% endif %}
  }
  {{ section_id_selector }} #leftSideContainer-{{ section_id_variable }} > * { 
    max-width: 462px;
  }

  {{ section_id_selector }} #rightSideContainer-{{ section_id_variable }} {
    border-radius: {{ section.settings.card_border_radius }}px;
    overflow: hidden;
    height: {{ section.settings.image_height }}px;
  }
  @media (max-width: 768px) {
    {{ section_id_selector }} #rightSideContainer-{{ section_id_variable }} {
      height: {{ section.settings.image_height_mobile }}px;
      width: 100%;
    }
  }
  {% if section.settings.enable_grayscale_before_image %}
    {{ section_id_selector }} .image--before img {
      filter: grayscale(100%);
    }
  {% endif %}
  {{ section_id_selector }} .label {
    position: absolute;
    z-index: 5;
    top: 17px;
    width: fit-content;
    border-top-right-radius: {{ section.settings.labels_border_radius }}px;
    border-bottom-right-radius: {{ section.settings.labels_border_radius }}px;
    background: {{ section.settings.labels_background_color }};
    padding: 3px 6px 5px 8px;
    font-size: {{ section.settings.labels_font_size }}px;
    font-weight: 500;
    line-height: {{ section.settings.labels_font_size }}px;
    color: {{ section.settings.labels_text_color }};
  }
  {{ section_id_selector }} .divider__icon {
    width: {{ section.settings.divider_icon_size }}px;
    height: {{ section.settings.divider_icon_size }}px;
  }
  {{ section_id_selector }} .label--before {
    left: 0;
  }

  {{ section_id_selector }} .divider {
    background: {{ section.settings.line_color }} !important;
    width: {{ section.settings.line_width }}px;
  }



  {{ section_id_selector }} .image-comparison-slider__wrapper {
    display: flex;
    align-items: center;
    {% if section.settings.layout_desktop == 'slider_second' %}
      flex-direction: row;
    {% else %}
      flex-direction: row-reverse;
    {% endif %}
  }

  @media screen and (max-width: 768px) {
    {{ section_id_selector }} .image-comparison-slider__wrapper {
      {% if section.settings.layout_mobile == 'slider_second_mobile' %}
        flex-direction: column;
      {% else %}
        flex-direction: column-reverse;
      {% endif %}
      gap: 36px;
      padding: {{ section.settings.card_padding_top_mobile}}px {{ section.settings.card_padding_right_mobile}}px {{ section.settings.card_padding_bottom_mobile}}px {{ section.settings.card_padding_left_mobile}}px;
    }
    {{ section_id_selector }} #leftSideContainer-{{ section_id_variable }} > * { 
      max-width: 100%;
    }
    {{ section_id_selector }} #leftSideContainer-{{ section_id_variable }} {
      padding-inline: max(12px, {{  section.settings.card_padding_left_mobile }}px) ;
    }
  }
</style>

<div class="section__image_comparison_slider color-{{ section.settings.color_scheme }}">
  <div class="page-width section-container-{{ section_id_variable }}">
    <div class="image-comparison-slider__wrapper">
      <div id="leftSideContainer-{{ section_id_variable }}" class="half color-{{ section.settings.content_color_scheme }}" style='display:flex;'>
     
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <style>
                {{ section_id_selector }} #heading-section-{{ block.id }} {
                  color: {% if global_color %}rgb(var(--color-base-heading)){% else %}{{ block.settings.color }}{% endif %};
                  font-size: {% if global_heading_size %}var(--font-heading-size) !important{% else %}{{ block.settings.size }}px !important{% endif %};
                  line-height: {% if global_heading_size %}calc(var(--font-heading-size) + 8px) !important{% else %}{{ block.settings.size | plus: 8 }}px{% endif %};
                  margin: 0;
                  padding-top: {{ block.settings.padding_top_desktop }}px;
                  padding-bottom: {{ block.settings.padding_bottom_desktop }}px;
                  text-align: {{ section.settings.desktop_content_alignment }};
                  {% if section.settings.desktop_content_alignment == 'left' %}
                    align-self: flex-start;
                  {% elsif section.settings.desktop_content_alignment == 'right' %}
                    align-self: flex-end;
                  {% else %}
                    align-self: center;
                  {% endif %}
                }
                @media (max-width: 768px) {
                  {{ section_id_selector }} #heading-section-{{ block.id }} {
                    padding-top: {{ block.settings.padding_top_mobile }}px;
                    padding-bottom: {{ block.settings.padding_bottom_mobile }}px;
                    font-size: {% if global_heading_size %}var(--font-heading-mob-size) !important{% else %}{{ block.settings.mobile_font_size }}px !important{% endif %};
                    line-height: {% if global_heading_size %}calc(var(--font-heading-mob-size) + 6px) !important{% else %}{{ block.settings.mobile_font_size | plus: 6 }}px{% endif %};
                    text-align: {{ section.settings.mobile_content_alignment }};
                    {% if section.settings.mobile_content_alignment == 'left' %}
                      align-self: flex-start;
                    {% elsif section.settings.mobile_content_alignment == 'right' %}
                      align-self: flex-end;
                    {% else %}
                      align-self: center;
                    {% endif %}
                  }
                }
  
                {{ section_id_selector }} #heading-section-{{ block.id }} strong {
                  {%- if block.settings.heading_use_gradient -%}
                    background: {% if block.settings.heading_gradient_color != blank %}{{ block.settings.heading_gradient_color }}{% else %}var(--gradient-base-background-1){% endif %};
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                  {%- endif -%}
                }
              </style>
  
              <h2 id="heading-section-{{ block.id }}" class="title banner__heading" {{ block.shopify_attributes }}>
                <span style="--color-highlighted-color: {{ block.settings.highlighted_color }};">{{ block.settings.heading }}</span>
              </h2>
  
            {%- when 'text' -%}
              <style>
                #text-section-{{ block.id }} {
                  margin: 0;
                  padding-top: {{ block.settings.padding_top_desktop }}px;
                  padding-bottom: {{ block.settings.padding_bottom_desktop }}px;
                  text-align: {{ section.settings.desktop_content_alignment }};
                  font-size: {{ block.settings.size }}px;
                  line-height: {{ block.settings.size | plus: 8 }}px;
                  color: {% if global_color %}rgb(var(--color-base-text)){% else %}{{ block.settings.color }}{% endif %};
                  {% if section.settings.desktop_content_alignment == 'left' %}
                    align-self: flex-start;
                  {% elsif section.settings.desktop_content_alignment == 'right' %}
                    align-self: flex-end;
                  {% else %}
                    align-self: center;
                  {% endif %}
                }
                #text-section-{{ block.id }} strong {
                  {% if block.settings.text_use_gradient %}
                    background: {% if block.settings.text_gradient_color != blank %}{{ block.settings.text_gradient_color }}{% else %}var(--color-highlighted-color){% endif %};
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                  {% else %}
                    color: {{ block.settings.highlighted_color }};
                  {% endif %}
                }
                @media (max-width: 750px) {
                  #text-section-{{ block.id }} {
                    padding-top: {{ block.settings.padding_top_mobile }}px;
                    padding-bottom: {{ block.settings.padding_bottom_mobile }}px;
                    text-align: {{ section.settings.mobile_content_alignment }};
                    font-size: {{ block.settings.size_mobile }}px;
                    line-height: {{ block.settings.size_mobile | plus: 6 }}px;
                    {% if section.settings.mobile_content_alignment == 'left' %}
                      align-self: flex-start;
                    {% elsif section.settings.mobile_content_alignment == 'right' %}
                      align-self: flex-end;
                    {% else %}
                      align-self: center;
                    {% endif %}
                  }
                }
              </style>
              <div id="text-section-{{ block.id }}" class="body image-with-text__text rte sw-base-text-color body" {{ block.shopify_attributes }}>
                <div>{{ block.settings.text }}</div>
              </div>
  
            {%- when 'buttons' -%}
              <style>
                #buttons-section-{{ block.id }} {
                  padding-top: {{ block.settings.padding_top_desktop }}px;
                  padding-bottom: {{ block.settings.padding_bottom_desktop }}px;
                  margin: 0;
                  display: flex;
                  text-align: {{ section.settings.desktop_content_alignment }};
                  {% if section.settings.desktop_content_alignment == 'left' %}
                   justify-content: flex-start;
                  {% elsif section.settings.desktop_content_alignment == 'right' %}
                   justify-content: flex-end;
                  {% else %}
                   justify-content: center;
                  {% endif %}
                  width: 100%;
                  max-width: 100%;
                }
                #buttons-section-{{ block.id }} #button-1-{{ block.id }} {
                  font-size: {{ block.settings.button_label_1_size }}px;
                  line-height: {{ block.settings.button_label_1_size | plus: 8 }}px;
                  color: {{ block.settings.button_1_text_color }};
                  background-color: {{ block.settings.button_1_background_color }};
                  border-radius: {{ block.settings.button_1_border_radius }}px !important;
                  padding: {{ block.settings.button_padding_vertical }}px 12px;
                  max-width: {{ block.settings.button_width_increase_desktop }}%;
                  min-width: fit-content;
                  width: 100%;
                  flex-shrink: 0;
                }
                #buttons-section-{{ block.id }} #button-1-{{ block.id }} .button-text {
                  font-size: {{ block.settings.button_label_1_size }}px;
                  line-height: {{ block.settings.button_label_1_size | plus: 8 }}px;
                  color: {{ block.settings.button_1_text_color }};
                }
                @media (max-width: 750px) {
                  #buttons-section-{{ block.id }} {
                    padding-top: {{ block.settings.padding_top_mobile }}px;
                    padding-bottom: {{ block.settings.padding_bottom_mobile }}px;
                    text-align: {{ section.settings.mobile_content_alignment }};
                    {% if section.settings.mobile_content_alignment == 'left' %}
                      justify-content: flex-start;
                    {% elsif section.settings.mobile_content_alignment == 'right' %}
                      justify-content: flex-end;
                    {% else %}
                      justify-content: center;
                    {% endif %}
                  }
                  #buttons-section-{{ block.id }} #button-1-{{ block.id }} {
                    font-size: {{ block.settings.button_label_1_size_mobile }}px;
                    line-height: {{ block.settings.button_label_1_size_mobile | plus: 6 }}px;
                    padding: {{ block.settings.button_padding_vertical }}px 12px;
                    max-width: {{ block.settings.button_width_increase_mobile }}%;
                  }
                  #buttons-section-{{ block.id }} #button-1-{{ block.id }} .button-text {
                    font-size: {{ block.settings.button_label_1_size_mobile }}px;
                    line-height: {{ block.settings.button_label_1_size_mobile | plus: 6 }}px;
                  }
                }
              </style>
              <div id="buttons-section-{{ block.id }}" class="banner__buttons banner__buttons-{{ block.id }}" {{ block.shopify_attributes }}>
                {%- if block.settings.button_label_1 != blank -%}
                  <a id="button-1-{{ block.id }}" {% if block.settings.button_link_1 == blank %}role="link" aria-disabled="true"{% else %}href="{{ block.settings.button_link_1 }}"{% endif %} class="button">
                    <span class="button-text">{{- block.settings.button_label_1 | escape -}}</span>
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}

      </div>
    
      <div id="rightSideContainer-{{ section_id_variable }}" class="half flex-align-center color-{{ section.settings.scrolling_text_color_scheme }}">
        <div class="image-compare" data-section-id="{{ section_id_variable }}">
          {% unless section.settings.before_label == blank %}
            <div class="label label--before">
              {{ section.settings.before_label }}
            </div>
          {% endunless %}
    
          <div class="image-wrapper">
            <div class="image image--before color-{{ section.settings.color_scheme }}">
              {%- if section.settings.before_image != blank -%}
                {{ section.settings.before_image | image_url: width: 1000 | image_tag: loading: 'lazy', width: 450 }}
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder' }}
              {%- endif -%}
            </div>
    
            <div class="image image--after color-{{ section.settings.color_scheme }}">
              {%- if section.settings.after_image != blank -%}
                {{ section.settings.after_image | image_url: width: 1000 | image_tag: loading: 'lazy', width: 450 }}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder' }}
              {%- endif -%}
            </div>
    
            <div class="divider">
              <svg class="divider__icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="40" height="40" rx="13" fill="{{ section.settings.line_color }}"/>
                <rect x="26" y="13.8608" width="12.6282" height="1.84803" transform="rotate(90 26 13.8608)" fill="{{ section.settings.divider_icon_color }}"/>
                <rect x="21.1191" y="13.8608" width="12.6282" height="1.84803" transform="rotate(90 21.1191 13.8608)" fill="{{ section.settings.divider_icon_color }}"/>
                <rect x="16.2383" y="13.8608" width="12.6282" height="1.84803" transform="rotate(90 16.2383 13.8608)" fill="{{ section.settings.divider_icon_color }}"/>
              </svg>  
            </div>
    
            <input
              type="range"
              class="slider-control"
              min="0"
              max="100"
              value="{{ section.settings.default_slider_position | default: 50 }}"
              aria-label="Image comparison slider"
            >
          </div>
    
          {% unless section.settings.after_label == blank %}
            <div class="label label--after">
              {{ section.settings.after_label }}
            </div>
          {% endunless %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  class ImageCompare{{ section.id | replace: '-', '' }} {
    constructor(container) {
      this.container = container;
      this.slider = container.querySelector('.slider-control');
      this.beforeImage = container.querySelector('.image--before');
      this.afterImage = container.querySelector('.image--after');
      this.divider = container.querySelector('.divider');
      this.beforeLabel = container.querySelector('.label--before');
      this.afterLabel = container.querySelector('.label--after');

      this.bindEvents();
      this.updateImages(this.slider.value);
    }

    bindEvents() {
      this.slider.addEventListener('input', () => this.updateImages(this.slider.value));
    }

    updateImages(value) {
      this.beforeImage.style.clipPath = `inset(0 ${100 - value}% 0 0)`;
      this.afterImage.style.clipPath = `inset(0 0 0 ${value}%)`;
      this.divider.style.left = `${value}%`;
      this.afterLabel.style.left = `calc(${value}% + {{ section.settings.line_width | divided_by: 2 }}px)`;
      if (value >= 85) {
        this.afterLabel.style.display = 'none';
        this.beforeLabel.style.display = 'block';
      } else if (value <= 15) {
        this.beforeLabel.style.display = 'none';
        this.afterLabel.style.display = 'block';
      } else {
        this.beforeLabel.style.display = 'block';
        this.afterLabel.style.display = 'block';
      }
    }
  }

  document.querySelectorAll('.image-compare').forEach((container) => {
    new ImageCompare{{ section.id | replace: '-', '' }}(container);
  });
  
  if (Shopify.designMode) {
    const sectionId = "{{ section_id_variable }}";
    const reloadImageCompare = () => {
      document.querySelectorAll('.image-compare').forEach((container) => {
        new ImageCompare{{ section.id | replace: '-', '' }}(container);
      });
    };

    document.addEventListener('shopify:section:unload', (event) => {
      if (event.detail.sectionId === sectionId) reloadImageCompare();
    });

    document.addEventListener('shopify:section:load', (event) => {
      if (event.detail.sectionId === sectionId) reloadImageCompare();
    });
  }
</script>

{% schema %}
{
  "name": "t:sections.image-comparison-slider.name",
  "class": "section animation_section",
  "settings": [
    {
      "type": "image_picker",
      "id": "before_image",
      "label": "t:sections.image-comparison-slider.settings.before_image.label"
    },
    {
      "type": "image_picker",
      "id": "after_image",
      "label": "t:sections.image-comparison-slider.settings.after_image.label"
    },
    {
      "type": "range",
      "id": "image_height",
      "label": "t:sections.image-comparison-slider.settings.image_height.label",
      "min": 300,
      "max": 800,
      "step": 10,
      "default": 500,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "image_height_mobile",
      "label": "t:sections.image-comparison-slider.settings.image_height_mobile.label",
      "min": 200,
      "max": 700,
      "step": 10,
      "default": 300,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "enable_grayscale_before_image",
      "label": "t:sections.image-comparison-slider.settings.enable_grayscale_before_image.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.image-comparison-slider.settings.content.content"
    },
    {
      "type": "inline_richtext",
      "id": "before_label",
      "label": "t:sections.image-comparison-slider.settings.before_label.label",
      "default": "Before"
    },
    {
      "type": "inline_richtext",
      "id": "after_label",
      "label": "t:sections.image-comparison-slider.settings.after_label.label",
      "default": "After"
    },
    {
      "type": "range",
      "id": "default_slider_position",
      "label": "t:sections.image-comparison-slider.settings.default_slider_position.label",
      "min": 0,
      "max": 100,
      "default": 50,
      "info": "t:sections.image-comparison-slider.settings.default_slider_position.info"
    },
    {
      "type": "header",
      "content": "t:sections.image-comparison-slider.settings.layout.content"
    },
    {
      "type": "select",
      "id": "layout_desktop",
      "label": "t:sections.image-comparison-slider.settings.layout_desktop.label",
      "options": [
        {
          "value": "slider_first",
          "label": "t:sections.image-comparison-slider.settings.layout_desktop.options__1.label"
        },
        {
          "value": "slider_second",
          "label": "t:sections.image-comparison-slider.settings.layout_desktop.options__2.label"
        }
      ],
      "default": "slider_second"
    },
    {
      "type": "select",
      "id": "layout_mobile",
      "label": "t:sections.image-comparison-slider.settings.layout_mobile.label",
      "options": [
        {
          "value": "slider_first_mobile",
          "label": "t:sections.image-comparison-slider.settings.layout_mobile.options__1.label"
        },
        {
          "value": "slider_second_mobile",
          "label": "t:sections.image-comparison-slider.settings.layout_mobile.options__2.label"
        }
      ],
      "default": "slider_second_mobile"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "label": "t:sections.image-comparison-slider.settings.desktop_content_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-comparison-slider.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-comparison-slider.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-comparison-slider.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "label": "t:sections.image-comparison-slider.settings.mobile_content_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-comparison-slider.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-comparison-slider.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-comparison-slider.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.image-comparison-slider.settings.card_styling.content"
    },
    {
      "type": "color",
      "id": "card_background_color",
      "label": "t:sections.image-comparison-slider.settings.card_background_color.label",
      "default": "#F8F8F8"
    },
    {
      "type": "range",
      "id": "card_border_radius",
      "label": "t:sections.image-comparison-slider.settings.card_border_radius.label",
      "min": 0,
      "max": 100,
      "default": 6,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.image-comparison-slider.settings.labels_styling.content"
    },
    {
      "type": "color",
      "id": "labels_background_color",
      "label": "t:sections.image-comparison-slider.settings.labels_background_color.label",
      "default": "#FAFAFA"
    },
    {
      "type": "color",
      "id": "labels_text_color",
      "label": "t:sections.image-comparison-slider.settings.labels_text_color.label",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "labels_font_size",
      "label": "t:sections.image-comparison-slider.settings.labels_font_size.label",
      "min": 10,
      "max": 50,
      "default": 14,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "labels_border_radius",
      "label": "t:sections.image-comparison-slider.settings.labels_border_radius.label",
      "min": 0,
      "max": 100,
      "default": 5,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.image-comparison-slider.settings.slider_styling.content"
    },
    {
      "type": "color",
      "id": "line_color",
      "label": "t:sections.image-comparison-slider.settings.line_color.label",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "line_width",
      "label": "t:sections.image-comparison-slider.settings.line_width.label",
      "min": 1,
      "max": 8,
      "default": 4,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "divider_icon_color",
      "label": "t:sections.image-comparison-slider.settings.divider_icon_color.label",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "divider_icon_size",
      "label": "t:sections.image-comparison-slider.settings.divider_icon_size.label",
      "min": 30,
      "max": 80,
      "step": 1,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.image-comparison-slider.settings.section_styling.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "custom-color-1",
          "label": "t:sections.all.colors.custom_color_1.label"
        },
        {
          "value": "custom-color-2",
          "label": "t:sections.all.colors.custom_color_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        },
        {
          "value": "gradient-background-1",
          "label": "t:sections.all.colors.gradient_background_1.label"
        }
      ],
      "default": "accent-1",
      "label": "t:sections.image-comparison-slider.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-comparison-slider.settings.desktop_card_padding.content"
    },
    {
      "type": "range",
      "id": "card_padding_top",
      "label": "t:sections.image-comparison-slider.settings.card_padding_top.label",
      "min": 0,
      "max": 100,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "card_padding_right",
      "label": "t:sections.image-comparison-slider.settings.card_padding_right.label",
      "min": 0,
      "max": 100,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "card_padding_bottom",
      "label": "t:sections.image-comparison-slider.settings.card_padding_bottom.label",
      "min": 0,
      "max": 100,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "card_padding_left",
      "label": "t:sections.image-comparison-slider.settings.card_padding_left.label",
      "min": 0,
      "max": 100,
      "default": 12,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.image-comparison-slider.settings.mobile_card_padding.content"
    },
    {
      "type": "range",
      "id": "card_padding_top_mobile",
      "label": "t:sections.image-comparison-slider.settings.card_padding_top_mobile.label",
      "min": 0,
      "max": 100,
      "default": 0,
      "unit": "px"
    },  
    {
      "type": "range",
      "id": "card_padding_right_mobile",
      "label": "t:sections.image-comparison-slider.settings.card_padding_right_mobile.label",
      "min": 0,
      "max": 100,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "card_padding_bottom_mobile",
      "label": "t:sections.image-comparison-slider.settings.card_padding_bottom_mobile.label",
      "min": 0,
      "max": 100,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "card_padding_left_mobile",
      "label": "t:sections.image-comparison-slider.settings.card_padding_left_mobile.label",
      "min": 0,
      "max": 100,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 24
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Our Exciting Results",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "range",
          "id": "size",
          "min": 20,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.image-comparison-slider.blocks.heading.settings.size.label",
          "default": 40
        },
        {
          "type": "range",
          "id": "mobile_font_size",
          "min": 10,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "t:sections.image-comparison-slider.blocks.heading.settings.mobile_font_size.label",
          "default": 28
        },
        {
          "type": "header",
          "content": "t:sections.image-comparison-slider.blocks.heading.settings.styling.content"
        },
        {
          "type": "color",
          "id": "color",
          "label": "t:sections.all.common.heading_color.label",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "highlighted_color",
          "label": "t:sections.all.common.bolded_heading_color.label",
          "default": "#000000"
        },
        {
          "type": "checkbox",
          "id": "heading_use_gradient",
          "label": "t:sections.all.common.use_gradient_heading.label",
          "info": "t:sections.all.common.use_gradient_heading.info",
          "default": false
        },
        {
          "type": "color_background",
          "id": "heading_gradient_color",
          "label": "t:sections.all.common.heading_gradient_color.label",
          "visible_if": "{{ block.settings.heading_use_gradient }}",
          "default": "linear-gradient(180deg, rgba(251, 51, 166, 1), rgba(127, 72, 176, 1) 50%, rgba(48, 145, 211, 1) 100%)"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top_desktop",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.image-comparison-slider.blocks.heading.settings.padding_top_desktop.label",
          "default": 5,
        },
        {
          "type": "range",
          "id": "padding_bottom_desktop",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.image-comparison-slider.blocks.heading.settings.padding_bottom_desktop.label",
          "default": 5,
        },
        {
          "type": "range",
          "id": "padding_top_mobile",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.image-comparison-slider.blocks.heading.settings.padding_top_mobile.label",
          "default": 3,
        },
        {
          "type": "range",
          "id": "padding_bottom_mobile",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.image-comparison-slider.blocks.heading.settings.padding_bottom_mobile.label",
          "default": 3,
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-comparison-slider.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Sign up to receive your welcome offer, plus access to product launches and exclusive offers",
          "label": "t:sections.image-comparison-slider.blocks.text.settings.text.label"
        },
        {
          "type": "range",
          "id": "size",
          "min": 8,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "t:sections.image-comparison-slider.blocks.text.settings.size.label",
          "default": 16
        },
        {
          "type": "range",
          "id": "size_mobile",
          "min": 8,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "t:sections.image-comparison-slider.blocks.text.settings.size_mobile.label",
          "default": 14
        },
        {
          "type": "header",
          "content": "t:sections.image-comparison-slider.blocks.text.settings.styling.content"
        },
        {
          "type": "color",
          "id": "color",
          "label": "t:sections.all.common.body_color.label",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "highlighted_color",
          "label": "t:sections.all.common.bolded_text_color.label",
          "default": "#000000"
        },
        {
          "type": "checkbox",
          "id": "text_use_gradient",
          "label": "t:sections.all.common.use_gradient_text.label",
          "default": false
        },
        {
          "type": "color_background",
          "id": "text_gradient_color",
          "label": "t:sections.all.common.text_gradient_color.label",
          "visible_if": "{{ block.settings.text_use_gradient }}",
          "default": "linear-gradient(180deg, rgba(251, 51, 166, 1), rgba(127, 72, 176, 1) 50%, rgba(48, 145, 211, 1) 100%)"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top_desktop",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.image-comparison-slider.blocks.text.settings.padding_top_desktop.label",
          "default": 5,
        },
        {
          "type": "range",
          "id": "padding_bottom_desktop",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.image-comparison-slider.blocks.text.settings.padding_bottom_desktop.label",
          "default": 5,
        },
        {
          "type": "range",
          "id": "padding_top_mobile",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.image-comparison-slider.blocks.text.settings.padding_top_mobile.label",
          "default": 3,
        },
        {
          "type": "range",
          "id": "padding_bottom_mobile",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.image-comparison-slider.blocks.text.settings.padding_bottom_mobile.label",
          "default": 3,
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Shop Now",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "range",
          "id": "button_label_1_size",
          "step": 1,
          "min": 12,
          "max": 30,
          "unit": "px",
          "label": "t:sections.all.common.button.label_size_desktop",
          "default": 14
        },
        {
          "type": "range",
          "id": "button_label_1_size_mobile",
          "step": 1,
          "min": 12,
          "max": 30,
          "unit": "px",
          "label": "t:sections.all.common.button.label_size_mobile",
          "default": 12
        },
        {
          "type": "color",
          "id": "button_1_text_color",
          "label": "t:sections.all.common.button.text_color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_1_background_color",
          "label": "t:sections.all.common.button.background_color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "button_1_border_radius",
          "step": 1,
          "min": 0,
          "max": 20,
          "unit": "px",
          "label": "t:sections.all.common.button.border_radius",
          "default": 6
        },
        {
          "type": "range",
          "id": "button_padding_vertical",
          "min": 0,
          "max": 32,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.common.button.padding_vertical",
          "default": 8
        },
        {
          "type": "range",
          "id": "button_width_increase_desktop",
          "step": 1,
          "min": 0,
          "max": 100,
          "unit": "%",
          "label": "t:sections.all.common.button.width_increase_desktop",
          "default": 0
        },
        {
          "type": "range",
          "id": "button_width_increase_mobile",
          "step": 1,
          "min": 0,
          "max": 100,
          "unit": "%",
          "label": "t:sections.all.common.button.width_increase_mobile",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top_desktop",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.image-comparison-slider.blocks.buttons.settings.padding_top_desktop.label",
          "default": 5,
        },
        {
          "type": "range",
          "id": "padding_bottom_desktop",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.image-comparison-slider.blocks.buttons.settings.padding_bottom_desktop.label",
          "default": 5,
        },
        {
          "type": "range",
          "id": "padding_top_mobile",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.image-comparison-slider.blocks.buttons.settings.padding_top_mobile.label",
          "default": 3,
        },
        {
          "type": "range",
          "id": "padding_bottom_mobile",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.image-comparison-slider.blocks.buttons.settings.padding_bottom_mobile.label",
          "default": 3,
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-comparison-slider.presets.name",
      "settings": {
        "before_image": "shopify://shop_images/c76dcfcaf28559ff49a0679b6af6e3b792f55db8_1.png",
        "after_image": "shopify://shop_images/c76dcfcaf28559ff49a0679b6af6e3b792f55db8_1.png",
        "image_height": 500,
        "image_height_mobile": 300,
        "before_label": "Before",
        "after_label": "After",
        "default_slider_position": 50,
        "layout_desktop": "slider_second",
        "layout_mobile": "slider_first_mobile",
        "desktop_content_alignment": "center",
        "mobile_content_alignment": "center",
        "card_background_color": "#f8f8f8",
        "card_border_radius": 6,
        "labels_background_color": "#000000",
        "labels_text_color": "#ffffff",
        "labels_font_size": 14,
        "labels_border_radius": 5,
        "line_color": "#ffffff",
        "line_width": 4,
        "divider_icon_color": "#000000",
        "divider_icon_size": 40,
        "color_scheme": "accent-1",
        "card_padding_top": 0,
        "card_padding_right": 0,
        "card_padding_bottom": 0,
        "card_padding_left": 0,
        "card_padding_top_mobile": 0,
        "card_padding_right_mobile": 0,
        "card_padding_bottom_mobile": 0,
        "card_padding_left_mobile": 0,
        "padding_top": 24,
        "padding_bottom": 24
      },
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "heading": "Our <em><strong>Exciting Results</strong></em>",
            "size": 40,
            "mobile_font_size": 28,
            "color": "#000000",
            "highlighted_color": "#000000",
            "heading_use_gradient": true,
            "heading_gradient_color": "",
            "padding_top_desktop": 5,
            "padding_bottom_desktop": 5,
            "padding_top_mobile": 3,
            "padding_bottom_mobile": 3
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "Sign up to receive your welcome offer, plus access to product launches and exclusive offers",
            "size": 14,
            "size_mobile": 14,
            "color": "#666666",
            "highlighted_color": "#000000",
            "text_use_gradient": false,
            "text_gradient_color": "",
            "padding_top_desktop": 5,
            "padding_bottom_desktop": 5,
            "padding_top_mobile": 3,
            "padding_bottom_mobile": 3
          }
        },
        {
          "type": "buttons",
          "settings": {
            "button_label_1": "Shop Now",
            "button_link_1": "shopify://products/2024-summer-slides",
            "button_label_1_size": 14,
            "button_label_1_size_mobile": 12,
            "button_1_text_color": "#ffffff",
            "button_1_background_color": "#000000",
            "button_1_border_radius": 6,
            "button_padding_vertical": 8,
            "button_width_increase_desktop": 0,
            "button_width_increase_mobile": 68,
            "padding_top_desktop": 5,
            "padding_bottom_desktop": 5,
            "padding_top_mobile": 11,
            "padding_bottom_mobile": 27
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
