{%- liquid
   assign global_heading_size = settings.enable_global_heading_font_size
   assign global_color = settings.enable_global_color
-%}

<style>
  {% if request.visual_preview_mode %}
    {% assign section_id_variable = 'id' %}
    {% assign section_id_selector = '' %}
  {% else %}
    {% assign section_id_variable = section.id %}
    {% assign section_id_selector = '#shopify-section-' | append: section.id %}
  {% endif %}
  {{ section_id_selector }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  {{ section_id_selector }} .section-{{ section_id_variable }} {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
  }
  {{ section_id_selector }} .main-key-feature-card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: {{ section.settings.card_top_padding }}px {{ section.settings.card_right_padding }}px {{ section.settings.card_bottom_padding }}px 0px;
    padding-left: 0;
    gap: {{ section.settings.card_gap_desktop }}px;
    border-radius: {{ section.settings.card_border_radius }}px;
  }

  {{ section_id_selector }} .main-key-feature-card-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    flex: 1;
  }
  
  {{ section_id_selector }} .main-key-feature-card-title {
    {% if global_heading_size %}
      font-size: var(--font-heading-size);
    {% else %}
      font-size: {{ section.settings.card_title_font_size_desktop }}px;
    {% endif %}
    {% if global_color %}
      color: rgb(var(--color-base-heading));
    {% else %}
      color: {{ section.settings.card_title_color }};
    {% endif %}
    margin: 0;
    margin-left: {{ section.settings.card_left_padding }}px;
  }
  {{ section_id_selector }} .main-key-feature-card-title p {
    margin: 0;
  }
  {{ section_id_selector }} .main-key-feature-card-title strong {
    {% if section.settings.card_title_use_gradient %}
      background: {{ section.settings.card_title_color_bold_gradient | default: 'linear-gradient(136deg, rgba(10, 234, 237, 1) 11%, rgba(250, 13, 253, 1) 84%)' }};
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    {% else %}
      color: {{ section.settings.card_title_color_bold }};
    {% endif %}
  }

  .main-key-feature-card-image:empty {
    display: flex;
  }
  {{ section_id_selector }} .main-key-feature-card-image {
   
    height: 100%;
    flex: 1;
    display: block;
    overflow: hidden;
    border-radius: {{ section.settings.card_image_border_radius }}px;
    position: relative;
  }
  @media screen and (min-width: 768px) {
    {{ section_id_selector }} .main-key-feature-card-image {
      {% if section.settings.image_height == 'small' and section.settings.card_image != blank %}
        min-height: 489px;
      {% elsif section.settings.image_height == 'medium' and section.settings.card_image != blank %}
        min-height: 639px;
      {% elsif section.settings.image_height == 'large' and section.settings.card_image != blank %}
        min-height: 800px;
      {% endif %}
    }
  }
  {{ section_id_selector }} .main-key-feature-card-image img, {{ section_id_selector }} .main-key-feature-card-image svg {
    width: 100%;
    height: 0%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index:2;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  {{ section_id_selector }} .main-key-feature-card-image img.show, {{ section_id_selector }} .main-key-feature-card-image svg.show {
    opacity: 1;
    height: 100%;
  }
  
  {{ section_id_selector }} .main-key-feature-card-image img.main-image, {{ section_id_selector }} .main-key-feature-card-image svg.main-image {
    opacity: 1;
    display: block;
    z-index:1;
    transition: none;
  }
  {{ section_id_selector }} .main-key-feature-card-image svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index:1;
  }
  @media screen and (max-width: 768px) {
    {{ section_id_selector }} .main-key-feature-card-title {
      {% if global_heading_size %}
        font-size: var(--font-heading-mob-size);
      {% else %}
        font-size: {{ section.settings.card_title_font_size_mobile }}px;
      {% endif %}
    }
  }

  @media screen and (max-width: 768px) {
    {{ section_id_selector }} .main-key-feature-card {
      gap: {{ section.settings.card_gap_mobile }}px;
    }
  }
  @media screen and (max-width: 1024px) {
    {{ section_id_selector }} .main-key-feature-card {
      grid-template-columns: 1fr;
      gap: {{ section.settings.card_gap_mobile }}px;
    }
    {{ section_id_selector }} .main-key-feature-card-image {
      height: 400px;
      margin-left: {{ section.settings.card_right_padding }}px;
    }
  }
  @media screen and (max-width: 425px) {
    {{ section_id_selector }} .main-key-feature-card-image {
      height: 269px;
    }
  }
</style>

<div class="section__key_features color-{{ section.settings.color_scheme }} section-{{ section.id }}">
  <div class="main-key-feature page-width" style="max-width: {{ section.settings.card_max_width }}px !important;width: 100%;">
    <div class="main-key-feature-card  color-{{ section.settings.card_color_scheme }}">
      <div class="main-key-feature-card-content">
        <h2 class="main-key-feature-card-title">{{ section.settings.card_title }}</h2>
        {% content_for 'blocks' %}

      </div>
      <div class="main-key-feature-card-image">
        {% if section.settings.card_image != blank %}
          {{ section.settings.card_image | image_url: width: 1000 | image_tag: class: 'main-image show' }}
        {% else %}
          {{ 'image' | placeholder_svg_tag: "main-image show" }}
        {% endif %} 
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.key-features.name",
  "tag": "section",
  "class": "section animation-section",
  "blocks": [
    {
      "type": "_key-features-list"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.key-features.settings.content.content"
    },
    {
      "type": "richtext",
      "id": "card_title",
      "label": "t:sections.key-features.settings.card_title.label",
      "default": "<p>How This Product will Transform Customer's Life</p>"
    },
    {
      "type": "image_picker",
      "id": "card_image",
      "label": "t:sections.key-features.settings.card_image.label",
      "info": "t:sections.key-features.settings.card_image.info"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.key-features.settings.image_height.label"
    },
    {
      "type": "header",
      "content": "t:sections.key-features.settings.typography.content"
    },
    {
      "type": "range",
      "id": "card_title_font_size_desktop",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.key-features.settings.card_title_font_size_desktop.label",
      "default": 35
    },
    {
      "type": "range",
      "id": "card_title_font_size_mobile",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.key-features.settings.card_title_font_size_mobile.label",
      "default": 16
    },
    {
      "type": "color",
      "id": "card_title_color",
      "label": "t:sections.key-features.settings.card_title_color.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "card_title_color_bold",
      "label": "t:sections.key-features.settings.card_title_color_bold.label",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "card_title_use_gradient",
      "label": "t:sections.key-features.settings.card_title_use_gradient.label",
      "default": false,
      "info": "t:sections.key-features.settings.card_title_use_gradient.info"
    },
    {
      "type": "color_background",
      "id": "card_title_color_bold_gradient",
      "label": "t:sections.key-features.settings.card_title_color_bold_gradient.label",
      "default": "linear-gradient(136deg, rgba(10, 234, 237, 1) 11%, rgba(250, 13, 253, 1) 84%)",
      "visible_if": "{{ section.settings.card_title_use_gradient }}"
    },
    {
      "type": "header",
      "content": "t:sections.key-features.settings.size.content"
    },
    {
      "type": "range",
      "id": "card_max_width",
      "min": 1400,
      "max": 2500,
      "step": 100,
      "unit": "px",
      "label": "t:sections.key-features.settings.card_max_width.label",
      "default": 1600 
    },
    {
      "type": "header",
      "content": "t:sections.key-features.settings.spacing.content"
    },
    {
      "type": "range",
      "id": "card_gap_desktop",
      "min": 0,
      "max": 100,
      "step": 2, 
      "unit": "px",
      "label": "t:sections.key-features.settings.card_gap_desktop.label",
      "default": 60
    },
    {
      "type": "range",
      "id": "card_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.key-features.settings.card_gap_mobile.label",
      "default": 30
    },
    {
      "type": "header",
      "content": "t:sections.key-features.settings.styling.content"
    },
    {
      "type": "range",
      "id": "card_border_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.key-features.settings.card_border_radius.label",
      "default": 8
    },
    {
      "type": "range",
      "id": "card_top_padding",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.key-features.settings.card_top_padding.label",
      "default": 16
    },
    {
      "type": "range",
      "id": "card_bottom_padding",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.key-features.settings.card_bottom_padding.label",
      "default": 16
    },
    {
      "type": "range",
      "id": "card_left_padding",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.key-features.settings.card_left_padding.label",
      "default": 16
    },
    {
      "type": "range",
      "id": "card_right_padding",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.key-features.settings.card_right_padding.label",
      "default": 16
    },
    {
      "type": "header",
      "content": "t:sections.key-features.settings.image_styling.content"
    },
    {
      "type": "range",
      "id": "card_image_border_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.key-features.settings.card_image_border_radius.label",
      "default": 8
    },
    {
      "type": "header",
      "content": "t:sections.key-features.settings.section_styling.content"
    },
    {
      "type": "select",
      "id": "card_color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "custom-color-1",
          "label": "t:sections.all.colors.custom_color_1.label"
        },
        {
          "value": "custom-color-2",
          "label": "t:sections.all.colors.custom_color_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        },
        {
          "value": "gradient-background-1",
          "label": "t:sections.all.colors.gradient_background_1.label"
        }
      ],
      "default": "accent-2",
      "label": "t:sections.key-features.settings.card_color_scheme.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "custom-color-1",
          "label": "t:sections.all.colors.custom_color_1.label"
        },
        {
          "value": "custom-color-2",
          "label": "t:sections.all.colors.custom_color_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        },
        {
          "value": "gradient-background-1",
          "label": "t:sections.all.colors.gradient_background_1.label"
        }
      ],
      "default": "accent-1",
      "label": "t:sections.key-features.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 24
    }
  ],
  "presets": [
    {
      "name": "t:sections.key-features.presets.name",
      "settings": {
        "card_title": "<p>How This Product will Transform <em>Customer's Life</em></p>",
        "card_image": "shopify://shop_images/c76dcfcaf28559ff49a0679b6af6e3b792f55db8.png",
        "card_title_font_size_desktop": 35,
        "card_title_font_size_mobile": 16,
        "card_title_color": "#ffffff",
        "card_title_color_bold": "#ffffff",
        "card_title_use_gradient": false,
        "card_title_color_bold_gradient": "linear-gradient(136deg, rgba(10, 234, 237, 1) 11%, rgba(250, 13, 253, 1) 84%)",
        "card_color_scheme": "gradient-background-1",
        "card_border_radius": 5,
        "card_left_padding": 16,
        "card_right_padding": 16,
        "card_bottom_padding": 16,
        "card_top_padding": 16,
        "card_gap_desktop": 60,
        "card_gap_mobile": 30,
        "card_image_border_radius": 8,
        "card_max_width": 1600,
        "color_scheme": "custom-color-1",
        "padding_top": 24,
        "padding_bottom": 24
      },
      "blocks": [
        {
          "type": "_key-features-list",
          "settings": {
            "card_list_item_title_font_size_desktop": 16,
            "card_list_item_title_font_size_mobile": 13,
            "card_list_item_text_font_size_desktop": 14,
            "card_list_item_text_font_size_mobile": 16,
            "card_list_item_badge_font_size_desktop": 13,
            "card_list_item_badge_font_size_mobile": 16,
            "card_list_item_title_color": "#ffffff",
            "card_list_item_text_color": "#eaeaea",
            "card_list_item_badge_color": "#1e1e1e",
            "card_list_item_badge_background_color": "#ffffff",
            "card_list_item_badge_border_radius": 140,
            "card_list_item_badge_padding_vertical": 5,
            "card_list_item_badge_padding_horizontal": 10,
            "badge_has_border": true,
            "badge_border_color": "#ffffff",
            "badge_border_width": 1,
            "card_list_item_left_line_color": "#ffffff",
            "card_list_item_left_line_has_gradient": false,
            "card_list_item_left_line_gradient": "linear-gradient(136deg, rgba(10, 234, 237, 1) 11%, rgba(250, 13, 253, 1) 84%)",
            "card_list_item_left_line_opacity": 60,
            "card_list_item_left_line_width": 1,
            "card_list_arrow_size": 18,
            "card_list_item_arrow_color": "#ffffff",
            "card_list_item_arrow_opacity": 60
          },
          "blocks": [
            {
              "type": "_key-feature-item",
              "name": "Key feature",
              "settings": {
                "badge": "<p>First Benefit</p>",
                "title": "<p>Deep Nourishment</p>",
                "text": "<p>Hydrates deeply and restores your skin’s natural glow. Keeps it soft, smooth, and healthy all day.</p>",
                "image": "shopify://shop_images/7318c64ca5d865c0805acd899b6d9f5468fbcd7f.png"
              }
            },
            {
              "type": "_key-feature-item",
              "name": "Key feature",
              "settings": {
                "badge": "<p>Second Benefit</p>",
                "title": "<p>Bright & Even Tone</p>",
                "text": "<p>Say goodbye to dullness and uneven patches. Formula works to brighten your skin and reduce dark spots.</p>",
                "image": "shopify://shop_images/fea6112766507e954cb8084de3b97b0620051f3c.png"
              }
            },
            {
              "type": "_key-feature-item",
              "name": "Key feature",
              "settings": {
                "badge": "<p>Third Benefit </p>",
                "title": "<p>Protection & Healing</p>",
                "text": "<p>Shields your skin from everyday environmental stress  Supports faster healing of minor irritations and dryness.</p>",
                "image": "shopify://shop_images/Sef6cab695830404bafa8caf6342768d1f.webp"
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
