{%- liquid
  assign global_heading_size = settings.enable_global_heading_font_size
  assign global_body_size = settings.enable_global_body_font_size
  assign global_color = settings.enable_global_color
  assign section_id_variable = section.id
  -%}
  
  {% if request.visual_preview_mode %}
   {% comment %} For rendering in the theme editor visual preview. {% endcomment %}
   {% assign section_id_variable = "id" %}
   {% assign section_id_selector = '' %}
  {% else %}
   {% assign section_id_selector = '#shopify-section-' | append: section.id %}
  {% endif %}
<style>
  #carousel-container-{{ section_id_variable }} .play-icon-container {
    position: relative;
    background: rgb(var(--color-background));
    border: 0px solid transparent !important;
    height: {{ section.settings.video_button_size }}px;
    border-radius: 50%;
    width: {{ section.settings.video_button_size }}px;
    z-index: 0;
    cursor: pointer;
  }

  #carousel-container-{{ section_id_variable }} .slide-text-container {
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
  }

  #carousel-container-{{ section_id_variable }} .play-button-element {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    background-color: transparent !important;
    border: 0px solid transparent !important;
    padding: 0;
  }

  #carousel-container-{{ section_id_variable }} .full-size {
    width: 100%;
    height: 100%;
  }

  #carousel-container-{{ section_id_variable }} .flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #carousel-container-{{ section_id_variable }} .video-container {
    aspect-ratio: 9 / 16;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  #carousel-container-{{ section_id_variable }} .video-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  #carousel-container-{{ section_id_variable }} .video-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  #carousel-container-{{ section_id_variable }} .swiper-pagination {
    position: initial;
}

.section__reel_carousel-{{section.id }} span.swiper-pagination-bullet:before {
  /* content: " "; */
  width: .8rem;
  height: .8rem;
  display: block;
  border-radius: 50%;
  /* content: ""; */
  text-align: center;
  opacity: .25;
  background: rgb(var(--color-foreground));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section__reel_carousel-{{section.id }} .swiper-pagination span.swiper-pagination-bullet {
  background: transparent;
  opacity: 1;
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  position: relative;
  margin: 0px;
  font-size: 0;
  line-height: 0;
  display: block;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.section__reel_carousel-{{section.id }} .swiper-pagination span.swiper-pagination-bullet:before {
  content: " ";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: .6rem;
  height: .6rem;
  display: block;
  border-radius: 50%;
  content: "";
  text-align: center;
  opacity: .25;
  background: rgb(var(--color-foreground));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 100ms linear;
}

.section__reel_carousel-{{section.id }} .swiper-pagination.swiper-pagination-template--20160211484884__reel_carousel_4PMqem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.section__reel_carousel-{{section.id }} .swiper-pagination span.swiper-pagination-bullet:hover:before{
  opacity: 1;
}

.section__reel_carousel-{{section.id }} .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before{
  opacity: .75;
  width: 1.1rem;
  height: 1.1rem;
}


</style>


  
{% if request.visual_preview_mode %}
  {%- style -%}
      /* Fallback layout styles for when Slick isn't loaded */
      #carousel-container-{{ section_id_variable }}:not(.slick-initialized) {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: hidden;
        gap: {{ section.settings.desktop_spacing }}px;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
      }
      #carousel-container-{{ section_id_variable }} .swiper-wrapper {
        gap: 10px;
      }
      #carousel-container-{{ section_id_variable }}:not(.slick-initialized) .slide-padding-container {
        flex: 0 0 calc((100% - ({{ section.settings.desktop_spacing }}px * ({{ section.settings.slides_to_show_desktop }} - 1))) / {{ section.settings.slides_to_show_desktop }});
        scroll-snap-align: start;
        min-width: 0;
        border: 2px solid #b4b4b4; /* nice border for preview mode */
        border-radius: 20px;
      }
      
      @media screen and (max-width: 768px) {
        #carousel-container-{{ section_id_variable }}:not(.slick-initialized) .slide-padding-container {
          flex: 0 0 calc((100% - ({{ section.settings.mobile_spacing }}px * ({{ section.settings.slides_to_show_mobile }} - 1))) / {{ section.settings.slides_to_show_mobile }});
        }
      }
      
      /* Hide fallback layout when Slick is active */
      #carousel-container-{{ section_id_variable }}.slick-initialized {
        display: block;
      }
      
      #carousel-container-{{ section_id_variable }}.slick-initialized .slide-padding-container {
        flex: none;
      }
    {%- endstyle -%}
{% endif %}


{%- style -%}
  {%- if request.visual_preview_mode -%}
    {% comment %} don't want fade-in animation in preview mode because it messes up preview {% endcomment %}
    .animation_section,
    .animation_section * {
      opacity: 1 !important;
      transform: none !important;
      transition: none !important;
      will-change: auto !important;
    }
  {%- endif -%}
  {{ section_id_selector }} .section__reel_carousel {
    padding: 5px 0;
  }
  {{ section_id_selector }} .slick-slider{
    direction: ltr!important;
  }
  .section-{{ section_id_variable }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section_id_variable }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  #heading-section-{{ section_id_variable }} {
    font-size: {% if global_heading_size %}var(--font-heading-size) !important{% else %}{{ section.settings.heading_size }}px !important{% endif %};
    line-height: {% if global_heading_size %}calc(var(--font-heading-size) + 8px) !important{% else %}{{ section.settings.heading_size | plus: 8 }}px{% endif %};
    color: {% if global_color %}rgb(var(--color-base-heading)){% else %}{{ section.settings.heading_color }}{% endif %};
    --color-highlighted-color: {{ section.settings.bolded_heading_color }};
  }

  {{ section_id_selector }} .swiper-pagination {
    position: initial;
    margin-top: 35px;
    border-radius: 100px;
    overflow: hidden;
    background: {{ section.settings.progress_bar_background_color_primary }};
    height: {{  section.settings.progress_bar_height}}px;
  }
  @media (max-width: 768px) {
    {{ section_id_selector }} .swiper-pagination {
      margin-top: 13px;
    }
  }
  {{ section_id_selector }} .swiper-pagination-progressbar-fill {
    border-radius: 100px;
    background: {{ section.settings.progress_bar_background_color_secondary }};
    height: {{  section.settings.progress_bar_height}}px;
  }
  {{ section_id_selector }} .play-icon-container{
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 16px;
    margin-right: 16px;
    background: transparent;
  }
  {{ section_id_selector }} .play-icon-container svg{
    width: 100%;
    height: 100%;
  }
  @media (max-width: 768px) {
    #heading-section-{{ section_id_variable }} {
      font-size: {% if global_heading_size %}var(--font-heading-mob-size) !important{% else %}{{ section.settings.mobile_heading_size }}px !important{% endif %};
      line-height: {% if global_heading_size %}calc(var(--font-heading-mob-size) + 6px) !important{% else %}{{ section.settings.mobile_heading_size | plus: 6 }}px{% endif %};
    }
  }
  .slide-padding-container{
    box-sizing: border-box;
  }

  /* @media screen and (min-width: 768px) {
    .slide-padding-container {
      padding-left: {{ section.settings.desktop_spacing}}px;
      padding-right: {{ section.settings.desktop_spacing}}px;
    }
  } */

  /* @media screen and (max-width: 768px) {
    .slide-padding-container {
      padding-left: {{ section.settings.mobile_spacing}}px;
      padding-right: {{ section.settings.mobile_spacing}}px;
    }
  } */

  .carousel-image {
    width: 100%;
    height: 100%;
    aspect-ratio: 9 / 16;
    object-fit: cover;
    border-radius: {{ section.settings.border_radius }}px;
  }
  .prev-button-{{ section.id }},
  .next-button-{{ section.id }} {
    z-index: 1;
  }

  #heading-section-{{ section_id_variable }} strong {
    {%- if section.settings.heading_use_gradient -%}
      background: {% if section.settings.heading_gradient_color != blank %}{{ section.settings.heading_gradient_color }}{% else %}var(--gradient-base-background-1){% endif %};
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    {%- endif -%}
  }
  {{ section_id_selector }} .play-icon-container button, {{ section_id_selector }} .play-icon-container svg {
    width: {{ section.settings.video_button_size }}px;
    height: {{ section.settings.video_button_size }}px;
  }
{%- endstyle -%}

<div class="section__reel_carousel section__reel_carousel-{{section.id }} color-{{ section.settings.color_scheme }}">
  <div class="section-{{ section_id_variable }}-padding">
      <div class="page-width">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              {% style %}
                #heading-section-{{ block.id }} {
                  color: {% if global_color %}rgb(var(--color-base-heading)){% else %}{{ block.settings.color }}{% endif %};
                  font-size: {% if global_heading_size %}var(--font-heading-size) !important{% else %}{{ block.settings.size }}px !important{% endif %};
                  line-height: {% if global_heading_size %}calc(var(--font-heading-size) + 8px) !important{% else %}{{ block.settings.size | plus: 8 }}px{% endif %};
                  margin: 0;
                  padding-top: {{ block.settings.padding_top_desktop }}px;
                  padding-bottom: {{ block.settings.padding_bottom_desktop }}px;
                  text-align: {{ section.settings.content_alignment }};
                  width: 100%;
                }
                @media (max-width: 768px) {
                  #heading-section-{{ block.id }} {
                    padding-top: {{ block.settings.padding_top_mobile }}px;
                    padding-bottom: {{ block.settings.padding_bottom_mobile }}px;
                    font-size: {% if global_heading_size %}var(--font-heading-mob-size) !important{% else %}{{ block.settings.mobile_font_size }}px !important{% endif %};
                    line-height: {% if global_heading_size %}calc(var(--font-heading-mob-size) + 6px) !important{% else %}{{ block.settings.mobile_font_size | plus: 6 }}px{% endif %};
                    text-align: {{ section.settings.content_alignment }};
                  }
                }
  
                #heading-section-{{ block.id }} strong {
                  {%- if block.settings.heading_use_gradient -%}
                    background: {% if block.settings.heading_gradient_color != blank %}{{ block.settings.heading_gradient_color }}{% else %}var(--gradient-base-background-1){% endif %};
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                  {%- endif -%}
                }
              {% endstyle %}
  
              <h2 id="heading-section-{{ block.id }}" class="title banner__heading" {{ block.shopify_attributes }}>
                <span style="--color-highlighted-color: {{ block.settings.highlighted_color }};">{{ block.settings.heading }}</span>
              </h2>
  
            {%- when 'text' -%}
              {% style %}
                #text-section-{{ block.id }} {
                  margin: 0;
                  padding-top: {{ block.settings.padding_top_desktop }}px;
                  padding-bottom: {{ block.settings.padding_bottom_desktop }}px;
                  text-align: {{ section.settings.content_alignment }};
                  font-size: {{ block.settings.size }}px;
                  line-height: {{ block.settings.size | plus: 8 }}px;
                  color: {% if global_color %}rgb(var(--color-base-text)){% else %}{{ block.settings.color }}{% endif %};
                }
                #text-section-{{ block.id }} strong {
                  {% if block.settings.text_use_gradient %}
                    background: {% if block.settings.text_gradient_color != blank %}{{ block.settings.text_gradient_color }}{% else %}var(--color-highlighted-color){% endif %};
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                  {% else %}
                    color: {{ block.settings.highlighted_color }};
                  {% endif %}
                }
                @media (max-width: 750px) {
                  #text-section-{{ block.id }} {
                    padding-top: {{ block.settings.padding_top_mobile }}px;
                    padding-bottom: {{ block.settings.padding_bottom_mobile }}px;
                    text-align: {{ section.settings.content_alignment }};
                    font-size: {{ block.settings.size_mobile }}px;
                    line-height: {{ block.settings.size_mobile | plus: 6 }}px;
                  }
                }
              {% endstyle %}
              <div id="text-section-{{ block.id }}" class="body image-with-text__text rte sw-base-text-color body" {{ block.shopify_attributes }}>
                <div>{{ block.settings.text }}</div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>

    <div class="page-width">
      <div class="carousel-wrapper" style="position: relative;">
        <div id="carousel-container-{{ section_id_variable }}" class="swiper fade-in-child">
          <div class="swiper-wrapper">
            {%- for block in section.blocks -%}
              {% if block.type == 'heading' or block.type == 'text'%}
                {% continue %}
              {% endif %}
              <div class="swiper-slide slide-padding-container">
                <div
                  {{ block.shopify_attributes }}
                  class="video-container"
                  style="position: relative;"
                >
                  {%- liquid
                    assign video_type = 'local'
                    assign video_src = ''
                    
                    # Determine video type and source
                    if block.settings.video_src != blank
                      # Shopify-hosted video (direct upload)
                      assign video_type = 'local'
                      assign video_src = block.settings.video_src
                    elsif block.settings.video_url != blank
                      # External video URL (YouTube/Vimeo)
                      if block.settings.video_url.type == 'youtube'
                        assign video_type = 'youtube'
                        assign video_id = block.settings.video_url.id
                      elsif block.settings.video_url.type == 'vimeo'
                        assign video_type = 'vimeo'
                        assign video_id = block.settings.video_url.id
                      endif
                    elsif block.settings.direct_video_url != blank
                      # Direct video URL (e.g., https://example.com/video.mp4)
                      assign video_type = 'url'
                      assign video_src = block.settings.direct_video_url
                    endif
                  -%}
                  
                  {%- case video_type -%}
                    {%- when 'youtube' -%}
                      <iframe 
                        src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&rel=0&showinfo=0&modestbranding=1" 
                        class="js-youtube" 
                        allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen 
                        title="Video"
                        style="width: 100%; height: 100%; border: none; position: absolute; top: 0; left: 0; object-fit: cover;"
                      ></iframe>
                      
                    {%- when 'vimeo' -%}
                      <iframe 
                        src="https://player.vimeo.com/video/{{ video_id }}?title=0&byline=0&portrait=0" 
                        class="js-vimeo" 
                        allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen 
                        title="Video"
                        style="width: 100%; height: 100%; border: none; position: absolute; top: 0; left: 0; object-fit: cover;"
                      ></iframe>
                      
                    {%- when 'url' -%}
                      <video 
                        class="carousel-image" 
                        src="{{ video_src }}" 
                        {%- if block.settings.video_thumb -%}
                        poster="{{ block.settings.video_thumb | image_url }}"
                        {%- endif -%}
                      ></video>
                      <button class="play-button-element full-size flex-center-center" aria-label="Play video" onclick="toggleVideoPlayback(event)">
                        <div aria-hidden="true" class="play-icon-container flex-center-center color-{{ section.settings.color_scheme }}">
                          {% render 'icon-play-video', background_color: section.settings.video_button_background_color, border_color: section.settings.video_button_border_color, icon_color: section.settings.video_button_icon_color %}
                          {% render 'icon-stop-video', background_color: section.settings.video_button_background_color, border_color: section.settings.video_button_border_color, icon_color: section.settings.video_button_icon_color %}
                        </div>
                      </button>
                      
                    {%- else -%}
                      {%- if block.settings.video_src != blank -%}
                        {%- if block.settings.video_thumb -%}
                          {%- assign poster = block.settings.video_thumb | image_url -%}
                          {% capture video_html %}{{ block.settings.video_src | video_tag: 
                            image_size: '1100x',
                            poster: poster,
                            loop: true,
                            class: 'carousel-image',
                            controls: false
                          }}{% endcapture %}
                          {% capture img_with_alt %}<img alt="{{ product.title }} video" loading="lazy" decoding="async" width="1100" height="1100">{% endcapture %}
                          {{ video_html | replace: "<img ", img_with_alt }}
                        {%- else -%}
                          
                          {% capture video_html %}{{ block.settings.video_src | video_tag: 
                            image_size: '1100x',
                            loop: true,
                            class: 'carousel-image',
                            controls: false
                          }}{% endcapture %}
                          {% capture img_with_alt %}<img alt="{{ product.title }} video" loading="lazy" decoding="async" width="1100" height="1100">{% endcapture %}
                          {{ video_html | replace: "<img ", img_with_alt }}
                        {%- endif -%}
                        <button class="play-button-element full-size flex-center-center" aria-label="Play video" onclick="toggleVideoPlayback(event)">
                          <div aria-hidden="true" class="play-icon-container flex-center-center color-{{ section.settings.color_scheme }}">
                            {% render 'icon-play-video', background_color: section.settings.video_button_background_color, border_color: section.settings.video_button_border_color, icon_color: section.settings.video_button_icon_color %}
                            {% render 'icon-stop-video', background_color: section.settings.video_button_background_color, border_color: section.settings.video_button_border_color, icon_color: section.settings.video_button_icon_color %}
                          </div>
                        </button>
                      {%- endif -%}
                  {%- endcase -%}
                 
                </div>
              </div>
            {%- endfor -%}
          </div>
        </div>

        {% if section.settings.show_progress_bar %}
        <div class="swiper-pagination swiper-pagination-{{ section.id }}"></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script async>

  let swiper{{ section.id | replace: '-', '' }};
  function toggleVideoPlayback(event) {
    if (!event?.target) return;

    const container = event.target.closest('.video-container');
    if (!container) return;

    const buttonWrapper = container.querySelector('.play-icon-container');
    const videoElement = container.querySelector('video');
    if (!buttonWrapper || !videoElement) return;

    if (videoElement.paused) {
      videoElement.play();
      {% if section.settings.autoscroll_slides %}
        swiper{{ section.id | replace: '-', '' }}.autoplay.stop();
      {% endif %}
      buttonWrapper.querySelector('.play-icon').style.display = 'none';
      buttonWrapper.querySelector('.stop-icon').style.display = 'block';
    } else {
      videoElement.pause();
      {% if section.settings.autoscroll_slides %}
        swiper{{ section.id | replace: '-', '' }}.autoplay.start();
      {% endif %}
      buttonWrapper.querySelector('.play-icon').style.display = 'block';
      buttonWrapper.querySelector('.stop-icon').style.display = 'none';
    }
  }

  function setupSwiperJs{{ section.id | replace: '-', '' }}() {
    swiper{{ section.id | replace: '-', '' }} = new Swiper(`#carousel-container-{{ section_id_variable }}`, {
      watchSlidesProgress: true,
      {% if section.settings.show_arrow_buttons %}
      navigation: {
        nextEl: `.next-button-{{ section.id }}`,
        prevEl: `.prev-button-{{ section.id }}`
      },
      {% endif %}
      {% if section.settings.show_progress_bar %}
      pagination: {
        el: '.swiper-pagination-{{ section.id }}',
        type: 'progressbar',
        clickable: true
      },
      {% endif %}
      {% if section.settings.autoscroll_slides %}
      autoplay: {
        delay: {{ section.settings.autoscroll_speed | times: 1000 }}
      },
      {% endif %}
      loop: {{ section.settings.infinite_looping }},
      centeredSlides: true,
      slidesPerView: {{ section.settings.slides_to_show_mobile}},
      spaceBetween: {{ section.settings.mobile_spacing }},
      breakpoints: {
        768: {
          centeredSlides: true,
          spaceBetween: {{ section.settings.desktop_spacing }},
          slidesPerView: {{ section.settings.slides_to_show_desktop  }}
        }
      }
    })
  }

  function cleanupSwiper{{ section.id | replace: '-', '' }}() {
    if (swiper{{ section.id | replace: '-', '' }}) {
      swiper{{ section.id | replace: '-', '' }}.destroy();
      swiper{{ section.id | replace: '-', '' }} = null;
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    window.requestAnimationFrame(() => setupSwiperJs{{ section.id | replace: '-', '' }}())
  });

  if(Shopify.designMode) {
  document.addEventListener('shopify:section:load', setupSwiperJs{{ section.id | replace: '-', '' }});
  document.addEventListener('shopify:section:unload', cleanupSwiper{{ section.id | replace: '-', '' }});
  }

  {% comment %} if (Shopify.designMode) {
    const sectionId = "{{ section_id_variable }}";
    const events = ['shopify:section:unload', 'shopify:section:load'];
    
    events.forEach(eventName => {
      document.addEventListener(eventName, (event) => {
        if (event.detail.sectionId === sectionId) {
          initSlick();
        }
      });
    });
  } {% endcomment %}
</script>

{% schema %}
{
  "name": "t:sections.reels_carousel.name",
  "class": "section animation_section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.reels_carousel.settings.layout.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.reels_carousel.settings.layout.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:sections.reels_carousel.settings.content_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.reels_carousel.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.reels_carousel.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.reels_carousel.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 60,
      "step": 2,
      "unit": "px",
      "label": "t:sections.reels_carousel.settings.border_radius.label",
      "default": 10
    },
    {
      "type": "range",
      "id": "slides_to_show_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.reels_carousel.settings.slides_to_show_desktop.label"
    },
    {
      "type": "range",
      "id": "desktop_spacing",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "t:sections.reels_carousel.settings.desktop_spacing.label",
      "default": 10
    },
    {
      "type": "range",
      "id": "slides_to_show_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1,
      "label": "t:sections.reels_carousel.settings.slides_to_show_mobile.label"
    },
    {
      "type": "range",
      "id": "mobile_spacing",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "t:sections.reels_carousel.settings.mobile_spacing.label",
      "default": 10
    },
    {
      "type": "range",
      "id": "autoscroll_speed",
      "min": 1,
      "max": 10,
      "step": 0.5,
      "default": 5,
      "unit": "sec",
      "label": "t:sections.reels_carousel.settings.autoscroll_speed.label"
    },
    {
      "type": "checkbox",
      "id": "infinite_looping",
      "label": "t:sections.reels_carousel.settings.infinite_looping.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoscroll_slides",
      "label": "t:sections.reels_carousel.settings.autoscroll_slides.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_progress_bar",
      "label": "t:sections.reels_carousel.settings.show_progress_bar.label",
      "default": true
    },

    {
      "type": "header",
      "content": "t:sections.reels_carousel.settings.styling.content"
    },
    {
      "type" : "color",
      "id": "video_button_background_color",
      "label": "t:sections.reels_carousel.settings.video_button_background_color.label",
      "default" : "#090909"
    },
    {
      "type" : "color",
      "id": "video_button_border_color",
      "label": "t:sections.reels_carousel.settings.video_button_border_color.label",
      "default" : "#ffffff"
    },
    {
      "type" : "color",
      "id": "video_button_icon_color",
      "label": "t:sections.reels_carousel.settings.video_button_icon_color.label",
      "default" : "#FFFFFF"
    },
    {
      "type" : "range",
      "id": "video_button_size",
      "label": "t:sections.reels_carousel.settings.video_button_size.label",
      "min": 16,
      "max": 72,
      "step": 2,
      "unit": "px",
      "default": 48
    },
    {
      "type" : "color",
      "id" : "progress_bar_background_color_primary",
      "label" : "t:sections.reels_carousel.settings.progress_bar_background_color_primary.label",
      "default" : "#E8E8E8"
    },
    {
      "type" : "color",
      "id" : "progress_bar_background_color_secondary",
      "label" : "t:sections.reels_carousel.settings.progress_bar_background_color_secondary.label",
      "default" : "#1D1A2D"
    },
    {
      "type" : "range",
      "id" : "progress_bar_height",
      "label" : "t:sections.reels_carousel.settings.progress_bar_height.label",
      "min" : 1,
      "max" : 8,
      "step" : 1,
      "unit" : "px",
      "default" : 2
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "custom-color-1",
          "label": "t:sections.all.colors.custom_color_1.label"
        },
        {
          "value": "custom-color-2",
          "label": "t:sections.all.colors.custom_color_2.label"
        },
        {
          "value": "custom-color-3",
          "label": "t:sections.all.colors.custom_color_3.label"
        },
        {
          "value": "custom-color-4",
          "label": "t:sections.all.colors.custom_color_4.label"
        },
        {
          "value": "custom-color-5",
          "label": "t:sections.all.colors.custom_color_5.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        },
        {
          "value": "gradient-background-1",
          "label": "t:sections.all.colors.gradient_background_1.label"
        }
      ],
      "default": "accent-1",
      "label": "t:sections.reels_carousel.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.reels_carousel.settings.padding.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 24
    }
  ],
  "blocks": [
    {
      "type": "video_block",
      "name": "t:sections.reels_carousel.blocks.video_block.name",
      "settings": [
    {
      "type": "video",
      "id": "video_src",
      "label": "t:sections.reels_carousel.blocks.video_block.settings.video_src.label"
    },
    {
      "type": "image_picker",
      "id": "video_thumb",
      "label": "t:sections.reels_carousel.blocks.video_block.settings.video_thumb.label"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "label": "t:sections.reels_carousel.blocks.video_block.settings.video_url.label",
      "info": "t:sections.reels_carousel.blocks.video_block.settings.video_url.info"
    },
    {
      "type": "url",
      "id": "direct_video_url",
      "label": "t:sections.reels_carousel.blocks.video_block.settings.direct_video_url.label",
      "info": "t:sections.reels_carousel.blocks.video_block.settings.direct_video_url.info"
    }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "What Our Followers Think",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "range",
          "id": "size",
          "min": 20,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.reels_carousel.blocks.heading.settings.size.label",
          "default": 40
        },
        {
          "type": "range",
          "id": "mobile_font_size",
          "min": 10,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "t:sections.reels_carousel.blocks.heading.settings.mobile_font_size.label",
          "default": 28
        },
        {
          "type": "header",
          "content": "t:sections.reels_carousel.blocks.heading.settings.styling.content"
        },
        {
          "type": "color",
          "id": "color",
          "label": "t:sections.reels_carousel.blocks.heading.settings.color.label",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "highlighted_color",
          "label": "t:sections.reels_carousel.blocks.heading.settings.highlighted_color.label",
          "default": "#000000"
        },
        {
          "type": "checkbox",
          "id": "heading_use_gradient",
          "label": "t:sections.reels_carousel.blocks.heading.settings.heading_use_gradient.label",
          "info": "t:sections.reels_carousel.blocks.heading.settings.heading_use_gradient.info",
          "default": false
        },
        {
          "type": "color_background",
          "id": "heading_gradient_color",
          "label": "t:sections.reels_carousel.blocks.heading.settings.heading_gradient_color.label",
          "visible_if": "{{ block.settings.heading_use_gradient }}",
          "default": "linear-gradient(180deg, rgba(251, 51, 166, 1), rgba(127, 72, 176, 1) 50%, rgba(48, 145, 211, 1) 100%)"
        },
        {
          "type": "header",
          "content": "t:sections.reels_carousel.blocks.heading.settings.padding.content"
        },
        {
          "type": "range",
          "id": "padding_top_desktop",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.reels_carousel.blocks.heading.settings.padding_top_desktop.label",
          "default": 5,
        },
        {
          "type": "range",
          "id": "padding_bottom_desktop",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.reels_carousel.blocks.heading.settings.padding_bottom_desktop.label",
          "default": 5,
        },
        {
          "type": "range",
          "id": "padding_top_mobile",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.reels_carousel.blocks.heading.settings.padding_top_mobile.label",
          "default": 3,
        },
        {
          "type": "range",
          "id": "padding_bottom_mobile",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.reels_carousel.blocks.heading.settings.padding_bottom_mobile.label",
          "default": 3,
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.reels_carousel.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Find quick answers to the most common questions about our product.",
          "label": "t:sections.reels_carousel.blocks.text.settings.text.label"
        },
        {
          "type": "range",
          "id": "size",
          "min": 8,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "t:sections.reels_carousel.blocks.text.settings.size.label",
          "default": 16
        },
        {
          "type": "range",
          "id": "size_mobile",
          "min": 8,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "t:sections.reels_carousel.blocks.text.settings.size_mobile.label",
          "default": 14
        },
        {
          "type": "header",
          "content": "t:sections.reels_carousel.blocks.text.settings.styling.content"
        },
        {
          "type": "color",
          "id": "color",
          "label": "t:sections.reels_carousel.blocks.text.settings.color.label",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "highlighted_color",
          "label": "t:sections.reels_carousel.blocks.text.settings.highlighted_color.label",
          "default": "#000000"
        },
        {
          "type": "checkbox",
          "id": "text_use_gradient",
          "label": "t:sections.reels_carousel.blocks.text.settings.text_use_gradient.label",
          "default": false
        },
        {
          "type": "color_background",
          "id": "text_gradient_color",
          "label": "t:sections.reels_carousel.blocks.text.settings.text_gradient_color.label",
          "visible_if": "{{ block.settings.text_use_gradient }}",
          "default": "linear-gradient(180deg, rgba(251, 51, 166, 1), rgba(127, 72, 176, 1) 50%, rgba(48, 145, 211, 1) 100%)"
        },
        {
          "type": "header",
          "content": "t:sections.reels_carousel.blocks.text.settings.padding.content"
        },
        {
          "type": "range",
          "id": "padding_top_desktop",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.reels_carousel.blocks.text.settings.padding_top_desktop.label",
          "default": 5,
        },
        {
          "type": "range",
          "id": "padding_bottom_desktop",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.reels_carousel.blocks.text.settings.padding_bottom_desktop.label",
          "default": 5,
        },
        {
          "type": "range",
          "id": "padding_top_mobile",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.reels_carousel.blocks.text.settings.padding_top_mobile.label",
          "default": 3,
        },
        {
          "type": "range",
          "id": "padding_bottom_mobile",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.reels_carousel.blocks.text.settings.padding_bottom_mobile.label",
          "default": 3,
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.reels_carousel.presets.name",
      "settings": {
        "content_alignment": "center",
        "border_radius": 10,
        "slides_to_show_desktop": 5,
        "desktop_spacing": 10,
        "slides_to_show_mobile": 1,
        "mobile_spacing": 10,
        "autoscroll_speed": 5,
        "infinite_looping": true,
        "autoscroll_slides": true,
        "show_progress_bar": true,
        "video_button_background_color": "#090909",
        "video_button_border_color": "#ffffff",
        "video_button_icon_color": "#ffffff",
        "video_button_size": 48,
        "progress_bar_background_color_primary": "#e8e8e8",
        "progress_bar_background_color_secondary": "#1d1a2d",
        "progress_bar_height": 2,
        "color_scheme": "accent-1",
        "padding_top": 24,
        "padding_bottom": 24
      },
      "blocks": [
        { "type": "heading", "settings": { "heading": "What Our <em><strong>Followers Think</strong></em>", "size": 40, "mobile_font_size": 28, "color": "#000000", "highlighted_color": "#000000", "heading_use_gradient": true, "heading_gradient_color": "", "padding_top_desktop": 5, "padding_bottom_desktop": 0, "padding_top_mobile": 3, "padding_bottom_mobile": 3 } },
        { "type": "text", "settings": { "text": "Find quick answers to the most common questions about our product.", "size": 14, "size_mobile": 14, "color": "#666666", "highlighted_color": "#000000", "text_use_gradient": false, "text_gradient_color": "", "padding_top_desktop": 4, "padding_bottom_desktop": 24, "padding_top_mobile": 3, "padding_bottom_mobile": 21 } },
        { "type": "video_block", "settings": { "video_thumb": "shopify://shop_images/c76dcfcaf28559ff49a0679b6af6e3b792f55db8_1.png", "direct_video_url": "https://videos.pexels.com/video-files/7011327/7011327-hd_1080_1920_25fps.mp4" } },
        { "type": "video_block", "settings": { "video_thumb": "shopify://shop_images/7746194aca60f64311d9c0e37a154f07b0b1ef18.png", "direct_video_url": "https://videos.pexels.com/video-files/7011327/7011327-hd_1080_1920_25fps.mp4" } },
        { "type": "video_block", "settings": { "video_thumb": "shopify://shop_images/7746194aca60f64311d9c0e37a154f07b0b1ef18.png", "direct_video_url": "https://videos.pexels.com/video-files/7011327/7011327-hd_1080_1920_25fps.mp4" } },
        { "type": "video_block", "settings": { "video_thumb": "shopify://shop_images/Mask_group_1.png", "direct_video_url": "https://videos.pexels.com/video-files/7011327/7011327-hd_1080_1920_25fps.mp4" } },
        { "type": "video_block", "settings": { "video_thumb": "shopify://shop_images/Mask_group_1.png", "direct_video_url": "https://videos.pexels.com/video-files/7011327/7011327-hd_1080_1920_25fps.mp4" } },
        { "type": "video_block", "settings": { "video_thumb": "shopify://shop_images/Mask_group_bd4e42b9-140b-4141-a092-b66d6695424d.png", "direct_video_url": "https://videos.pexels.com/video-files/7011327/7011327-hd_1080_1920_25fps.mp4" } },
        { "type": "video_block", "settings": { "video_thumb": "shopify://shop_images/Mask_group_bd4e42b9-140b-4141-a092-b66d6695424d.png", "direct_video_url": "https://videos.pexels.com/video-files/7011327/7011327-hd_1080_1920_25fps.mp4" } }
      ]
    }
  ]
}
{% endschema %}
