{%- liquid
  # Section settings
  assign section_heading = section.settings.section_heading
  assign header_size = section.settings.font_size
  assign header_mobile_size = section.settings.mobile_font_size
  assign header_color = section.settings.header_color
  assign scrolling_velocity = section.settings.scrolling_velocity
  assign pause_hover = section.settings.pause_hover
  assign slider_gap = section.settings.slider_gap
  assign slider_gap_mobile = section.settings.slider_gap_mobile
  assign slider_direction = section.settings.slider_direction
  assign icon_width = section.settings.icon_width
  assign icon_width_mobile = section.settings.icon_width_mobile
  assign image_border_radius = section.settings.image_border_radius

  # Global settings
  assign global_heading_size = settings.enable_global_heading_font_size
  assign global_color = settings.enable_global_color
-%}

{% if request.visual_preview_mode %}
  {% assign section_id_variable = "id" %}
  {% assign section_id_selector = '' %}
{% else %}
  {% assign section_id_variable = section.id %}
  {% assign section_id_selector = '#shopify-section-' | append: section.id %}
{% endif %}
<style>
  {{ section_id_selector }} .section__scrolling_images {
    padding: 5px 0;
  }

  {{ section_id_selector }} .section-{{ section_id_variable }}-settings {
    margin: 0 auto;
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  {{ section_id_selector }} .scrolling-images-slider_{{ section_id_variable }} {
    position: relative;
  }

  {{ section_id_selector }} .scrolling-images-slider_placeholder {
    width: 100%;
  }

  {{ section_id_selector }} .slide-{{ section_id_variable }} {
    display: block;
    flex: 0 0 {{ icon_width  | round: 0 }}px !important;
    width: {{ icon_width }}px !important; 
  }
  @media screen and (max-width: 767px) {
    {{ section_id_selector }} .slide-{{ section_id_variable }} {
      flex: 0 0 {{ icon_width_mobile  | round: 0 }}px !important;
      width: {{ icon_width_mobile }}px !important;
    }
  }
  {{ section_id_selector }} .slide-{{ section_id_variable }} img {
    border-radius: {{ image_border_radius }}px;
  }

  {{ section_id_selector }} .slide-{{ section_id_variable }} img,
  {{ section_id_selector }} .slide-{{ section_id_variable }} svg {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  {{ section_id_selector }} .scrolling-horizontal-track-{{ section_id_variable }} {
    position: relative;
    z-index: 1;
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  {{ section_id_selector }} .scrolling-horizontal-track-{{ section_id_variable }}.reverse {
    flex-direction: row-reverse;
  }

  {{ section_id_selector }} .track-horizontal-{{ section_id_variable }} {
    padding-left: {{ slider_gap_mobile }}px;
    display: flex;
    flex-shrink: 0;
    width: calc(({{ icon_width_mobile  | round: 0 }}px * {{ section.blocks.size }}) + ({{ slider_gap_mobile }}px * {{ section.blocks.size }}));
    gap: {{ slider_gap_mobile }}px;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    will-change: transform;
    animation: scrolling-horizontal-track-{{ slider_direction }} {{ 20 | divided_by: scrolling_velocity }}s linear infinite;
  }

  @keyframes scrolling-horizontal-track-left {
    0% { transform: translateZ(0); visibility: visible; }
    100% { transform: translate3d(-100%, 0, 0); }
  }

  @keyframes scrolling-horizontal-track-right {
    0% { transform: translate3d(-100%, 0, 0); visibility: visible; }
    100% { transform: translateZ(0); }
  }

  {{ section_id_selector }} .scrolling-images-heading-{{ section_id_variable }} {
    font-size: {% if global_heading_size %}var(--font-heading-mob-size){% else %}{{ header_mobile_size }}px{% endif %};
    color: {% if global_color %}rgb(var(--color-base-heading)){% else %}{{ header_color }}{% endif %};
    text-align: {{ section.settings.heading_alignment }};
  }

  @media screen and (min-width: 768px) {
    {{ section_id_selector }} .scrolling-images-heading-{{ section_id_variable }} {
      font-size: {% if global_heading_size %}var(--font-heading-size){% else %}{{ header_size }}px{% endif %};
    }

    {{ section_id_selector }} .slide-{{ section_id_variable }} {
      flex: 0 0 {{ icon_width }}px !important;
      width: {{ icon_width }}px !important;
    }

    {{ section_id_selector }} .track-horizontal-{{ section_id_variable }} {
      padding-left: {{ slider_gap }}px;
      width: calc(({{ icon_width }}px * {{ section.blocks.size }}) + ({{ slider_gap }}px * {{ section.blocks.size }}));
      gap: {{ slider_gap }}px;
    }
  }

  @media screen and (max-width: 767px) {
    {{ section_id_selector }} .scrolling-images-slider_{{ section_id_variable }} {
      padding: 0 15px;
    }
  }

  {% if pause_hover %}
    {{ section_id_selector }} .scrolling-horizontal-track-{{ section_id_variable }}:hover .track-horizontal-{{ section_id_variable }} {
      animation-play-state: paused;
    }
  {% endif %}

  {%- if section.settings.heading_use_gradient -%}
    {{ section_id_selector }} #scrolling-images-slider-heading strong {
      background: {% if section.settings.heading_gradient_color != blank %}{{ section.settings.heading_gradient_color }}{% else %}var(--gradient-base-background-1){% endif %};
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  {%- endif -%}
</style>

{%- capture loop -%}
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'slide' -%}
        <a class="slide-{{ section_id_variable }}" {% if block.settings.link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.link }}"{% endif %}>
          {%- liquid
            assign image = block.settings.image
            assign default_image = 'atlas_logo_300x.png' | asset_url
            assign image_width = icon_width  | round
          -%}

          {%- if image != blank -%}
            {{ image | image_url: width: 500 | 
              image_tag: 
                class: 'image-content__image',
                alt: image.alt, 
                loading: 'lazy',
                widths: '180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048',
                sizes: 'auto'
            }}
          {%- else -%}
            <img 
              class="image-content__image"
              src="{{ default_image }}"
              alt="Default image"
              loading="lazy"
              width="170"
              height="70"
            >
          {%- endif -%}
        </a>
    {%- endcase -%}
  {%- endfor -%}
{%- endcapture -%}

<div class="color-{{ section.settings.color_scheme }} gradient section__scrolling_images">
  <section class="section-{{ section_id_variable }}-settings" data-section-id="{{ section_id_variable }}">
    <div class="page-width">
      {%- if section_heading != blank -%}
        <h2
          class="title scrolling-images-heading-{{ section_id_variable }}"
          id="scrolling-images-slider-heading"
          style="--color-highlighted-color: {{ section.settings.header_highlighted_color }}; margin-top: 0; padding-top: 1rem;"
        >
          {{ section_heading }}
        </h2>
      {%- endif -%}
    </div>
    <div class="scrolling-images-slider_{{ section_id_variable }}" id="scrolling-images-slider">
      <div class="scrolling-horizontal-track-{{ section_id_variable }} marquee-{{ section.settings.direction }} fade-in-child">
        {%- for i in (1..7) -%}
          <div class="track-horizontal-{{ section_id_variable }} outer_flex">
            {{ loop }}
          </div>
        {%- endfor -%}
      </div>
      {% unless section.settings.color_scheme == 'gradient-background-1' %}
        <div class="fade-in__left_container"></div>
      {% endunless %}
      {% unless section.settings.color_scheme == 'gradient-background-1' %}
        <div class="fade-in__right_container"></div>
      {% endunless %}
    </div>
  </section>

  <script>
    function initScrollingLogoCloudPro() {
      const track = document.querySelector('.scrolling-horizontal-track-{{ section_id_variable }}');
      const htmlElement = document.documentElement;

      window.requestAnimationFrame(() => {
        if (window.getComputedStyle(htmlElement).getPropertyValue('direction') === 'rtl') {
          track.classList.add('reverse');
        }
      });
    }

    document.addEventListener('DOMContentLoaded', initScrollingLogoCloudPro);

    if (Shopify.designMode) {
      document.addEventListener('shopify:section:unload', initScrollingLogoCloudPro);
      document.addEventListener('shopify:section:load', initScrollingLogoCloudPro);
    }
  </script>
</div>

{% schema %}
{
  "name": "t:sections.scrolling-images.name",
  "class": "section animation-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.common.content.content"
    },
    {
      "id": "section_heading",
      "type": "inline_richtext",
      "label": "t:sections.scrolling-images.settings.section_heading.label",
      "default": "Trusted by"
    },
    {
      "type": "header",
      "content": "t:sections.scrolling-images.settings.heading_settings.content"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.all.common.heading_alignment.label",
      "options": [
        { "label": "t:sections.all.common.heading_alignment.options__1.label", "value": "left" },
        { "label": "t:sections.all.common.heading_alignment.options__2.label", "value": "center" },
        { "label": "t:sections.all.common.heading_alignment.options__3.label", "value": "right" }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 20,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.common.desktop_heading_size.label",
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_font_size",
      "min": 10,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.common.mobile_heading_size.label",
      "default": 28
    },
    {
      "type": "color",
      "id": "header_color",
      "label": "t:sections.all.common.heading_color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "header_highlighted_color",
      "label": "t:sections.all.common.bolded_heading_color.label",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "heading_use_gradient",
      "label": "t:sections.all.common.use_gradient_heading.label",
      "info": "t:sections.all.common.use_gradient_heading.info",
      "default": false
    },
    {
      "type": "color_background",
      "id": "heading_gradient_color",
      "label": "t:sections.all.common.heading_gradient_color.label",
      "visible_if": "{{ section.settings.heading_use_gradient }}",
      "default": "linear-gradient(180deg, rgba(251, 51, 166, 1), rgba(127, 72, 176, 1) 50%, rgba(48, 145, 211, 1) 100%)"
    },
    {
      "type": "header",
      "content": "t:sections.scrolling-images.settings.slider_behavior.content"
    },
    {
      "type": "checkbox",
      "id": "pause_hover",
      "label": "t:sections.scrolling-images.settings.pause_hover.label",
      "default": true
    },
    {
      "type": "select",
      "id": "slider_direction",
      "label": "t:sections.scrolling-images.settings.slider_direction.label",
      "default": "right",
      "options": [
        { "label": "t:sections.scrolling-images.settings.slider_direction.options__1.label", "value": "left" },
        { "label": "t:sections.scrolling-images.settings.slider_direction.options__2.label", "value": "right" }
      ]
    },
    {
      "type": "range",
      "id": "scrolling_velocity",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "t:sections.scrolling-images.settings.scrolling_velocity.label",
      "default": 3
    },
    {
      "type": "header",
      "content": "t:sections.scrolling-images.settings.layout_sizing.content"
    },
    {
      "type": "range",
      "id": "slider_gap",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.scrolling-images.settings.slider_gap.label",
      "default": 30
    },
    {
      "type": "range",
      "id": "slider_gap_mobile",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.scrolling-images.settings.slider_gap_mobile.label",
      "default": 15
    },
    {
      "type": "range",
      "id": "icon_width",
      "min": 50,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "t:sections.scrolling-images.settings.icon_width.label",
      "default": 250
    },
    {
      "type": "range",
      "id": "icon_width_mobile",
      "min": 30,
      "max": 400,
      "step": 5,
      "unit": "px",
      "label": "t:sections.scrolling-images.settings.icon_width_mobile.label",
      "default": 250
    },
    {
      "type": "header",
      "content": "t:sections.scrolling-images.settings.section_styling.content"
    },
    {
      "type": "range",
      "id": "image_border_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.scrolling-images.settings.image_border_radius.label",
      "default": 8
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        { "value": "accent-1", "label": "t:sections.all.colors.accent_1.label" },
        { "value": "accent-2", "label": "t:sections.all.colors.accent_2.label" },
        { "value": "accent-3", "label": "t:sections.all.colors.accent_3.label" },
        { "value": "custom-color-1", "label": "t:sections.all.colors.custom_color_1.label" },
        { "value": "custom-color-2", "label": "t:sections.all.colors.custom_color_2.label" },
        { "value": "custom-color-3", "label": "t:sections.all.colors.custom_color_3.label" },
        { "value": "custom-color-4", "label": "t:sections.all.colors.custom_color_4.label" },
        { "value": "custom-color-5", "label": "t:sections.all.colors.custom_color_5.label" },
        { "value": "inverse", "label": "t:sections.all.colors.inverse.label" },
        { "value": "gradient-background-1", "label": "t:sections.all.colors.gradient_background_1.label" }
      ],
      "default": "accent-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 24
    }
  ],
  "blocks": [
    {
      "name": "t:sections.scrolling-images.blocks.slide.name",
      "type": "slide",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.scrolling-images.blocks.slide.settings.tip.content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.scrolling-images.blocks.slide.settings.image.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.scrolling-images.blocks.slide.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.scrolling-images.presets.name",
      "settings": {
        "section_heading": "As seen on",
        "heading_alignment": "center",
        "font_size": 20,
        "mobile_font_size": 16,
        "header_color": "#000000",
        "header_highlighted_color": "#000000",
        "heading_use_gradient": false,
        "heading_gradient_color": "",
        "slider_direction": "right",
        "scrolling_velocity": 2,
        "pause_hover": true,
        "slider_gap": 52,
        "icon_width": 120,
        "icon_width_mobile": 250,
        "image_border_radius": 8,
        "color_scheme": "accent-1",
        "padding_top": 12,
        "padding_bottom": 44
      },      
      "blocks": [
        { "type": "slide", "settings": { "link": "","image": "shopify://shop_images/Vector.png" } },
        { "type": "slide", "settings": { "link": "","image": "shopify://shop_images/Aptiv_PLC.png" } },
        { "type": "slide", "settings": { "link": "","image": "shopify://shop_images/Clip_path_group.svg" } }
      ]
    }
  ]
}
{% endschema %}
