{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- liquid
   assign global_heading_size = settings.enable_global_heading_font_size
   assign global_body_size = settings.enable_global_body_font_size
   assign global_color = settings.enable_global_color
-%}
{% if request.visual_preview_mode %}
  {% assign section_id_variable = 'id' %}
  {% assign section_id_selector = '' %}
{% else %}
  {% assign section_id_variable = section.id %}
  {% assign section_id_selector = '#shopify-section-' | append: section.id %}
{% endif %}
<style>
  
  {%- if request.visual_preview_mode -%}
    {% comment %} don't want fade-in animation in preview mode because it messes up preview {% endcomment %}
    .animation_section,
    .animation_section * {
      opacity: 1 !important;
      transform: none !important;
      transition: none !important;
      will-change: auto !important;
    }
  {%- endif -%}
  

  
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  
  #text-{{ section.id }} {
    font-size: {% if global_body_size %}var(--global-body-text-font-size){% else %}{{ section.settings.body_font_size }}px{% endif %};
    line-height: {% if global_body_size %}calc(var(--global-body-text-font-size) + 8px){% else %}{{ section.settings.body_font_size | plus: 8 }}px{% endif %};
    color: {% if section.settings.body_color != blank %}{{ section.settings.body_color }}{% else %}rgba(var(--color-base-text)){% endif %};
  }

  #text-{{ section.id }} strong {
    color: {{ section.settings.bolded_body_color }};
  }

  #heading-{{ section.id }} {
    font-size: {% if global_heading_size %}var(--font-heading-size) !important{% else %}{{ section.settings.heading_size }}px !important{% endif %};
    line-height: {% if global_heading_size %}calc(var(--font-heading-size) + 8px) !important{% else %}{{ section.settings.heading_size | plus: 8 }}px !important{% endif %};
    color: {% if global_color %}rgb(var(--color-base-heading)){% else %}{{ section.settings.heading_color }}{% endif %};
    --color-highlighted-color: {{ section.settings.bolded_heading_color }};
    margin-top: 0;
  }

  @media (max-width: 768px) {
    #heading-{{ section.id }} {
      font-size: {% if global_heading_size %}var(--font-heading-mob-size) !important{% else %}{{ section.settings.heading_mob_size }}px !important{% endif %};
      line-height: {% if global_heading_size %}calc(var(--font-heading-mob-size) + 8px) !important{% else %}{{ section.settings.heading_mob_size | plus: 8 }}px !important{% endif %};
    }
  }

  .section-text-{{ section.id }} {
    font-weight: 500;
    text-align: center;
  }

  .tracking-form-container {
    position: relative;
    max-width: 540px;
    width: 100%;
    {% if section.settings.desktop_content_alignment == 'center' %}
      align-self: center;
    {% elsif section.settings.desktop_content_alignment == 'left' %}
      align-self: flex-start;
    {% elsif section.settings.desktop_content_alignment == 'right' %}
      align-self: flex-end;
    {% endif %}
    display: flex;
    flex-direction: column; 
    gap: 17px;
  }
  @media (max-width: 768px) {
    .tracking-form-container {
      max-width: 100%;
      {% if section.settings.mobile_content_alignment == 'center' %}
        align-self: center;
      {% elsif section.settings.mobile_content_alignment == 'left' %}
        align-self: flex-start;
      {% elsif section.settings.mobile_content_alignment == 'right' %}
        align-self: flex-end;
      {% endif %}
    }
  }

  .tracking-results {
    margin-top: 45px;
  }
  .tracking-results:empty {
    margin-top: 0;
  }
  {{ section_id_selector }} .track-button {
    display: flex;
    justify-content: center;
    height: 57px;
  }
  {{ section_id_selector }} .track-button  button {
    background: {{ section.settings.button_background_color }};
    color: {{ section.settings.button_text_color }};
    border-radius: {{ section.settings.button_border_radius }}px;
    font-size: {{ section.settings.button_font_size }}px;
    font-weight: 400;
  }

  {{ section_id_selector }} .order-tracking-card {
    {% if section.settings.has_custom_color_scheme %}
      background: {{ section.settings.custom_color_scheme }};
    {% endif %}
    display: flex;
    {% if section.settings.image_first_on_desktop %}
      flex-direction: row;
    {% else %}
      flex-direction: row-reverse;
    {% endif %}
    border-radius: {{ section.settings.card_border_radius }}px;
    width: 100%;
    padding: {{ section.settings.card_top_padding }}px {{ section.settings.card_right_padding }}px {{ section.settings.card_bottom_padding }}px {{ section.settings.card_left_padding }}px;
  }
  @media (max-width: 768px) {
    {{ section_id_selector }} .order-tracking-card {
      flex-direction: column;
      padding: {{ section.settings.card_top_padding_mobile }}px {{ section.settings.card_right_padding_mobile }}px {{ section.settings.card_bottom_padding_mobile }}px {{ section.settings.card_left_padding_mobile }}px;
    }
  }

  .order-tracking-form {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    {% if section.settings.desktop_content_alignment == 'center' %}
      align-items: center;
    {% elsif section.settings.desktop_content_alignment == 'left' %}
      align-items: flex-start;
    {% elsif section.settings.desktop_content_alignment == 'right' %}
      align-items: flex-end;
    {% endif %}
  }
  @media (max-width: 768px) {
    .order-tracking-form {
      {% if section.settings.mobile_content_alignment == 'center' %}
        align-items: center;
      {% elsif section.settings.mobile_content_alignment == 'left' %}
        align-items: flex-start;
      {% elsif section.settings.mobile_content_alignment == 'right' %}
      align-items: flex-end;
    {% endif %}
    }
  }
  .order-tracking-image {
    flex: 1;
    display: flex;
    border-radius: {{ section.settings.image_radius }}px !important;
    overflow: hidden;
  }
  .order-tracking-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .track-button input {
    display: flex;
    justify-content: center;
    min-height: 0px !important;
  }

  {{ section_id_selector }} .order-tracking-form .field input {
    height: 55px;
    width: 100%;
    background: {{ section.settings.input_background_color }};
    border-radius: {{ section.settings.input_border_radius }}px;
    border: {{ section.settings.input_border_width }}px solid {{ section.settings.input_border_color }};
    color: {{ section.settings.input_text_color }};
  }
  {{ section_id_selector }} .order-tracking-form .field__label {
    color: {{ section.settings.input_placeholder_color }};
  }
  {{ section_id_selector }} .order-tracking-form .field input:focus {
    box-shadow: none !important;
  }
  {{ section_id_selector }} .order-tracking-form .field::after, {{ section_id_selector }} .order-tracking-form .field::before {
    box-shadow: none !important;
  }
  .order-tracking-form .field label {
    top: 30%;
  }
  .order-tracking-image-inner {
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
  }
  .order-tracking-image-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media screen and (min-width: 1025px) {
    .order-tracking-image-inner {
      {% if section.settings.image_height == 'adapt' and section.settings.image != blank %}
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      {% endif %}
      {% if section.settings.image_height == 'small' and section.settings.image != blank %}
        min-height: 489px;
      {% elsif section.settings.image_height == 'medium' and section.settings.image != blank %}
        min-height: 639px;
      {% elsif section.settings.image_height == 'large' and section.settings.image != blank %}
        min-height: 800px;
      {% endif %}
    }
    .order-tracking-image-inner img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
</style>

<div class="section__track_order color-{{ section.settings.color_scheme2 }}">
  <div class="section-{{ section.id }}-padding">
    <div class="page-width">
      <div class="order-tracking-card {% if section.settings.has_custom_color_scheme == false %}color-{{ section.settings.color_scheme }}{% endif %} ">
        {% if section.settings.image != blank %}
          <div class="order-tracking-image">
            {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
            {%- endcapture -%}
            <div class="order-tracking-image-inner">
            <img 
              src="{{ section.settings.image | image_url: width: 1800, format: 'webp' }}" 
              {% if section.settings.defer_loading_image %}
                loading="lazy"
              {% else %}
                fetchpriority="high"
              {% endif %}
              sizes="{{ sizes }}" 
              srcset="
                {{ section.settings.image | image_url: width: 165, format: 'webp' }} 165w,
                {{ section.settings.image | image_url: width: 360, format: 'webp' }} 360w,
                {{ section.settings.image | image_url: width: 535, format: 'webp' }} 535w,
                {{ section.settings.image | image_url: width: 750, format: 'webp' }} 750w,
                {{ section.settings.image | image_url: width: 1070, format: 'webp' }} 1070w,
                {{ section.settings.image | image_url: width: 1500, format: 'webp' }} 1500w
              " 
              alt="{{ section.settings.image.alt | escape }}"
              style="border-radius: {{ section.settings.image_radius }}px !important;"
                width="100%"
                height="auto"
              />
            </div>
          </div>
        {% endif %}

        <div class="order-tracking-form">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
                <style>
                  #heading-section-{{ block.id }} {
                    color: {% if global_color %}rgb(var(--color-base-heading)){% else %}{{ block.settings.color }}{% endif %};
                    font-size: {% if global_heading_size %}var(--font-heading-size) !important{% else %}{{ block.settings.size }}px !important{% endif %};
                    line-height: {% if global_heading_size %}calc(var(--font-heading-size) + 8px) !important{% else %}{{ block.settings.size | plus: 8 }}px{% endif %};
                    margin: 0;
                    padding-top: {{ block.settings.padding_top_desktop }}px;
                    padding-bottom: {{ block.settings.padding_bottom_desktop }}px;
                    text-align: {{ section.settings.desktop_content_alignment }};
                    max-width: 540px;
                  }
                  @media (max-width: 768px) {
                    #heading-section-{{ block.id }} {
                      padding-top: {{ block.settings.padding_top_mobile }}px;
                      padding-bottom: {{ block.settings.padding_bottom_mobile }}px;
                      font-size: {% if global_heading_size %}var(--font-heading-mob-size) !important{% else %}{{ block.settings.mobile_font_size }}px !important{% endif %};
                      line-height: {% if global_heading_size %}calc(var(--font-heading-mob-size) + 6px) !important{% else %}{{ block.settings.mobile_font_size | plus: 6 }}px{% endif %};
                      text-align: {{ section.settings.mobile_content_alignment }};
                      max-width: 100%;
                    }
                  }
    
                  #heading-section-{{ block.id }} strong {
                    {%- if block.settings.heading_use_gradient -%}
                      background: {% if block.settings.heading_gradient_color != blank %}{{ block.settings.heading_gradient_color }}{% else %}var(--gradient-base-background-1){% endif %};
                      -webkit-background-clip: text;
                      background-clip: text;
                      color: transparent;
                    {%- endif -%}
                  }
                </style>
    
                <h2 id="heading-section-{{ block.id }}" class="title banner__heading" {{ block.shopify_attributes }}>
                  <span style="--color-highlighted-color: {{ block.settings.highlighted_color }};">{{ block.settings.heading }}</span>
                </h2>
    
              {%- when 'text' -%}
                <style>
                  #text-section-{{ block.id }} {
                    margin: 0;
                    padding-top: {{ block.settings.padding_top_desktop }}px;
                    padding-bottom: {{ block.settings.padding_bottom_desktop }}px;
                    text-align: {{ section.settings.desktop_content_alignment }};
                    font-size: {{ block.settings.size }}px;
                    line-height: {{ block.settings.size | plus: 8 }}px;
                    color: {% if global_color %}rgb(var(--color-base-text)){% else %}{{ block.settings.color }}{% endif %};
                    max-width: 540px;
                  }
                  #text-section-{{ block.id }} strong {
                    {% if block.settings.text_use_gradient %}
                      background: {% if block.settings.text_gradient_color != blank %}{{ block.settings.text_gradient_color }}{% else %}var(--color-highlighted-color){% endif %};
                      -webkit-background-clip: text;
                      background-clip: text;
                      color: transparent;
                    {% else %}
                      color: {{ block.settings.highlighted_color }};
                    {% endif %}
                  }
                  @media (max-width: 750px) {
                    #text-section-{{ block.id }} {
                      padding-top: {{ block.settings.padding_top_mobile }}px;
                      padding-bottom: {{ block.settings.padding_bottom_mobile }}px;
                      text-align: {{ section.settings.mobile_content_alignment }};
                      font-size: {{ block.settings.size_mobile }}px;
                      line-height: {{ block.settings.size_mobile | plus: 6 }}px;
                      max-width: 100%;
                    }
                  }
                </style>
                <div id="text-section-{{ block.id }}" class="body image-with-text__text rte sw-base-text-color body" {{ block.shopify_attributes }}>
                  <div>{{ block.settings.text }}</div>
                </div>
            {%- endcase -%}
          {%- endfor -%}
          
          <div class="tracking-form-container">
            <div class="field">
              <input 
                id="tracking-number-input" 
                class="field__input" 
                name="tracking-number" 
                placeholder="Tracking Number"
              >
              <label class="field__label" for="tracking-number">Tracking Number</label>
            </div>
            
            <div class="contact__button track-button">
              <button type="button" class="button button--full-width" onclick="callTrackingAPI()">
                <span class="button-text">{{ section.settings.button_label }}</span>
              </button>
            </div>
          </div>
          
          <div id="17trackContainer" class="tracking-results"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script defer type="text/javascript" src="//www.17track.net/externalcall.js"></script>
<script>
  function callTrackingAPI() {
    const trackingNumber = document.getElementById('tracking-number-input').value;
    if (!trackingNumber) {
      alert('Enter tracking number');
      return;
    }
    
    YQV5.trackSingle({
      YQ_Num: trackingNumber,
      YQ_ContainerId: '17trackContainer',
    });
  }
</script>

{% schema %}
{
  "name": "t:sections.track-your-order.name",
  "class": "section animation_section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.track-your-order.settings.image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.track-your-order.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.track-your-order.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.track-your-order.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.track-your-order.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.track-your-order.settings.image_height.label"
    },
    {
      "type": "range",
      "id": "image_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.track-your-order.settings.image_radius.label",
      "default": 6
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.all.common.button.label",
      "default": "Track"
    },
    {
      "type": "header",
      "content": "t:sections.all.common.layout.content"
    },
    {
      "type": "checkbox",
      "id": "image_first_on_desktop",
      "label": "t:sections.track-your-order.settings.image_first_on_desktop.label",
      "default": true
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.track-your-order.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.track-your-order.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.track-your-order.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.track-your-order.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.track-your-order.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.track-your-order.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.track-your-order.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.track-your-order.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.common.styling.content"
    },
    
    {
      "type": "select",
      "id": "color_scheme2",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "custom-color-1",
          "label": "t:sections.all.colors.custom_color_1.label"
        },
        {
          "value": "custom-color-2",
          "label": "t:sections.all.colors.custom_color_2.label"
        },
        {
          "value": "custom-color-3",
          "label": "t:sections.all.colors.custom_color_3.label"
        },
        {
          "value": "custom-color-4",
          "label": "t:sections.all.colors.custom_color_4.label"
        },
        {
          "value": "custom-color-5",
          "label": "t:sections.all.colors.custom_color_5.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        },
        {
          "value": "gradient-background-1",
          "label": "t:sections.all.colors.gradient_background_1.label"
        }
      ],
      "default": "accent-1",
      "label": "t:sections.track-your-order.settings.color_scheme2.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "custom-color-1",
          "label": "t:sections.all.colors.custom_color_1.label"
        },
        {
          "value": "custom-color-2",
          "label": "t:sections.all.colors.custom_color_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        },
        {
          "value": "gradient-background-1",
          "label": "Background gradient"
        }
      ],
      "default": "accent-2",
      "label": "t:sections.track-your-order.settings.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "has_custom_color_scheme",
      "label": "t:sections.track-your-order.settings.has_custom_color_scheme.label",
      "default": false,
      "info": "t:sections.track-your-order.settings.has_custom_color_scheme.info"
    },
    {
      "type": "color",
      "id": "custom_color_scheme",
      "label": "t:sections.track-your-order.settings.custom_color_scheme.label",
      "default": "#F8F8F8",
      "visible_if": "{{ section.settings.has_custom_color_scheme }}"
    },
    {
      "type": "header",
      "content": "t:sections.track-your-order.settings.card.content"
    },
    {
      "type": "range",
      "id": "card_border_radius",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "t:sections.track-your-order.settings.card_border_radius.label",
      "default": 6
    },
    {
      "type": "range",
      "id": "card_top_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.track-your-order.settings.card_top_padding.label",
      "default": 18
    },
    {
      "type": "range",
      "id": "card_top_padding_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.track-your-order.settings.card_top_padding_mobile.label",
      "default": 18
    },
    {
      "type": "range",
      "id": "card_right_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.track-your-order.settings.card_right_padding.label",
      "default": 18
    },
    {
      "type": "range",
      "id": "card_right_padding_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.track-your-order.settings.card_right_padding_mobile.label",
      "default": 18
    },
    {
      "type": "range",
      "id": "card_bottom_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.track-your-order.settings.card_bottom_padding.label",
      "default": 18
    },
    {
      "type": "range",
      "id": "card_bottom_padding_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.track-your-order.settings.card_bottom_padding_mobile.label",
      "default": 18
    },
    {
      "type": "range",
      "id": "card_left_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.track-your-order.settings.card_left_padding.label",
      "default": 18
    },
    {
      "type": "range",
      "id": "card_left_padding_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.track-your-order.settings.card_left_padding_mobile.label",
      "default": 18
    },
    {
      "type": "header",
      "content": "t:sections.all.common.button.content"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "t:sections.all.common.button.background_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "t:sections.all.common.button.text_color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "button_border_radius",
      "label": "t:sections.all.common.button.border_radius",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "default": 6
    },
    {
      "type": "range",
      "id": "button_font_size",
      "label": "t:sections.track-your-order.settings.button_font_size.label",
      "min": 10,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 14
    },
    {
      "type": "header",
      "content": "t:sections.track-your-order.settings.input.content"
    },
    {
      "type": "color",
      "id": "input_background_color",
      "label": "t:sections.track-your-order.settings.input_background_color.label",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "input_text_color",
      "label": "t:sections.track-your-order.settings.input_text_color.label",
      "default": "#1D1A2D"
    },
    {
      "type": "color",
      "id": "input_placeholder_color",
      "label": "t:sections.track-your-order.settings.input_placeholder_color.label",
      "default": "#666666"
    },
    {
      "type": "range",
      "id": "input_border_radius",
      "label": "t:sections.track-your-order.settings.input_border_radius.label",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "default": 6
    },
    {
      "type": "range",
      "id": "input_border_width",
      "label": "t:sections.track-your-order.settings.input_border_width.label",
      "min": 0,
      "max": 4,
      "step": 1,
      "unit": "px",
      "default": 1
    },
    {
      "type": "color",
      "id": "input_border_color",
      "label": "t:sections.track-your-order.settings.input_border_color.label",
      "default": "#F8F8F8"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 24
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.all.common.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Track Your Order",
          "label": "t:sections.all.common.heading.label"
        },
        {
          "type": "range",
          "id": "size",
          "min": 20,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.common.desktop_heading_size.label",
          "default": 40
        },
        {
          "type": "range",
          "id": "mobile_font_size",
          "min": 10,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.common.mobile_heading_size.label",
          "default": 28
        },
        {
          "type": "header",
          "content": "t:sections.all.common.styling.content"
        },
        {
          "type": "color",
          "id": "color",
          "label": "t:sections.all.common.heading_color.label",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "highlighted_color",
          "label": "t:sections.all.common.bolded_heading_color.label",
          "default": "#000000"
        },
        {
          "type": "checkbox",
          "id": "heading_use_gradient",
          "label": "t:sections.all.common.use_gradient_heading.label",
          "info": "t:sections.all.common.use_gradient_heading.info",
          "default": false
        },
        {
          "type": "color_background",
          "id": "heading_gradient_color",
          "label": "t:sections.all.common.heading_gradient_color.label",
          "visible_if": "{{ block.settings.heading_use_gradient }}"
        },
        {
          "type": "header",
          "content": "t:sections.all.common.padding.content"
        },
        {
          "type": "range",
          "id": "padding_top_desktop",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.all.common.desktop_top_padding.label",
          "default": 5,
        },
        {
          "type": "range",
          "id": "padding_bottom_desktop",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.all.common.desktop_bottom_padding.label",
          "default": 5,
        },
        {
          "type": "range",
          "id": "padding_top_mobile",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.all.common.mobile_top_padding.label",
          "default": 3,
        },
        {
          "type": "range",
          "id": "padding_bottom_mobile",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.all.common.mobile_bottom_padding.label",
          "default": 3,
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.all.common.body.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Sign up to receive your welcome offer, plus access to product launches and exclusive offers",
          "label": "t:sections.all.common.body.label"
        },
        {
          "type": "range",
          "id": "size",
          "min": 8,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.common.body_font_size_desktop.label",
          "default": 16
        },
        {
          "type": "range",
          "id": "size_mobile",
          "min": 8,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.common.body_font_size_mobile.label",
          "default": 14
        },
        {
          "type": "header",
          "content": "t:sections.all.common.styling.content"
        },
        {
          "type": "color",
          "id": "color",
          "label": "t:sections.all.common.body_color.label",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "highlighted_color",
          "label": "t:sections.all.common.bolded_text_color.label",
          "default": "#000000"
        },
        {
          "type": "checkbox",
          "id": "text_use_gradient",
          "label": "t:sections.all.common.use_gradient_text.label",
          "default": false
        },
        {
          "type": "color_background",
          "id": "text_gradient_color",
          "label": "t:sections.all.common.text_gradient_color.label",
          "visible_if": "{{ block.settings.text_use_gradient }}"
        },
        {
          "type": "header",
          "content": "t:sections.all.common.padding.content"
        },
        {
          "type": "range",
          "id": "padding_top_desktop",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.all.common.desktop_top_padding.label",
          "default": 5,
        },
        {
          "type": "range",
          "id": "padding_bottom_desktop",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.all.common.desktop_bottom_padding.label",
          "default": 5,
        },
        {
          "type": "range",
          "id": "padding_top_mobile",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.all.common.mobile_top_padding.label",
          "default": 3,
        },
        {
          "type": "range",
          "id": "padding_bottom_mobile",
          "step": 1,
          "min": 0,
          "max": 40,
          "unit": "px",
          "label": "t:sections.all.common.mobile_bottom_padding.label",
          "default": 3,
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.track-your-order.presets.name",
      "settings": {
        "image": "shopify://shop_images/10281c5abecf06c8ba90d5e57fa4e7fa6a8e1c73.jpg",
        "image_radius": 6,
        "button_label": "Track",
        "image_first_on_desktop": true,
        "desktop_content_alignment": "center",
        "mobile_content_alignment": "center",
        "color_scheme2": "accent-1",
        "color_scheme": "accent-2",
        "has_custom_color_scheme": false,
        "custom_color_scheme": "#f8f8f8",
        "card_border_radius": 6,
        "card_top_padding": 18,
        "card_top_padding_mobile": 18,
        "card_right_padding": 18,
        "card_right_padding_mobile": 18,
        "card_bottom_padding": 18,
        "card_bottom_padding_mobile": 18,
        "card_left_padding": 18,
        "card_left_padding_mobile": 18,
        "button_background_color": "#000000",
        "button_text_color": "#ffffff",
        "button_border_radius": 6,
        "button_font_size": 14,
        "input_background_color": "#ffffff",
        "input_text_color": "#1d1a2d",
        "input_placeholder_color": "#666666",
        "input_border_radius": 6,
        "input_border_width": 1,
        "input_border_color": "#f8f8f8",
        "padding_top": 24,
        "padding_bottom": 24
      },
      "blocks": [
        { "type": "heading", "settings": { "heading": "Track <em><strong>Your Order</strong></em>", "size": 40, "mobile_font_size": 28, "color": "#1d1a2d", "highlighted_color": "#000000", "heading_use_gradient": true, "heading_gradient_color": "linear-gradient(180deg, rgba(234, 56, 133, 1), rgba(95, 77, 188, 1) 100%)", "padding_top_desktop": 0, "padding_bottom_desktop": 0, "padding_top_mobile": 10, "padding_bottom_mobile": 8 } },
        { "type": "text", "settings": { "text": "Sign up to receive your welcome offer, plus access to product launches and exclusive offers", "size": 14, "size_mobile": 14, "color": "#000000", "highlighted_color": "#000000", "text_use_gradient": false, "text_gradient_color": "", "padding_top_desktop": 23, "padding_bottom_desktop": 35, "padding_top_mobile": 10, "padding_bottom_mobile": 21 } }
      ]
    }
  ]
}
{% endschema %}