{% comment %}
  Renders a quick-add button for add-ons list
  
  Accepts:
  - product: {Object} Product Liquid object
  - button_text: {String} Text to display on the button
  - section_id: {String} The ID of the section that contains this button
  - button_class: {String} Additional CSS classes for the button
{% endcomment %}

{%- liquid
  assign product_form_id = 'quick-add-' | append: section_id | append: '-' | append: product.id
  assign qty_rules = false
  if product.selected_or_first_available_variant.quantity_rule.min > 1 or product.selected_or_first_available_variant.quantity_rule.max != null or product.selected_or_first_available_variant.quantity_rule.increment > 1
    assign qty_rules = true
  endif
-%}

<div class="quick-add no-js-hidden">
    <modal-opener data-modal="#QuickAdd-{{ product.id }}">
      <button
        id="{{ product_form_id }}-submit"
        type="submit"
        name="add"
        class="product-add-ons-content-item__quick-view-button quick-add__submit button button--secondary {{ button_class }}"
        aria-haspopup="dialog"
        aria-labelledby="{{ product_form_id }}-submit"
        data-product-url="{{ product.url }}"
      >
        <span class="quick-add__submit-text">
        {{ button_text }}
        </span>
        <div class="loading-overlay__spinner hidden">
          <svg
            aria-hidden="true"
            focusable="false"
            class="spinner"
            viewBox="0 0 66 66"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
      </button>
    </modal-opener>
    <quick-add-modal id="QuickAdd-{{ product.id }}" class="quick-add-modal">
      <div
        role="dialog"
        aria-label="{{ 'products.product.choose_product_options' | t: product_name: product.title | escape }}"
        aria-modal="true"
        class="quick-add-modal__content global-settings-popup"
        tabindex="-1"
      >
        <button
          id="ModalClose-{{ product.id }}"
          type="button"
          class="quick-add-modal__toggle"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          {% render 'icon-close' %}
        </button>
        <div id="QuickAddInfo-{{ product.id }}" class="quick-add-modal__content-info"></div>
      </div>
    </quick-add-modal>
</div>
