<div class="collage-card {% if card_styles == 'none' %}global-media-settings{% else %}card-wrapper {{ card_styles }} {% endif %}">
  <div
    class="media media--transparent ratio"
    {% if image != blank %}
      style="--ratio-percent: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%; border-radius: {{ border_radius }}px;"
    {% else %}
      style="--ratio-percent: 100%; border-radius: {{ border_radius }}px;"
    {% endif %}
  >
    {%- if image != blank -%}
      {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px){%- endcapture -%}
      {{
        image
        | image_url: width: 3000
        | image_tag: loading: 'lazy', sizes: sizes, widths: '550, 720, 990, 1100, 1500, 2200, 3000'
      }}
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
    {%- endif -%}
  </div>
</div> 