{% comment %}
  Renders facets (filtering and sorting)

  Accepts:
  - results: {Object} Collection or Search object
  - enable_filtering: {Boolean} Show filtering when true
  - enable_sorting: {Boolean} Show sorting when true
  - filter_type: {String} Type of filter

  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical' %}
{% endcomment %}

{{ 'component-show-more.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}
<div class="facets-container{% if filter_type == 'drawer' %} facets-container-drawer{% endif %}">
  {%- if filter_type == 'vertical' or filter_type == 'horizontal' -%}
    <facet-filters-form class="facets small-hide">
      <form
        id="FacetFiltersForm"
        class="{% if filter_type == 'horizontal' %}facets__form{% else %}facets__form-vertical{% endif %}"
      >
        {%- if results.terms -%}
          <input type="hidden" name="q" value="{{ results.terms | escape }}">
          <input name="options[prefix]" type="hidden" value="last">
        {%- endif -%}

        {% if enable_filtering %}
          {% comment %} Heading is the first tabbable element on filter type horizontal {% endcomment %}
          <div
            id="FacetsWrapperDesktop"
            {% if filter_type == 'horizontal' %}
              class="facets__wrapper"
            {% endif %}
          >
            {%- if filter_type == 'horizontal' and results.filters != empty -%}
              <h2 class="facets__heading caption-large text-body" id="verticalTitle" tabindex="-1">
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.75 8.24957H6.0646M2.29292 8.24957H0.75M2.29292 8.24957C2.29292 7.75611 2.49156 7.28286 2.84514 6.93393C3.19872 6.585 3.67828 6.38898 4.17832 6.38898C4.67837 6.38898 5.15793 6.585 5.51151 6.93393C5.86509 7.28286 6.06373 7.75611 6.06373 8.24957C6.06373 8.74303 5.86509 9.21628 5.51151 9.56521C5.15793 9.91414 4.67837 10.1102 4.17832 10.1102C3.67828 10.1102 3.19872 9.91414 2.84514 9.56521C2.49156 9.21628 2.29292 8.74303 2.29292 8.24957ZM16.75 13.8885H11.7788M11.7788 13.8885C11.7788 14.3821 11.5796 14.8559 11.226 15.2049C10.8723 15.5539 10.3926 15.75 9.89249 15.75C9.39245 15.75 8.91289 15.5531 8.5593 15.2042C8.20572 14.8553 8.00708 14.382 8.00708 13.8885M11.7788 13.8885C11.7788 13.395 11.5796 12.922 11.226 12.573C10.8723 12.224 10.3926 12.028 9.89249 12.028C9.39245 12.028 8.91289 12.224 8.5593 12.5729C8.20572 12.9218 8.00708 13.3951 8.00708 13.8885M8.00708 13.8885H0.75M16.75 2.6106H14.0646M10.2929 2.6106H0.75M10.2929 2.6106C10.2929 2.11714 10.4916 1.64389 10.8451 1.29496C11.1987 0.946027 11.6783 0.75 12.1783 0.75C12.4259 0.75 12.6711 0.798126 12.8998 0.89163C13.1286 0.985133 13.3364 1.12218 13.5115 1.29496C13.6866 1.46773 13.8255 1.67284 13.9202 1.89858C14.015 2.12432 14.0637 2.36626 14.0637 2.6106C14.0637 2.85493 14.015 3.09688 13.9202 3.32262C13.8255 3.54836 13.6866 3.75347 13.5115 3.92624C13.3364 4.09901 13.1286 4.23606 12.8998 4.32957C12.6711 4.42307 12.4259 4.47119 12.1783 4.47119C11.6783 4.47119 11.1987 4.27517 10.8451 3.92624C10.4916 3.57731 10.2929 3.10406 10.2929 2.6106Z" stroke="var(--facets-color-primary)" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
                </svg>
                <span class="facets__heading-text">{{ 'products.facets.filter_by_label' | t }}</span>
              </h2>
            {%- endif -%}
            {% comment %} Pills are right below the title for filter type vertical {% endcomment %}
            {%- if filter_type == 'vertical' -%}
              <div class="active-facets active-facets-desktop">
                <div class="active-facets-vertical-filter">
                  {%- unless results.filters == empty -%}
                    <h2
                      class="facets__heading facets__heading--vertical caption-large text-body"
                      id="verticalTitle"
                      tabindex="-1"
                    >
                      {{ 'products.facets.filter_by_label' | t }}
                    </h2>
                  {%- endunless -%}
                  <facet-remove class="active-facets__button-wrapper">
                    <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
                      <span>{{ 'products.facets.clear_all' | t }}</span>
                    </a>
                  </facet-remove>
                </div>
                {%- for filter in results.filters -%}
                  {%- for value in filter.active_values -%}
                    <facet-remove>
                      <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
                        <span class="active-facets__button-inner button button--tertiary">
                          {{ filter.label }}: {{ value.label | escape }}
                          {% render 'icon-close-small' %}
                          <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                        </span>
                      </a>
                    </facet-remove>
                  {%- endfor -%}
                  {% if filter.type == 'price_range' %}
                    {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                      <facet-remove>
                        <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
                          <span class="active-facets__button-inner button button--tertiary">
                            {%- if filter.min_value.value -%}
                              {{ filter.min_value.value | money }}
                            {%- else -%}
                              {{ 0 | money }}
                            {%- endif -%}
                            -
                            {%- if filter.max_value.value -%}
                              {{ filter.max_value.value | money }}
                            {%- else -%}
                              {{ filter.range_max | money }}
                            {%- endif -%}
                            {% render 'icon-close-small' %}
                            <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                          </span>
                        </a>
                      </facet-remove>
                    {%- endif -%}
                  {% endif %}
                {%- endfor -%}
              </div>
            {%- endif -%}

            <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
            {% comment %} Filters for both horizontal and vertical filter {% endcomment %}
            {%- for filter in results.filters -%}
              {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
              {% case filter.type %}
                {% when 'boolean', 'list' %}
                  <details
                    id="Details-{{ forloop.index }}-{{ section.id }}"
                    class="{% if filter_type == 'horizontal' %}disclosure-has-popup facets__disclosure{% else %} facets__disclosure-vertical{% endif %} js-filter"
                    data-index="{{ forloop.index }}"
                    {% if filter_type == 'vertical' and forloop.index == 1 %}
                      open
                    {% endif %}
                  >
                    <summary
                      class="facets__summary caption-large focus-offset"
                      aria-label="{{ filter.label }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})"
                    >
                      <div>
                        <span>
                          {{- filter.label | escape }}
                          {%- if filter_type == 'vertical' -%}
                            <span class="facets__selected no-js-hidden{% if filter.active_values.size == 0 %} hidden{% endif %}">
                              ({{ filter.active_values.size }})</span
                            >
                          {%- endif -%}
                        </span>
                        <svg aria-hidden="true" focusable="false" class="icon icon-caret" width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0.425781 0.424317L4.42578 4.42432L8.42578 0.424316" stroke="var(--facets-color-secondary)" stroke-width="1.2"/>
                        </svg>      
                      </div>
                    </summary>
                    <div
                      id="Facet-{{ forloop.index }}-{{ section.id }}"
                      class="parent-display {% if filter_type == 'horizontal' %}facets__display{% else %}facets__display-vertical{% endif %}"
                    >
                      {%- if filter_type != 'vertical' -%}
                        <div class="facets__header">
                          <span>{{ filter.label }}</span>
                          <facet-remove>
                            <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link">
                              {{ 'products.facets.reset' | t }}
                            </a>
                          </facet-remove>
                        </div>
                      {%- endif -%}
                      <fieldset class="facets-wrap parent-wrap {% if filter_type == 'vertical' %} facets-wrap-vertical{% endif %}">
                        <legend class="visually-hidden">{{ filter.label | escape }}</legend>
                        <ul
                          class="{% if filter_type != 'vertical' %} facets__list{% endif %} list-unstyled no-js-hidden"
                          role="list"
                        >
                          {%- for value in filter.values -%}
                            <li class="list-menu__item facets__item{% if forloop.index > 10 and filter_type == 'vertical' %} show-more-item hidden{% endif %}">
                              <label
                                for="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                                class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}"
                              >
                                <input
                                  type="checkbox"
                                  name="{{ value.param_name }}"
                                  value="{{ value.value }}"
                                  id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                                  {% if value.active %}
                                    checked
                                  {% endif %}
                                  {% if value.count == 0 and value.active == false %}
                                    disabled
                                  {% endif %}
                                >

                                  <svg
                                    aria-hidden="true"
                                    focusable="false"
                                    width="13"
                                    height="13"
                                    viewBox="0 0 13 13"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <rect x="0.5" y="0.5" width="12" height="12" rx="1.5" fill="var(--facets-checkbox-bg-color)" stroke="var(--facets-checkbox-inactive-border-color)"/>
                                  </svg>
                                  <svg  class="icon icon-checkmark" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="0.5" width="12" height="12" rx="1.5" fill="var(--facets-checkbox-bg-color)" stroke="url(#paint0_linear_4981_4568_5)"/>
                                    <path d="M4 6.70788L5.47059 8.24634L9 4.24634" stroke="url(#paint1_linear_4981_4568_6)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_4981_4568_5" x1="6.5" y1="0" x2="6.5" y2="13" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="var(--facets-checkbox-icon-color-gradient-1)"/>
                                    <stop offset="1" stop-color="var(--facets-checkbox-icon-color-gradient-2)"/>
                                    </linearGradient>
                                    <linearGradient id="paint1_linear_4981_4568_6" x1="6.5" y1="4.24634" x2="6.5" y2="8.24634" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="var(--facets-checkbox-icon-color-gradient-1)"/>
                                    <stop offset="1" stop-color="var(--facets-checkbox-icon-color-gradient-2)"/>
                                    </linearGradient>
                                    </defs>
                                  </svg>
                                  
                             
                                <span aria-hidden="true">{{ value.label | escape }} ({{ value.count }})</span>
                                <span class="visually-hidden">
                                  {{- value.label | escape }} (
                                  {%- if value.count == 1 -%}
                                    {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                  {%- else -%}
                                    {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                  {%- endif -%}
                                  )</span
                                >
                              </label>
                            </li>
                          {%- endfor -%}
                        </ul>
                        {% comment %} No show more for no JS {% endcomment %}
                        <ul
                          class="{% if filter_type != 'vertical' %} facets__list{% endif %} no-js-list list-unstyled no-js"
                          role="list"
                        >
                          {%- for value in filter.values -%}
                            <li class="list-menu__item facets__item">
                              <label
                                for="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}-no-js"
                                class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}"
                              >
                                <input
                                  type="checkbox"
                                  name="{{ value.param_name }}"
                                  value="{{ value.value }}"
                                  id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}-no-js"
                                  {% if value.active %}
                                    checked
                                  {% endif %}
                                  {% if value.count == 0 and value.active == false %}
                                    disabled
                                  {% endif %}
                                >
                                  <svg
                                    aria-hidden="true"
                                    focusable="false"
                                    width="13"
                                    height="13"
                                    viewBox="0 0 13 13"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <rect x="0.5" y="0.5" width="12" height="12" rx="1.5" fill="var(--facets-checkbox-bg-color)" stroke="var(--facets-checkbox-inactive-border-color)"/>
                                  </svg>
                                  <svg  class="icon icon-checkmark" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="0.5" width="12" height="12" rx="1.5" fill="var(--facets-checkbox-bg-color)" stroke="url(#paint0_linear_4981_4568_56)"/>
                                    <path d="M4 6.70788L5.47059 8.24634L9 4.24634" stroke="url(#paint1_linear_4981_4568_61)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_4981_4568_56" x1="6.5" y1="0" x2="6.5" y2="13" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="var(--facets-checkbox-icon-color-gradient-1)"/>
                                    <stop offset="1" stop-color="var(--facets-checkbox-icon-color-gradient-2)"/>
                                    </linearGradient>
                                    <linearGradient id="paint1_linear_4981_4568_61" x1="6.5" y1="4.24634" x2="6.5" y2="8.24634" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="var(--facets-checkbox-icon-color-gradient-1)"/>
                                    <stop offset="1" stop-color="var(--facets-checkbox-icon-color-gradient-2)"/>
                                    </linearGradient>
                                    </defs>
                                  </svg>
                                  
                                
                                <span aria-hidden="true">{{ value.label | escape }} ({{ value.count }})</span>
                                <span class="visually-hidden">
                                  {{- value.label | escape }} (
                                  {%- if value.count == 1 -%}
                                    {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                  {%- else -%}
                                    {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                  {%- endif -%}
                                  )</span
                                >
                              </label>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </fieldset>
                      {%- if filter.values.size > 10 and filter_type == 'vertical' -%}
                        <show-more-button>
                          <button
                            class="button-show-more link underlined-link no-js-hidden"
                            id="Show-More-{{ forloop.index }}-{{ section.id }}"
                            type="button"
                          >
                            <span class="label-show-more label-text"
                              ><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t -}}
                            </span>
                            <span class="label-show-less label-text hidden"
                              ><span aria-hidden="true">- </span>{{ 'products.facets.show_less' | t -}}
                            </span>
                          </button>
                        </show-more-button>
                      {%- endif %}
                    </div>
                  </details>
                {% when 'price_range' %}
                  {% liquid
                    assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                    assign uses_comma_decimals = false
                    if currencies_using_comma_decimals contains cart.currency.iso_code
                      assign uses_comma_decimals = true
                    endif
                  %}
                  <details
                    id="Details-{{ forloop.index }}-{{ section.id }}"
                    class="{% if filter_type == 'horizontal' %}disclosure-has-popup facets__disclosure{% else %} facets__disclosure-vertical{% endif %} js-filter"
                    data-index="{{ forloop.index }}"
                    {% if filter_type == 'vertical' and forloop.index == 1 %}
                      open
                    {% endif %}
                  >
                    <summary class="facets__summary caption-large focus-offset">
                      <div>
                        <span>{{ filter.label | escape }}</span>
                      </div>
                    </summary>
                    <div
                      id="Facet-{{ forloop.index }}-{{ section.id }}"
                      class="{% if filter_type == 'horizontal' %}facets__display{% else %}facets__display-vertical{% endif %}"
                    >
                      <div class="{% if filter_type == 'horizontal' %}facets__header facets__header--price{% else %}facets__header-vertical{% endif %}">
                        {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
                        <span class="facets__selected">
                          {{- 'products.facets.max_price' | t: price: max_price_amount -}}
                        </span>
                        {%- if filter_type != 'vertical' -%}
                          <facet-remove>
                            <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link">
                              {{ 'products.facets.reset' | t }}
                            </a>
                          </facet-remove>
                        {%- endif -%}
                      </div>
                      <price-range class="facets__price">
                        <div class="facets__price-wrapper">
                          <span class="field-label">{{ 'products.facets.min' | t }}</span>
                          <div class="field">
                            <span class="field-currency">{{ cart.currency.symbol }}</span>
                            <input
                              class="field__input"
                              name="{{ filter.min_value.param_name }}"
                              id="Filter-{{ filter.label | escape }}-GTE"
                              {%- if filter.min_value.value -%}
                                {%- if uses_comma_decimals -%}
                                  value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                {%- else -%}
                                  value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                {%- endif %}
                              {%- endif -%}
                              type="number"
                              placeholder="0"
                              min="0"
                              {%- if uses_comma_decimals -%}
                                max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                              {%- else -%}
                                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                              {% endif %}
                            >
                          </div>
                          <span class="field-separator">
                            <svg width="8" height="2" viewBox="0 0 8 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M7.86648 0V1.55114H0V0H7.86648Z" fill="var(--facets-color-primary)"/>
                              </svg>
                              
                          </span>
                          <span class="field-label">{{ 'products.facets.max' | t }}</span>
                          <div class="field">
                            <span class="field-currency">{{ cart.currency.symbol }}</span>
                            <input
                              class="field__input"
                              name="{{ filter.max_value.param_name }}"
                              id="Filter-{{ filter.label | escape }}-LTE"
                              {%- if filter.max_value.value -%}
                                {%- if uses_comma_decimals -%}
                                  value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                {%- else -%}
                                  value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                {%- endif %}
                              {%- endif -%}
                              type="number"
                              min="0"
                              {%- if uses_comma_decimals -%}
                                placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                              {%- else -%}
                                placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                              {% endif %}
                            >
                          </div>
                        </div>
                        {% liquid
                          assign range_max_val = filter.range_max | money_without_currency | replace: ',', ''
                          assign min_prefill = 0
                          assign max_prefill = range_max_val
                          if filter.min_value.value
                            assign min_prefill = filter.min_value.value | money_without_currency | replace: ',', ''
                          endif
                          if filter.max_value.value
                            assign max_prefill = filter.max_value.value | money_without_currency | replace: ',', ''
                          endif
                        %}
                        <div class="price-slider" role="group" aria-label="Price range">
                          <div class="price-slider__track"></div>
                          <input type="range" class="price-slider__input price-slider__input--min" min="0" max="{{ range_max_val }}" value="{{ min_prefill }}" aria-label="{{ 'products.facets.min' | t }}">
                          <input type="range" class="price-slider__input price-slider__input--max" min="0" max="{{ range_max_val }}" value="{{ max_prefill }}" aria-label="{{ 'products.facets.max' | t }}">
                        </div>
                      </price-range>
                    </div>
                  </details>
              {% endcase %}
            {%- endfor -%}
            <noscript>
              <button type="submit" class="facets__button-no-js button button--secondary">
                {{ 'products.facets.filter_button' | t }}
              </button>
            </noscript>
          </div>
          {% comment %} Pills after filtes on filter type horizontal {% endcomment %}
          {%- if filter_type == 'horizontal' -%}
            <div class="active-facets active-facets-desktop">
              {%- for filter in results.filters -%}
                {%- for value in filter.active_values -%}
                  <facet-remove>
                    <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
                      <span class="active-facets__button-inner button button--tertiary">
                        {{ filter.label }}: {{ value.label | escape }}
                        {% render 'icon-close-small' %}
                        <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                      </span>
                    </a>
                  </facet-remove>
                {%- endfor -%}
                {% if filter.type == 'price_range' %}
                  {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                    <facet-remove>
                      <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
                        <span class="active-facets__button-inner button button--tertiary">
                          {%- if filter.min_value.value -%}
                            {{ filter.min_value.value | money }}
                          {%- else -%}
                            {{ 0 | money }}
                          {%- endif -%}
                          -
                          {%- if filter.max_value.value -%}
                            {{ filter.max_value.value | money }}
                          {%- else -%}
                            {{ filter.range_max | money }}
                          {%- endif -%}
                          {% render 'icon-close-small' %}
                          <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                        </span>
                      </a>
                    </facet-remove>
                  {%- endif -%}
                {% endif %}
              {%- endfor -%}
              <facet-remove class="active-facets__button-wrapper">
                <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
                  <span>{{ 'products.facets.clear_all' | t }}</span>
                </a>
              </facet-remove>
            </div>
          {%- endif -%}
        {% endif %}

        {% if results.current_vendor or results.current_type %}
          <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
        {% endif %}

        {%- if filter_type == 'horizontal' -%}
          {% comment %} Sorting and product count are the last elements when filter type is horizontal {% endcomment %}
          {%- if enable_sorting -%}
            <div class="facet-filters sorting caption">
              <div class="facet-filters__field">
                <h2 class="facet-filters__label caption-large">
                  <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
                </h2>
                <div class="custom-dropdown-wrapper">
                  <custom-dropdown class="custom-dropdown">
                    <div class="custom-dropdown__selected">
                      {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                      {%- for option in results.sort_options -%}
                        {%- if option.value == sort_by -%}
                          {{ option.name | escape }}
                        {%- endif -%}
                      {%- endfor -%}
                    </div>
                    <ul class="custom-dropdown__options">
                      <li class="custom-dropdown__options-title">{{ 'products.facets.sort_by' | t }}</li>
                      {%- for option in results.sort_options -%}
                        <li
                          class="custom-dropdown__option{% if option.value == sort_by %} custom-dropdown__option--selected{% endif %}"
                          data-value="{{ option.value | escape }}"
                        >
                          <span>{{ option.name | escape }}</span>
                          <svg
                            class="custom-dropdown__option-checkmark"
                            width="11"
                            height="9"
                            viewBox="0 0 11 9"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path d="M0.75 4.48333L3.75 7.75L9.75 0.75" stroke="var(--facets-color-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                        </li>
                      {%- endfor -%}
                    </ul>
                    {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                    <select
                      name="sort_by"
                      class="facet-filters__sort select__select caption-large"
                      id="SortBy"
                      aria-describedby="a11y-refresh-page-message"
                      style="display: none;"
                    >
                      {%- for option in results.sort_options -%}
                        <option
                          value="{{ option.value | escape }}"
                          {% if option.value == sort_by %}
                            selected="selected"
                          {% endif %}
                        >
                          {{ option.name | escape }}
                        </option>
                      {%- endfor -%}
                    </select>
                  </custom-dropdown>
                </div>
              </div>

              <noscript>
                <button type="submit" class="facets__button-no-js button button--secondary">
                  {{ 'products.facets.sort_button' | t }}
                </button>
              </noscript>
            </div>
          {%- endif -%}
          <div class="product-count" role="status">
            <h2 class="product-count__text">
              <span id="ProductCountDesktop">
                {%- if results.results_count -%}
                  {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
                {%- elsif results.products_count == results.all_products_count -%}
                  {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
                {%- else -%}
                  {{
                    'products.facets.product_count'
                    | t: product_count: results.products_count, count: results.all_products_count
                  }}
                {%- endif -%}
              </span>
            </h2>
            <div class="loading-overlay__spinner">
              <svg
                aria-hidden="true"
                focusable="false"
                class="spinner"
                viewBox="0 0 66 66"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
            <svg width="1" height="20" viewBox="0 0 1 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line opacity="0.2" x1="0.5" y1="2.18557e-08" x2="0.499999" y2="20" stroke="black"/>
            </svg>
          </div>
        {%- endif -%}
      </form>
    </facet-filters-form>
    {% comment %} Sorting for vertical filter are grouped with filter when no JS{% endcomment %}
    {%- if enable_sorting and filter_type == 'vertical' -%}
      <facet-filters-form class="small-hide">
        <form class="no-js">
          <div class="facet-filters sorting caption">
            <div class="facet-filters__field">
              <h2 class="facet-filters__label caption-large text-body">
                <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
              </h2>
              <div class="custom-dropdown-wrapper">
                <custom-dropdown class="custom-dropdown">
                  <div class="custom-dropdown__selected">
                    {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                    {%- for option in results.sort_options -%}
                      {%- if option.value == sort_by -%}
                        <span>{{ option.name | escape }}</span>
                        <svg
                          class="custom-dropdown__option-checkmark"
                          width="11"
                          height="9"
                          viewBox="0 0 11 9"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path d="M0.75 4.48333L3.75 7.75L9.75 0.75" stroke="var(--facets-color-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      {%- endif -%}
                    {%- endfor -%}
                  </div>
                  <ul class="custom-dropdown__options">
                    <li class="custom-dropdown__options-title">{{ 'products.facets.sort_by' | t }}</li>
                    {%- for option in results.sort_options -%}
                      <li
                        class="custom-dropdown__option{% if option.value == sort_by %} custom-dropdown__option--selected{% endif %}"
                        data-value="{{ option.value | escape }}"
                      >
                        <span>{{ option.name | escape }}</span>
                        <svg
                          class="custom-dropdown__option-checkmark"
                          width="11"
                          height="9"
                          viewBox="0 0 11 9"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path d="M0.75 4.48333L3.75 7.75L9.75 0.75" stroke="var(--facets-color-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </li>
                    {%- endfor -%}
                  </ul>
                  {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                  <select
                    name="sort_by"
                    class="facet-filters__sort select__select caption-large"
                    id="SortBy"
                    aria-describedby="a11y-refresh-page-message"
                    style="display: none;"
                  >
                    {%- for option in results.sort_options -%}
                      <option
                        value="{{ option.value | escape }}"
                        {% if option.value == sort_by %}
                          selected="selected"
                        {% endif %}
                      >
                        {{ option.name | escape }}
                      </option>
                    {%- endfor -%}
                  </select>
                </custom-dropdown>
              </div>
            </div>

            <noscript>
              <button type="submit" class="facets__button-no-js button button--secondary">
                {{ 'products.facets.sort_button' | t }}
              </button>
            </noscript>
          </div>

          {% if results.current_vendor or results.current_type %}
            <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
          {% endif %}

          {%- if results.terms -%}
            <input type="hidden" name="q" value="{{ results.terms | escape }}">
            <input name="options[prefix]" type="hidden" value="last">
          {%- endif -%}
        </form>
      </facet-filters-form>
    {%- endif -%}
  {%- endif -%}
  {% comment %}  Drawer and mobile filter {% endcomment %}
  <menu-drawer
    class="mobile-facets__wrapper{% if filter_type == 'horizontal' or filter_type == 'vertical' %} medium-hide large-up-hide{% endif %}"
    data-breakpoint="mobile"
  >
    <details class="mobile-facets__disclosure disclosure-has-popup">
      <summary class="mobile-facets__open-wrapper focus-offset">
        <span class="mobile-facets__open{% if filter_type == 'drawer' and enable_filtering == false %} medium-hide large-up-hide{% endif %}">
          {% render 'icon-filter' %}
          <span class="mobile-facets__open-label button-label medium-hide large-up-hide">
            {%- if enable_filtering and enable_sorting -%}
              {{ 'products.facets.filter_and_sort' | t }}
            {%- elsif enable_filtering -%}
              {{ 'products.facets.filter_button' | t }}
            {%- elsif enable_sorting -%}
              {{ 'products.facets.sort_button' | t }}
            {%- endif -%}
          </span>
          <span class="mobile-facets__open-label button-label small-hide">
            {%- if enable_filtering -%}
              {{ 'products.facets.filter_button' | t }}
            {%- endif -%}
          </span>
        </span>
        <span tabindex="0" class="mobile-facets__close mobile-facets__close--no-js">
          <svg class="icon icon-close" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.9996 12.3059C12.9865 12.3407 12.9719 12.3747 12.9604 12.4099C12.7713 12.9932 12.0662 13.1905 11.6016 12.7899C11.5632 12.7567 11.5276 12.7203 11.492 12.6847C9.8677 11.0618 8.24378 9.43881 6.62025 7.81506C6.58464 7.77947 6.55694 7.73597 6.51777 7.68574C6.46316 7.73755 6.42676 7.77077 6.39194 7.80557C4.75575 9.44039 3.11877 11.0744 1.48456 12.7116C1.2151 12.9813 0.902897 13.0695 0.54717 12.9422C-0.00165548 12.746 -0.175364 12.0595 0.202126 11.6158C0.240508 11.5707 0.283243 11.5296 0.325186 11.4877C1.94911 9.86433 3.57303 8.24136 5.19774 6.61879C5.23335 6.5832 5.27767 6.55631 5.34454 6.50451C5.27569 6.45191 5.22742 6.42265 5.18904 6.38429C3.55562 4.75302 1.9222 3.12136 0.289574 1.4889C-0.116011 1.08316 -0.0950388 0.491951 0.349324 0.179538C0.475549 0.0909555 0.640949 0.0585279 0.788146 0C0.822176 0 0.85581 0 0.889839 0C1.19887 0.0375686 1.41255 0.226202 1.62306 0.437378C3.21137 2.03147 4.80442 3.62082 6.39629 5.21136C6.42834 5.24339 6.46237 5.27424 6.52529 5.33395C6.55734 5.28689 6.57989 5.23904 6.61511 5.20384C8.20263 3.61449 9.79291 2.0287 11.3785 0.437378C11.5886 0.226202 11.8018 0.0371731 12.1113 0C12.1453 0 12.1789 0 12.213 0C12.3665 0.062878 12.5303 0.10796 12.6704 0.192588C12.8587 0.306085 12.9355 0.50856 13 0.71064C13 0.803572 13 0.896901 13 0.989834C12.9379 1.24688 12.7725 1.43275 12.5901 1.61426C10.9907 3.20757 9.39524 4.80483 7.79704 6.39932C7.76262 6.43372 7.71236 6.45231 7.65182 6.48908C7.72938 6.55513 7.76737 6.58281 7.80021 6.61563C9.40039 8.21408 10.999 9.8141 12.6015 11.4102C12.7812 11.5893 12.9406 11.774 13 12.0271C12.9996 12.1196 12.9996 12.213 12.9996 12.3059Z" fill="var(--facets-color-primary)"/>
          </svg>
            
        </span>
      </summary>
      <facet-filters-form>
        <form id="FacetFiltersFormMobile" class="mobile-facets">
          <div class="mobile-facets__inner gradient">
            <div class="mobile-facets__header">
              <div class="mobile-facets__header-inner">
                <h2 class="mobile-facets__heading medium-hide large-up-hide">
                  {{ 'products.facets.filter_by_label' | t }}
                </h2>
                <h2 class="mobile-facets__heading small-hide">
                  {%- if enable_filtering -%}
                    {{ 'products.facets.filter_button' | t }}
                  {%- endif -%}
                </h2>
              </div>
            </div>
         
            <div class="mobile-facets__main has-submenu gradient">
              {% assign has_active_facets = false %}
              {% for filter in results.filters %}
                {% for value in filter.active_values %}
                  {% assign has_active_facets = true %}
                  {% break %}
                {% endfor %}
                {% if filter.type == 'price_range' %}
                  {% if filter.min_value.value != null or filter.max_value.value != null %}
                    {% assign has_active_facets = true %}
                    {% break %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              <div class="active-facets active-facets-mobile medium-hide large-up-hide">
                {% if has_active_facets %}
                  <div class="active-facets-mobile__inner">
                    {%- for filter in results.filters -%}
                      {%- for value in filter.active_values -%}
                        <facet-remove>
                          <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
                            <span class="active-facets__button-inner button button--tertiary">
                              {{ filter.label }}: {{ value.label | escape }}
                              {% render 'icon-close-small' %}
                              <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                            </span>
                          </a>
                        </facet-remove>
                      {%- endfor -%}
                      {%- if filter.type == 'price_range' -%}
                        {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                          <facet-remove>
                            <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
                              <span class="active-facets__button-inner button button--tertiary">
                                {%- if filter.min_value.value -%}
                                  {{ filter.min_value.value | money }}
                                {%- else -%}
                                  {{ 0 | money }}
                                {%- endif -%}
                                -
                                {%- if filter.max_value.value -%}
                                  {{ filter.max_value.value | money }}
                                {%- else -%}
                                  {{ filter.range_max | money }}
                                {%- endif -%}
                                {% render 'icon-close-small' %}
                                <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                              </span>
                            </a>
                          </facet-remove>
                        {%- endif -%}
                      {%- endif -%}
                    {%- endfor -%}
                      <facet-remove class="active-facets__button-wrapper">
                        <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
                          <span>{{ 'products.facets.clear_all' | t }}</span>
                        </a>
                      </facet-remove>
                  </div>
                {% endif %}
              </div>
              {%- if enable_filtering -%}
                {%- for filter in results.filters -%}
                  {% case filter.type %}
                    {% when 'boolean', 'list' %}
                      <details
                        id="Details-Mobile-{{ forloop.index }}-{{ section.id }}"
                        class="mobile-facets__details js-filter"
                        data-index="mobile-{{ forloop.index }}"
                      >
                        <summary class="mobile-facets__summary focus-inset">
                          <div>
                            <span class="mobile-facets__summary-label">{{ filter.label | escape }}</span>
                            <span class="mobile-facets__arrow no-js-hidden">
                              <svg  aria-hidden="true"
                                focusable="false"
                                class="icon icon-arrow" width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.425781 0.424316L4.42578 4.42432L0.425781 8.42432" stroke="var(--facets-color-primary)" stroke-width="1.2"/>
                              </svg>
                                
                            </span>
                            <noscript>{% render 'icon-caret' %}</noscript>
                          </div>
                        </summary>
                        <div
                          id="FacetMobile-{{ forloop.index }}-{{ section.id }}"
                          class="mobile-facets__submenu gradient"
                        >
                          <button
                            class="mobile-facets__close-button link link--text focus-inset"
                            aria-expanded="true"
                            type="button"
                          >
                            <svg  aria-hidden="true"
                              focusable="false"
                              class="icon icon-arrow" width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M0.425781 0.424316L4.42578 4.42432L0.425781 8.42432" stroke="var(--facets-color-primary)" stroke-width="1.2"/>
                            </svg>
                            {{ filter.label | escape }}
                          </button>
                          <ul class="mobile-facets__list list-unstyled" role="list">
                            <div class="mobile-facets__list-title">
                              <span class="mobile-facets__list-title-text">{{ filter.label | escape }}</span>
                              <svg  aria-hidden="true"
                                focusable="false"
                                class="icon icon-arrow" width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.425781 0.424316L4.42578 4.42432L0.425781 8.42432" stroke="var(--facets-color-primary)" stroke-width="1.2"/>
                              </svg>
                            </div>
                            {%- for value in filter.values -%}
                              <li class="mobile-facets__item list-menu__item">
                                <label
                                  for="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}"
                                  class="mobile-facets__label{% if value.count == 0 and value.active == false %} mobile-facets__label--disabled{% endif %}"
                                >
                                  <input
                                    class="mobile-facets__checkbox"
                                    type="checkbox"
                                    name="{{ value.param_name }}"
                                    value="{{ value.value }}"
                                    id="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}"
                                    {% if value.active %}
                                      checked
                                    {% endif %}
                                    {% if value.count == 0 and value.active == false %}
                                      disabled
                                    {% endif %}
                                  >

                                  <span class="mobile-facets__highlight"></span>
                                  <svg
                                    aria-hidden="true"
                                    focusable="false"
                                    width="13"
                                    height="13"
                                    viewBox="0 0 13 13"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <rect x="0.5" y="0.5" width="12" height="12" rx="1.5" fill="var(--facets-checkbox-bg-color)" stroke="var(--facets-checkbox-inactive-border-color)"/>
                                  </svg>
                                  <svg  class="icon icon-checkmark" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="0.5" width="12" height="12" rx="1.5" fill="var(--facets-checkbox-bg-color)" stroke="url(#paint0_linear_4981_4568_57)"/>
                                    <path d="M4 6.70788L5.47059 8.24634L9 4.24634" stroke="url(#paint1_linear_4981_4568_67)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_4981_4568_57" x1="6.5" y1="0" x2="6.5" y2="13" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="var(--facets-checkbox-icon-color-gradient-1)"/>
                                    <stop offset="1" stop-color="var(--facets-checkbox-icon-color-gradient-2)"/>
                                    </linearGradient>
                                    <linearGradient id="paint1_linear_4981_4568_67" x1="6.5" y1="4.24634" x2="6.5" y2="8.24634" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="var(--facets-checkbox-icon-color-gradient-1)"/>
                                    <stop offset="1" stop-color="var(--facets-checkbox-icon-color-gradient-2)"/>
                                    </linearGradient>
                                    </defs>
                                  </svg>
                                    
                                 

                                  <span aria-hidden="true" class="mobile-facets__label-text">{{ value.label | escape }} ({{ value.count }})</span>
                                  <span class="visually-hidden">
                                    {{- value.label | escape }} (
                                    {%- if value.count == '1' -%}
                                      {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                    {%- else -%}
                                      {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                    {%- endif -%}
                                    )</span
                                  >
                                </label>
                              </li>
                            {%- endfor -%}
                          </ul>

                          <div class="no-js-hidden mobile-facets__footer gradient">
                            <facet-remove class="mobile-facets__clear-wrapper">
                              <a href="{{ filter.url_to_remove }}" class="mobile-facets__clear underlined-link">
                                {{- 'products.facets.clear' | t -}}
                              </a>
                            </facet-remove>
                            <button
                              type="button"
                              class="no-js-hidden button button--primary"
                              onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"
                            >
                              {{ 'products.facets.apply' | t }}
                            </button>
                            <noscript
                              ><button class="button button--primary">
                                {{ 'products.facets.apply' | t }}
                              </button></noscript
                            >
                          </div>
                        </div>
                      </details>
                    {% when 'price_range' %}
                      <details
                        id="Details-Mobile-{{ forloop.index }}-{{ section.id }}"
                        class="mobile-facets__details js-filter"
                        data-index="mobile-{{ forloop.index }}"
                      >
                        <summary class="mobile-facets__summary focus-inset">
                          <div>
                            <span class="mobile-facets__summary-label">{{ filter.label | escape }}</span>
                            <span class="mobile-facets__arrow no-js-hidden">
                              <svg  aria-hidden="true"
                                focusable="false"
                                class="icon icon-arrow" width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.425781 0.424316L4.42578 4.42432L0.425781 8.42432" stroke="var(--facets-color-primary)" stroke-width="1.2"/>
                                </svg>
                                
                            </span>
                            <noscript>{% render 'icon-caret' %}</noscript>
                          </div>
                        </summary>
                        <div
                          id="FacetMobile-{{ forloop.index }}-{{ section.id }}"
                          class="mobile-facets__submenu gradient"
                        >
                          <button
                            class="mobile-facets__close-button link link--text focus-inset"
                            aria-expanded="true"
                            type="button"
                          >
                            <svg  aria-hidden="true"
                              focusable="false"
                              class="icon icon-arrow" width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M0.425781 0.424316L4.42578 4.42432L0.425781 8.42432" stroke="var(--facets-color-primary)" stroke-width="1.2"/>
                              </svg>
                              
                            {{ filter.label | escape }}
                          </button>

                          {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
                          <p class="mobile-facets__info">
                            {{ 'products.facets.max_price' | t: price: max_price_amount }}
                          </p>

                          <price-range class="facets__price">
                            <div class="facets__price-wrapper">
                              <span class="field-label">{{ 'products.facets.min' | t }}</span>
                              <div class="field">
                                <span class="field-currency">{{ cart.currency.symbol }}</span>
                                <input
                                  class="field__input"
                                  name="{{ filter.min_value.param_name }}"
                                  id="Mobile-Filter-{{ filter.label | escape }}-GTE"
                                  {%- if filter.min_value.value -%}
                                    {%- if uses_comma_decimals -%}
                                      value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                    {%- else -%}
                                      value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                    {%- endif %}
                                  {%- endif -%}
                                  type="number"
                                  placeholder="0"
                                  min="0"
                                  inputmode="decimal"
                                  {%- if uses_comma_decimals -%}
                                    max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                  {%- else -%}
                                    max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                  {% endif %}
                                >
                              </div>
                              <span class="field-separator">
                                <svg width="8" height="2" viewBox="0 0 8 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M7.86648 0V1.55114H0V0H7.86648Z" fill="var(--facets-color-primary)"/>
                                  </svg>
                                  
                              </span>
                              <span class="field-label">{{ 'products.facets.max' | t }}</span>
                              <div class="field">
                                <span class="field-currency">{{ cart.currency.symbol }}</span>
                                <input
                                  class="field__input"
                                  name="{{ filter.max_value.param_name }}"
                                  id="Mobile-Filter-{{ filter.label | escape }}-LTE"
                                  {%- if filter.max_value.value -%}
                                    {%- if uses_comma_decimals -%}
                                      value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                    {%- else -%}
                                      value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                    {%- endif %}
                                  {%- endif -%}
                                  type="number"
                                  min="0"
                                  inputmode="decimal"
                                  {%- if uses_comma_decimals -%}
                                    placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                    max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                  {%- else -%}
                                    placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                    max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                  {% endif %}
                                >
                              </div>
                            </div>
                            {% liquid
                              assign range_max_val_m = filter.range_max | money_without_currency | replace: ',', ''
                              assign min_prefill_m = 0
                              assign max_prefill_m = range_max_val_m
                              if filter.min_value.value
                                assign min_prefill_m = filter.min_value.value | money_without_currency | replace: ',', ''
                              endif
                              if filter.max_value.value
                                assign max_prefill_m = filter.max_value.value | money_without_currency | replace: ',', ''
                              endif
                            %}
                            <div class="price-slider" role="group" aria-label="Price range">
                              <div class="price-slider__track"></div>
                              <input type="range" class="price-slider__input price-slider__input--min" min="0" max="{{ range_max_val_m }}" value="{{ min_prefill_m }}" aria-label="{{ 'products.facets.min' | t }}">
                              <input type="range" class="price-slider__input price-slider__input--max" min="0" max="{{ range_max_val_m }}" value="{{ max_prefill_m }}" aria-label="{{ 'products.facets.max' | t }}">
                            </div>
                          </price-range>
                          <div class="no-js-hidden mobile-facets__footer">
                            <facet-remove class="mobile-facets__clear-wrapper">
                              <a href="{{ filter.url_to_remove }}" class="mobile-facets__clear underlined-link">
                                {{- 'products.facets.clear' | t -}}
                              </a>
                            </facet-remove>
                            <button
                              type="button"
                              class="no-js-hidden button button--primary"
                              onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"
                            >
                              {{ 'products.facets.apply' | t }}
                            </button>
                            <noscript
                              ><button class="button button--primary">
                                {{ 'products.facets.apply' | t }}
                              </button></noscript
                            >
                          </div>
                        </div>
                      </details>
                  {% endcase %}
                {%- endfor -%}
              {%- endif -%}

              {%- if enable_sorting -%}
                <details
                  id="Details-Mobile-Sort-{{ section.id }}"
                  class="mobile-facets__details js-filter{% if filter_type == 'drawer' %} medium-hide large-up-hide{% endif %}"
                  data-index="mobile-sort"
                >
                  <summary class="mobile-facets__summary focus-inset">
                    <div>
                      <span class="mobile-facets__summary-label">{{ 'products.facets.sort_by' | t }}</span>
                      <span class="mobile-facets__arrow no-js-hidden">
                        <svg  aria-hidden="true"
                          focusable="false"
                          class="icon icon-arrow" width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0.425781 0.424316L4.42578 4.42432L0.425781 8.42432" stroke="var(--facets-color-primary)" stroke-width="1.2"/>
                          </svg>
                          
                      </span>
                      <noscript>{% render 'icon-caret' %}</noscript>
                    </div>
                  </summary>
                  <div
                    id="FacetMobile-Sort-{{ section.id }}"
                    class="mobile-facets__submenu gradient"
                  >
                    <button
                      class="mobile-facets__close-button link link--text focus-inset"
                      aria-expanded="true"
                      type="button"
                    >
                      <svg  aria-hidden="true"
                        focusable="false"
                        class="icon icon-arrow" width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.425781 0.424316L4.42578 4.42432L0.425781 8.42432" stroke="var(--facets-color-primary)" stroke-width="1.2"/>
                        </svg>
                        
                      {{ 'products.facets.sort_by' | t }}
                    </button>

                    <div class="custom-dropdown-wrapper">
                      <custom-dropdown class="custom-dropdown">
                        <svg  aria-hidden="true"
                          focusable="false"
                          class="icon icon-arrow" width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0.425781 0.424316L4.42578 4.42432L0.425781 8.42432" stroke="var(--facets-color-primary)" stroke-width="1.2"/>
                        </svg>
                        
                        <div class="custom-dropdown__selected">
                          {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                          {%- for option in results.sort_options -%}
                            {%- if option.value == sort_by -%}
                              {{ option.name | escape }}
                            {%- endif -%}
                          {%- endfor -%}
                        </div>
                        <ul class="custom-dropdown__options">
                          <li class="custom-dropdown__options-title">{{ 'products.facets.sort_by' | t }}</li>
                          {%- for option in results.sort_options -%}
                            <li
                              class="custom-dropdown__option{% if option.value == sort_by %} custom-dropdown__option--selected{% endif %}"
                              data-value="{{ option.value | escape }}"
                            >
                              <span>{{ option.name | escape }}</span>
                              <svg
                                class="custom-dropdown__option-checkmark"
                                width="11"
                                height="9"
                                viewBox="0 0 11 9"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path d="M0.75 4.48333L3.75 7.75L9.75 0.75" stroke="var(--facets-color-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                            </li>
                          {%- endfor -%}
                        </ul>
                        {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                        <select
                          name="sort_by"
                          class="select__select"
                          id="SortBy-mobile"
                          aria-describedby="a11y-refresh-page-message"
                          style="display: none;"
                        >
                          {%- for option in results.sort_options -%}
                            <option
                              value="{{ option.value | escape }}"
                              {% if option.value == sort_by %}
                                selected="selected"
                              {% endif %}
                            >
                              {{ option.name | escape }}
                            </option>
                          {%- endfor -%}
                        </select>
                      </custom-dropdown>
                    </div>

                    <div class="no-js-hidden mobile-facets__footer gradient">
                      <button
                        type="button"
                        class="no-js-hidden button button--primary"
                        onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"
                      >
                        {{ 'products.facets.apply' | t }}
                      </button>
                      <noscript><button class="button button--primary">{{ 'products.facets.apply' | t }}</button></noscript>
                    </div>
                  </div>
                </details>
              {%- endif -%}

              <div class="mobile-facets__footer">
                <facet-remove class="mobile-facets__clear-wrapper">
                  <a href="{{ results_url }}" class="mobile-facets__clear underlined-link">
                    {{- 'products.facets.clear_all' | t -}}
                  </a>
                </facet-remove>
                <button
                  type="button"
                  class="no-js-hidden button button--primary"
                  onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()"
                >
                  {{ 'products.facets.apply' | t }}
                </button>
                <noscript
                  ><button class="button button--primary">{{ 'products.facets.apply' | t }}</button></noscript
                >
              </div>
            </div>

            {% if results.current_vendor or results.current_type %}
              <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
            {% endif %}

            {%- if results.terms -%}
              <input type="hidden" name="q" value="{{ results.terms | escape }}">
              <input name="options[prefix]" type="hidden" value="last">
            {%- endif -%}
          </div>
        </form>
      </facet-filters-form>
    </details>
  </menu-drawer>

  <div class="active-facets active-facets-desktop medium-hide large-up-hide">
    {%- for filter in results.filters -%}
      {%- for value in filter.active_values -%}
        <facet-remove>
          <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
            <span class="active-facets__button-inner button button--tertiary">
              {{ filter.label }}: {{ value.label | escape }}
              {% render 'icon-close-small' %}
              <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
            </span>
          </a>
        </facet-remove>
      {%- endfor -%}

      {%- if filter.type == 'price_range' -%}
        {%- if filter.min_value.value != null or filter.max_value.value != null -%}
          <facet-remove>
            <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
              <span class="active-facets__button-inner button button--tertiary">
                {%- if filter.min_value.value -%}
                  {{ filter.min_value.value | money }}
                {%- else -%}
                  {{ 0 | money }}
                {%- endif -%}
                -
                {%- if filter.max_value.value -%}
                  {{ filter.max_value.value | money }}
                {%- else -%}
                  {{ filter.range_max | money }}
                {%- endif -%}
                {% render 'icon-close-small' %}
                <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
              </span>
            </a>
          </facet-remove>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    <facet-remove class="active-facets__button-wrapper">
      <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
        <span>{{ 'products.facets.clear_all' | t }}</span>
      </a>
    </facet-remove>
  </div>
  {% comment %} Sort, product count and filter pills at the end when filter is type of Drawer for the correct tabbing order {% endcomment %}
  {%- if enable_sorting and filter_type == 'drawer' -%}
    <facet-filters-form class="facets small-hide">
      <form id="FacetSortDrawerForm" class="facets__form">
        <div class="facet-filters sorting caption small-hide">
          <div class="facet-filters__field">
            <h2 class="facet-filters__label caption-large text-body">
              <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
            </h2>
            <div class="custom-dropdown-wrapper">
              <custom-dropdown class="custom-dropdown">
                <div class="custom-dropdown__selected">
                  {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                  {%- for option in results.sort_options -%}
                    {%- if option.value == sort_by -%}
                      {{ option.name | escape }}
                    {%- endif -%}
                  {%- endfor -%}
                </div>
                <ul class="custom-dropdown__options">
                  <li class="custom-dropdown__options-title">{{ 'products.facets.sort_by' | t }}</li>
                  {%- for option in results.sort_options -%}
                    <li
                      class="custom-dropdown__option{% if option.value == sort_by %} custom-dropdown__option--selected{% endif %}"
                      data-value="{{ option.value | escape }}"
                    >
                      <span>{{ option.name | escape }}</span>
                      <svg
                        class="custom-dropdown__option-checkmark"
                        width="11"
                        height="9"
                        viewBox="0 0 11 9"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path d="M0.75 4.48333L3.75 7.75L9.75 0.75" stroke="var(--facets-color-primary)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </li>
                  {%- endfor -%}
                </ul>
                {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                <select
                  name="sort_by"
                  class="facet-filters__sort select__select caption-large"
                  id="SortBy"
                  aria-describedby="a11y-refresh-page-message"
                  style="display: none;"
                >
                  {%- for option in results.sort_options -%}
                    <option
                      value="{{ option.value | escape }}"
                      {% if option.value == sort_by %}
                        selected="selected"
                      {% endif %}
                    >
                      {{ option.name | escape }}
                    </option>
                  {%- endfor -%}
                </select>
              </custom-dropdown>
            </div>
          </div>

          <noscript>
            <button type="submit" class="facets__button-no-js button button--secondary">
              {{ 'products.facets.sort_button' | t }}
            </button>
          </noscript>
        </div>

        {% if results.current_vendor or results.current_type %}
          <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
        {% endif %}

        {%- if results.terms -%}
          <input type="hidden" name="q" value="{{ results.terms | escape }}">
          <input name="options[prefix]" type="hidden" value="last">
        {%- endif -%}
      </form>
    </facet-filters-form>
  {%- endif -%}
  <div
    class="product-count{% if filter_type == 'vertical' or filter_type == 'horizontal' %} medium-hide large-up-hide{% endif %}"
    role="status"
  >
    <h2 class="product-count__text">
      <span id="ProductCount">
        {%- if results.results_count -%}
          {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
        {%- elsif results.products_count == results.all_products_count -%}
          {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
        {%- else -%}
          {{
            'products.facets.product_count'
            | t: product_count: results.products_count, count: results.all_products_count
          }}
        {%- endif -%}
      </span>
    </h2>
    <div class="loading-overlay__spinner">
      <svg
        aria-hidden="true"
        focusable="false"
        class="spinner"
        viewBox="0 0 66 66"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>
  </div>
  {%- if filter_type == 'drawer' -%}
    <facet-filters-form class="facets facets-pill small-hide">
      <form id="FacetFiltersPillsForm" class="facets__form">
        <div class="active-facets active-facets-desktop">
          {%- for filter in results.filters -%}
            {%- for value in filter.active_values -%}
              <facet-remove>
                <a href="{{ value.url_to_remove }}" class="active-facets__button active-facets__button--light">
                  <span class="active-facets__button-inner button button--tertiary">
                    {{ filter.label }}: {{ value.label | escape }}
                    {% render 'icon-close-small' %}
                    <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                  </span>
                </a>
              </facet-remove>
            {%- endfor -%}

            {%- if filter.type == 'price_range' -%}
              {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                <facet-remove>
                  <a href="{{ filter.url_to_remove }}" class="active-facets__button active-facets__button--light">
                    <span class="active-facets__button-inner button button--tertiary">
                      {%- if filter.min_value.value -%}
                        {{ filter.min_value.value | money }}
                      {%- else -%}
                        {{ 0 | money }}
                      {%- endif -%}
                      -
                      {%- if filter.max_value.value -%}
                        {{ filter.max_value.value | money }}
                      {%- else -%}
                        {{ filter.range_max | money }}
                      {%- endif -%}
                      {% render 'icon-close-small' %}
                      <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                    </span>
                  </a>
                </facet-remove>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
          <facet-remove class="active-facets__button-wrapper">
            <a href="{{ results_url }}" class="active-facets__button-remove underlined-link">
              <span>{{ 'products.facets.clear_all' | t }}</span>
            </a>
          </facet-remove>
        </div>
      </form>
    </facet-filters-form>
  {%- endif -%}
</div>
