{% comment %} 
  Renders icon with text block
  
  Accepts: 
  - block: {Object} passes in the block information.
  
  
  Usage:
  {% render 'icon-with-text', 
  block: block
  %} 
{% endcomment %}
{%- liquid
  assign heading_1_empty = false
  assign heading_2_empty = false
  assign heading_3_empty = false
  assign text_only_all_items = true

  if block.settings.heading_1 == empty
    assign heading_1_empty = true
  endif

  if block.settings.heading_2 == empty
    assign heading_2_empty = true
  endif

  if block.settings.heading_3 == empty
    assign heading_3_empty = true
  endif

  if heading_1_empty == false and block.settings.icon_1 != 'none' or block.settings.image_1 != null
    assign text_only_all_items = false
  elsif heading_2_empty == false and block.settings.icon_2 != 'none' or block.settings.image_2 != null
    assign text_only_all_items = false
  elsif heading_3_empty == false and block.settings.icon_3 != 'none' or block.settings.image_3 != null
    assign text_only_all_items = false
  endif

  # Global settings
  assign global_heading_size = settings.enable_global_heading_font_size
  assign global_body_size = settings.enable_global_body_font_size
  assign global_color = settings.enable_global_color
  assign number_of_items = 0
-%}

{% style %}
  .product-block-{{ block.id }}{
    padding-top: {{ block.settings.padding_top }}px;
    padding-bottom: {{ block.settings.padding_bottom }}px;
  }

  .icon-with-text {
    width: 100%;
    display: flex;
    padding: 10px 0;
    border-top: 1.6px solid #00000005;
    border-bottom: 1.6px solid #00000005;
    align-items: center;
    list-style: none;
    margin: 0;
    gap: 14px;
    justify-content: space-between;
    overflow-x: auto;
    {% if block.settings.layout_direction == 'vertical' %}
      gap: 5px;
      flex-direction: column;
      align-items: flex-start;
    {% endif %}
  }

  .icon-with-text__item {
    flex: none;
    /* height: 41px; */
    display: flex;
    align-items: center;
    gap: 7px;
    position: relative;
  }

  {% if block.settings.layout_direction== 'horizontal' %}
    .icon-with-text__item-divider{
      width: 1px;
      height: 22px;
      background: #00000010;
      flex-shrink: 0;
    }
    .icon-with-text__item-divider:empty{
      display: block;
    }
  {% endif %}

  .product-block-{{ block.id }} .icon-with-text__item .material-icon {
    font-size: {{ block.settings.icon_size }}px !important;
    color: {{ block.settings.custom_icon_color }} !important;
    display: flex;
  }
  .product-block-{{ block.id }} .icon-with-text__item span.material-icon svg{
    width: {{ block.settings.icon_size }}px;
    height: {{ block.settings.icon_size }}px;
    fill: {{ block.settings.custom_icon_color }} !important;
  }

  .product-block-{{ block.id }} .icon-with-text__item img {
    width: {{ block.settings.icon_size }}px;
    height: {{ block.settings.icon_size }}px;
    object-fit: contain;
  }

  .product-block-{{ block.id }} .icon-with-text__item .h4 {
    padding-top: 0;
    margin: 0;
    font-size: {% if global_body_size %}var(--global-body-text-font-size){% else %}{{ block.settings.font_size }}px{% endif %} !important;
    line-height: {% if global_body_size %}calc(var(--global-body-text-font-size) + 10px){% else %}{{ block.settings.font_size | plus: 10 }}px{% endif %} !important;
    color: {% if global_color %}rgb(var(--color-base-text)){% else %}{{ block.settings.text_color }}{% endif %} !important;
    font-weight: 400;

  }
  {% if block.settings.layout_direction== 'horizontal' %}
      .product-block-{{ block.id }} .icon-with-text__item .h4 {
        flex-shrink: 0;
      }
    {% endif %}
  @media screen and (max-width: 768px) {
    .product-block-{{ block.id }} .icon-with-text {
      width: 100vw;
      margin-left: -2rem !important;
      padding: 12px 16px;
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    .product-block-{{ block.id }} .icon-with-text__item{
      flex-shrink: 0;
      flex: 1;
      {% if block.settings.layout_direction== 'horizontal' %}
        flex: none;
        justify-content: flex-start;
      {% endif %}
    }
  
  }
{% endstyle %}

<ul class="icon-with-text">
  {%- unless heading_1_empty -%}
    {% assign number_of_items = number_of_items | plus: 1 %}
    <li class="icon-with-text__item">
      {%- if block.settings.image_1 != blank -%}
        {{
          block.settings.image_1
          | image_url: width: 50
          | image_tag:
            loading: 'lazy',
            widths: '25, 35, 50',
            width: 25,
            height: 25,
            alt: block.settings.heading_1
        }}
      {%- elsif block.settings.icon_1 != blank -%}
        <span class="material-icon material-symbols-outlined notranslate">
          {{ block.settings.icon_1 }}
        </span>
      {%- endif -%}
      
      <span class="h4">{{ block.settings.heading_1 }}</span>
    </li>
  {%- endunless -%}

  {%- unless heading_2_empty -%}
    {% assign number_of_items = number_of_items | plus: 1 %}
    <div class="icon-with-text__item-divider"></div>
    <li class="icon-with-text__item">
      {%- if block.settings.image_2 != blank -%}
        {{
          block.settings.image_2
          | image_url: width: 50
          | image_tag:
            loading: 'lazy',
            widths: '25, 35, 50',
            width: 25,
            height: 25,
            alt: block.settings.heading_2
        }}
      {%- elsif block.settings.icon_2 != blank -%}
        <span class="material-icon material-symbols-outlined notranslate">
          {{ block.settings.icon_2 }}
        </span>
      {%- endif -%}
      
      <span class="h4">{{ block.settings.heading_2 }}</span>
    </li>
  {%- endunless -%}

  {%- unless heading_3_empty -%}
    {% assign number_of_items = number_of_items | plus: 1 %}
    <div class="icon-with-text__item-divider"></div>
    <li class="icon-with-text__item">
      {%- if block.settings.image_3 != blank -%}
        {{
          block.settings.image_3
          | image_url: width: 50
          | image_tag:
            loading: 'lazy',
            widths: '25, 35, 50',
            width: 25,
            height: 25,
            alt: block.settings.heading_3
        }}
      {%- elsif block.settings.icon_3 != blank -%}
        <span class="material-icon material-symbols-outlined notranslate">
          {{ block.settings.icon_3 }}
        </span>
      {%- endif -%}
      
      <span class="h4">{{ block.settings.heading_3 }}</span>
    </li>
  {%- endunless -%}
</ul>