{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}

{%- liquid
  assign color_option_name = block.settings.custom_swatch_option_name | downcase | default: 'color'
  assign has_custom_color = block.settings.variants_custom_color
  assign swatch_type = block.settings.swatch_type
  assign swatch_size = block.settings.swatch_size | default: '5rem'
-%}

{%- if has_custom_color -%}
  <style>
    :root {
      --variants-custom-color: {{ block.settings.variants_custom_color }};
    }
    .swatch-color__label::before,
    .swatch-color__label {
      background-color: var(--variants-custom-color) !important;
    }
    variant-radios input:after {
      background-color: var(--variants-custom-color) !important;
    }
    .custom_variants_select_color {
      select, select + svg {
        color: var(--variants-custom-color) !important;
      }
      &:after {
        box-shadow: 0 0 0 var(--inputs-border-width) var(--variants-custom-color) !important;
      }
      &:hover:after,
      select:focus-visible,
      select:focus {
        box-shadow: 0 0 0 calc(.1rem + var(--inputs-border-width)) var(--variants-custom-color) !important;
      }
    }
  </style>
{%- else -%}
  <style>
    :root {
      --variants-custom-color: #000;
    }
  </style>
{%- endif -%}

<style>
  :root {
    --custom-swatch-border-radius: {% if swatch_type == 'circle' %}50%{% else %}0{% endif %};
    --custom-swtach-size: {{ swatch_size }};
  }

  legend span {
    font-weight: 400;
    color: currentColor;
  }
</style>

{% style %}
  .product-block-{{ block.id }} {
    padding-top: {{ block.settings.padding_top }}px;
    padding-bottom: {{ block.settings.padding_bottom }}px;
  }
{% endstyle %}

{%- unless product.has_only_default_variant -%}
  {%- if block.settings.enable_color_swatches -%}
    <hybrid-variant-picker
      id="variant-picker-{{ section.id }}"
      class="no-js-hidden"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {% if update_url == false %}
        data-update-url="false"
      {% endif %}
      style="display: flex;flex-direction: column;gap: 11px;"
    >
      {%- for option in product.options_with_values -%}
        {% assign option_downcase = option.name | downcase %}

        {% if option_downcase contains color_option_name %}
          <fieldset class="js product-form__input" data-option-index="{{ forloop.index }}">
            <legend class="form__label" style="color: var(--variants-custom-color) !important;">
              {{ option.name }}: <span>{% unless section.settings.show_main_image_first %}{{ option.selected_value }}{% endunless %}</span>
            </legend>
            <section class="swatches-container">
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                is_color_swatch: true
              %}
            </section>
          </fieldset>
        {% else %}
          {% if block.settings.picker_type == 'button' %}
            <fieldset class="js product-form__input" data-option-index="{{ forloop.index }}">
              <legend class="form__label" style="color: var(--variants-custom-color) !important;">
                {{ option.name }}: <span>{% unless section.settings.show_main_image_first %}{{ option.selected_value }}{% endunless %}</span>
              </legend>
              {% render 'product-variant-options', product: product, option: option, block: block %}
            </fieldset>
          {%- else -%}
            <div class="product-form__input product-form__input--dropdown">
              <label
                class="form__label"
                style="color: var(--variants-custom-color) !important;"
                for="Option-{{ section.id }}-{{ forloop.index0 }}"
              >
                {{ option.name }}
              </label>
              <div class="select custom_variants_select_color">
                <select
                  id="Option-{{ section.id }}-{{ forloop.index0 }}"
                  class="select__select"
                  name="options[{{ option.name | escape }}]"
                  form="{{ product_form_id }}"
                  data-option-index="{{ forloop.index }}"
                >
                  {% render 'product-variant-options', product: product, option: option, block: block %}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </hybrid-variant-picker>
  {%- else -%}
    {%- if block.settings.picker_type == 'button' -%}
      <variant-radios
        id="variant-radios-{{ section.id }}"
        class="no-js-hidden"
        data-section="{{ section.id }}"
        data-url="{{ product.url }}"
        {% if update_url == false %}
          data-update-url="false"
        {% endif %}
      >
        {%- for option in product.options_with_values -%}
          <fieldset class="js product-form__input" data-option-index="{{ forloop.index }}">
            <legend class="form__label" style="color: var(--variants-custom-color) !important;">
              {{ option.name }}: <span>{% unless section.settings.show_main_image_first %}{{ option.selected_value }}{% endunless %}</span>
            </legend>
            {% render 'product-variant-options', product: product, option: option, block: block %}
          </fieldset>
        {%- endfor -%}
        <script type="application/json">
          {{ product.variants | json }}
        </script>
      </variant-radios>
    {%- else -%}
      <variant-selects
        id="variant-selects-{{ section.id }}"
        class="no-js-hidden"
        data-section="{{ section.id }}"
        data-url="{{ product.url }}"
        {% if update_url == false %}
          data-update-url="false"
        {% endif %}
      >
        {%- for option in product.options_with_values -%}
          <div class="product-form__input product-form__input--dropdown">
            <label
              class="form__label"
              style="color: var(--variants-custom-color) !important;"
              for="Option-{{ section.id }}-{{ forloop.index0 }}"
            >
              {{ option.name }}
            </label>
            <div class="select custom_variants_select_color">
              <select
                id="Option-{{ section.id }}-{{ forloop.index0 }}"
                class="select__select"
                name="options[{{ option.name | escape }}]"
                form="{{ product_form_id }}"
                data-option-index="{{ forloop.index }}"
              >
                {% render 'product-variant-options', product: product, option: option, block: block %}
              </select>
              {% render 'icon-caret' %}
            </div>
          </div>
        {%- endfor -%}
        <script type="application/json">
          {{ product.variants | json }}
        </script>
      </variant-selects>
    {%- endif -%}
  {%- endif -%}
{%- endunless -%}

<noscript class="product-form__noscript-wrapper-{{ section.id }}">
  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
    <label class="form__label" style="color: var(--variants-custom-color) !important;" for="Variants-{{ section.id }}">
      {{- 'products.product.product_variants' | t -}}
    </label>
    <div class="select">
      <select
        name="id"
        id="Variants-{{ section.id }}"
        class="select__select custom_variants_select_color"
        form="{{ product_form_id }}"
      >
        {%- for variant in product.variants -%}
          <option
            {% unless section.settings.show_main_image_first %}
              {% if variant == product.selected_or_first_available_variant %}
                selected="selected"
              {% endif %}
            {% endunless %}
            {% if variant.available == false %}
              disabled
            {% endif %}
            value="{{ variant.id }}"
          >
            {%- liquid
              echo variant.title
              echo variant.price | money | strip_html | prepend: ' - '
              if variant.available == false
                echo 'products.product.sold_out' | t | prepend: ' - '
              endif
              if variant.quantity_rule.increment > 1
                echo 'products.product.quantity.multiples_of' | t: quantity: variant.quantity_rule.increment | prepend: ' - '
              endif
              if variant.quantity_rule.min > 1
                echo 'products.product.quantity.minimum_of' | t: quantity: variant.quantity_rule.min | prepend: ' - '
              endif
              if variant.quantity_rule.max != null
                echo 'products.product.quantity.maximum_of' | t: quantity: variant.quantity_rule.max | prepend: ' - '
              endif
              assign cart_quantity = cart | item_count_for_variant: variant.id
              if cart_quantity > 0
                echo 'products.product.quantity.in_cart_html' | t: quantity: cart_quantity | prepend: ' - '
              endif
            -%}
          </option>
        {%- endfor -%}
      </select>
      {% render 'icon-caret' %}
    </div>
  </div>
</noscript>
