<div
  class="no-js-hidden product-page-price"
  id="price-{{ section.id }}"
  role="status"
  {{ block.shopify_attributes }}
>
  {%- render 'price', product: product, use_variant: true, show_badges: true, block: block -%}
</div>
{%- if product != blank -%}
  <div {{ block.shopify_attributes }}>
    {%- form 'product', product -%}
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
      {{ form | payment_terms }}
    {%- endform -%}
  </div>
{%- endif -%}