<ul style="gap: {{ column_gap }}px !important;" {{ block.shopify_attributes }}>
    {% if block.settings.point_1 != blank %}
        <li>
        {%- if block.settings.bullet_image_1 %}
            <img
            style="margin-right: 8px;"
            src="{{ block.settings.bullet_image_1 | image_url }}"
            width="50"
            height="50"
            >
        {% elsif block.settings.icon_1 != blank %}
            <span
            style="display: flex;"
            class="material-icon material-symbols-outlined notranslate"
            >
            {{ block.settings.icon_1 }}
            </span>
        {% endif %}
        <div class="bullet-point-text sw-base-text-color">
            {{ block.settings.point_1 }}
        </div>
        </li>
    {% endif %}
    {% if block.settings.point_2 != blank %}
        <li>
        {%- if block.settings.bullet_image_2 %}
            <img
            style="margin-right: 8px;"
            src="{{ block.settings.bullet_image_2 | image_url }}"
            width="50"
            height="50"
            >
        {% elsif block.settings.icon_2 != blank %}
            <span
            style="display: flex;"
            class="material-icon material-symbols-outlined notranslate"
            >
            {{ block.settings.icon_2 }}
            </span>
        {% endif %}
        <div class="bullet-point-text sw-base-text-color">
            {{ block.settings.point_2 }}
        </div>
        </li>
    {% endif %}
    {% if block.settings.point_3 != blank %}
        <li>
        {%- if block.settings.bullet_image_3 %}
            <img
            style="margin-right: 8px;"
            src="{{ block.settings.bullet_image_3 | image_url }}"
            width="50"
            height="50"
            >
        {% elsif block.settings.icon_3 != blank %}
            <span
            style="display: flex;"
            class="material-icon material-symbols-outlined notranslate"
            >
            {{ block.settings.icon_3 }}
            </span>
        {% endif %}
        <div class="bullet-point-text sw-base-text-color">
            {{ block.settings.point_3 }}
        </div>
        </li>
    {% endif %}
    {% if block.settings.point_4 != blank %}
        <li>
        {%- if block.settings.bullet_image_4 %}
            <img
            style="margin-right: 8px;"
            src="{{ block.settings.bullet_image_4 | image_url }}"
            width="50"
            height="50"
            >
        {% elsif block.settings.icon_4 != blank %}
            <span
            style="display: flex;"
            class="material-icon material-symbols-outlined notranslate"
            >
            {{ block.settings.icon_4 }}
            </span>
        {% endif %}
        <div class="bullet-point-text sw-base-text-color">
            {{ block.settings.point_4 }}
        </div>
        </li>
    {% endif %}
    {% if block.settings.point_5 != blank %}
        <li>
        {%- if block.settings.bullet_image_5 %}
            <img
            style="margin-right: 8px;"
            src="{{ block.settings.bullet_image_5 | image_url }}"
            width="50"
            height="50"
            >
        {% elsif block.settings.icon_5 != blank %}
            <span
            style="display: flex;"
            class="material-icon material-symbols-outlined notranslate"
            >
            {{ block.settings.icon_5 }}
            </span>
        {% endif %}
        <div class="bullet-point-text sw-base-text-color">
            {{ block.settings.point_5 }}
        </div>
        </li>
    {% endif %}
    {% if block.settings.point_6 != blank %}
        <li>
        {%- if block.settings.bullet_image_6 %}
            <img
            style="margin-right: 8px;"
            src="{{ block.settings.bullet_image_6 | image_url }}"
            width="50"
            height="50"
            >
        {% elsif block.settings.icon_6 != blank %}
            <span
            style="display: flex;"
            class="material-icon material-symbols-outlined notranslate"
            >
            {{ block.settings.icon_6 }}
            </span>
        {% endif %}
        <div class="bullet-point-text sw-base-text-color">
            {{ block.settings.point_6 }}
        </div>
        </li>
    {% endif %}
    {% if block.settings.point_7 != blank %}
        <li>
        {%- if block.settings.bullet_image_7 %}
            <img
            style="margin-right: 8px;"
            src="{{ block.settings.bullet_image_7 | image_url }}"
            width="50"
            height="50"
            >
        {% elsif block.settings.icon_7 != blank %}
            <span
            style="display: flex;"
            class="material-icon material-symbols-outlined notranslate"
            >
            {{ block.settings.icon_7 }}
            </span>
        {% endif %}
        <div class="bullet-point-text sw-base-text-color">
            {{ block.settings.point_7 }}
        </div>
        </li>
    {% endif %}
    {% if block.settings.point_8 != blank %}
        <li>
        {%- if block.settings.bullet_image_8 %}
            <img
            style="margin-right: 8px;"
            src="{{ block.settings.bullet_image_8 | image_url }}"
            width="50"
            height="50"
            >
        {% elsif block.settings.icon_8 != blank %}
            <span
            style="display: flex;"
            class="material-icon material-symbols-outlined notranslate"
            >
            {{ block.settings.icon_8 }}
            </span>
        {% endif %}
        <div class="bullet-point-text sw-base-text-color">
            {{ block.settings.point_8 }}
        </div>
        </li>
    {% endif %}
    {% if block.settings.point_9 != blank %}
        <li>
        {%- if block.settings.bullet_image_9 %}
            <img
            style="margin-right: 8px;"
            src="{{ block.settings.bullet_image_9 | image_url }}"
            width="50"
            height="50"
            >
        {% elsif block.settings.icon_9 != blank %}
            <span
            style="display: flex;"
            class="material-icon material-symbols-outlined notranslate"
            >
            {{ block.settings.icon_9 }}
            </span>
        {% endif %}
        <div class="bullet-point-text sw-base-text-color">
            {{ block.settings.point_9 }}
        </div>
        </li>
    {% endif %}
    {% if block.settings.point_10 != blank %}
        <li>
        {%- if block.settings.bullet_image_10 %}
            <img
            style="margin-right: 8px;"
            src="{{ block.settings.bullet_image_10 | image_url }}"
            width="50"
            height="50"
            >
        {% elsif block.settings.icon_10 != blank %}
            <span
            style="display: flex;"
            class="material-icon material-symbols-outlined notranslate"
            >
            {{ block.settings.icon_10 }}
            </span>
        {% endif %}
        <div class="bullet-point-text sw-base-text-color">
            {{ block.settings.point_10 }}
        </div>
        </li>
    {% endif %}
    {% if block.settings.point_11 != blank %}
        <li>
        {%- if block.settings.bullet_image_11 %}
            <img
            style="margin-right: 8px;"
            src="{{ block.settings.bullet_image_11 | image_url }}"
            width="50"
            height="50"
            >
        {% elsif block.settings.icon_11 != blank %}
            <span
            style="display: flex;"
            class="material-icon material-symbols-outlined notranslate"
            >
            {{ block.settings.icon_11 }}
            </span>
        {% endif %}
        <div class="bullet-point-text sw-base-text-color">
            {{ block.settings.point_11 }}
        </div>
        </li>
    {% endif %}
    {% if block.settings.point_12 != blank %}
        <li>
        {%- if block.settings.bullet_image_12 %}
            <img
            style="margin-right: 8px;"
            src="{{ block.settings.bullet_image_12 | image_url }}"
            width="50"
            height="50"
            >
        {% elsif block.settings.icon_12 != blank %}
            <span
            style="display: flex;"
            class="material-icon material-symbols-outlined notranslate"
            >
            {{ block.settings.icon_12 }}
            </span>
        {% endif %}
        <div class="bullet-point-text sw-base-text-color">
            {{ block.settings.point_12 }}
        </div>
        </li>
    {% endif %}
</ul>
{% schema %}
{
  "name": "t:blocks._bullet_point_benefits_list.name",
  "tag": null,
  "blocks": [],
  "settings": [
    {
      "type": "header",
      "content": "t:blocks._bullet_point_benefits_list.settings.benefit_1_header.content"
    },
    {
      "type": "inline_richtext",
      "id": "point_1",
      "label": "t:blocks._bullet_point_benefits_list.settings.point.label"
    },
    {
      "type": "textarea",
      "id": "icon_1",
      "label": "t:blocks._bullet_point_benefits_list.settings.icon.label",
      "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\" fill=\"#1f1f1f\"><path d=\"m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z\"/></svg>",
      "info": "t:blocks._bullet_point_benefits_list.settings.icon.info"
    },
    {
      "type": "image_picker",
      "id": "bullet_image_1",
      "label": "t:blocks._bullet_point_benefits_list.settings.bullet_image.label"
    },
    {
        "type": "header",
        "content": "t:blocks._bullet_point_benefits_list.settings.benefit_2_header.content"
      },
      {
        "type": "inline_richtext",
        "id": "point_2",
        "label": "t:blocks._bullet_point_benefits_list.settings.point.label"
      },
      {
        "type": "textarea",
        "id": "icon_2",
        "label": "t:blocks._bullet_point_benefits_list.settings.icon.label",
        "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\" fill=\"#1f1f1f\"><path d=\"m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z\"/></svg>",
        "info": "t:blocks._bullet_point_benefits_list.settings.icon.info"
      },
      {
        "type": "image_picker",
        "id": "bullet_image_2",
        "label": "t:blocks._bullet_point_benefits_list.settings.bullet_image.label"
      },
      {
        "type": "header",
        "content": "t:blocks._bullet_point_benefits_list.settings.benefit_3_header.content"
      },
      {
        "type": "inline_richtext",
        "id": "point_3",
        "label": "t:blocks._bullet_point_benefits_list.settings.point.label"
      },
      {
        "type": "textarea",
        "id": "icon_3",
        "label": "t:blocks._bullet_point_benefits_list.settings.icon.label",
        "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\" fill=\"#1f1f1f\"><path d=\"m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z\"/></svg>",
        "info": "t:blocks._bullet_point_benefits_list.settings.icon.info"
      },
      {
        "type": "image_picker",
        "id": "bullet_image_3",
        "label": "t:blocks._bullet_point_benefits_list.settings.bullet_image.label"
      },
      {
        "type": "header",
        "content": "t:blocks._bullet_point_benefits_list.settings.benefit_4_header.content"
      },
      {
        "type": "inline_richtext",
        "id": "point_4",
        "label": "t:blocks._bullet_point_benefits_list.settings.point.label"
      },
      {
        "type": "textarea",
        "id": "icon_4",
        "label": "t:blocks._bullet_point_benefits_list.settings.icon.label",
        "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\" fill=\"#1f1f1f\"><path d=\"m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z\"/></svg>",
        "info": "t:blocks._bullet_point_benefits_list.settings.icon.info"
      },
      {
        "type": "image_picker",
        "id": "bullet_image_4",
        "label": "t:blocks._bullet_point_benefits_list.settings.bullet_image.label"
      },
      {
        "type": "header",
        "content": "t:blocks._bullet_point_benefits_list.settings.benefit_5_header.content"
      },
      {
        "type": "inline_richtext",
        "id": "point_5",
        "label": "t:blocks._bullet_point_benefits_list.settings.point.label"
      },
      {
        "type": "textarea",
        "id": "icon_5",
        "label": "t:blocks._bullet_point_benefits_list.settings.icon.label",
        "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\" fill=\"#1f1f1f\"><path d=\"m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z\"/></svg>",
        "info": "t:blocks._bullet_point_benefits_list.settings.icon.info"
      },
      {
        "type": "image_picker",
        "id": "bullet_image_5",
        "label": "t:blocks._bullet_point_benefits_list.settings.bullet_image.label"
      },
      {
        "type": "header",
        "content": "t:blocks._bullet_point_benefits_list.settings.benefit_6_header.content"
      },
      {
        "type": "inline_richtext",
        "id": "point_6",
        "label": "t:blocks._bullet_point_benefits_list.settings.point.label"
      },
      {
        "type": "textarea",
        "id": "icon_6",
        "label": "t:blocks._bullet_point_benefits_list.settings.icon.label",
        "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\" fill=\"#1f1f1f\"><path d=\"m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z\"/></svg>",
        "info": "t:blocks._bullet_point_benefits_list.settings.icon.info"
      },
      {
        "type": "image_picker",
        "id": "bullet_image_6",
        "label": "t:blocks._bullet_point_benefits_list.settings.bullet_image.label"
      },
      {
        "type": "header",
        "content": "t:blocks._bullet_point_benefits_list.settings.benefit_7_header.content"
      },
      {
        "type": "inline_richtext",
        "id": "point_7",
        "label": "t:blocks._bullet_point_benefits_list.settings.point.label"
      },
      {
        "type": "textarea",
        "id": "icon_7",
        "label": "t:blocks._bullet_point_benefits_list.settings.icon.label",
        "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\" fill=\"#1f1f1f\"><path d=\"m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z\"/></svg>",
        "info": "t:blocks._bullet_point_benefits_list.settings.icon.info"
      },
      {
        "type": "image_picker",
        "id": "bullet_image_7",
        "label": "t:blocks._bullet_point_benefits_list.settings.bullet_image.label"
      },
      {
        "type": "header",
        "content": "t:blocks._bullet_point_benefits_list.settings.benefit_8_header.content"
      },
      {
        "type": "inline_richtext",
        "id": "point_8",
        "label": "t:blocks._bullet_point_benefits_list.settings.point.label"
      },
      {
        "type": "textarea",
        "id": "icon_8",
        "label": "t:blocks._bullet_point_benefits_list.settings.icon.label",
        "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\" fill=\"#1f1f1f\"><path d=\"m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z\"/></svg>",
        "info": "t:blocks._bullet_point_benefits_list.settings.icon.info"
      },
      {
        "type": "image_picker",
        "id": "bullet_image_8",
        "label": "t:blocks._bullet_point_benefits_list.settings.bullet_image.label"
      },
      {
        "type": "header",
        "content": "t:blocks._bullet_point_benefits_list.settings.benefit_9_header.content"
      },
      {
        "type": "inline_richtext",
        "id": "point_9",
        "label": "t:blocks._bullet_point_benefits_list.settings.point.label"
      },
      {
        "type": "textarea",
        "id": "icon_9",
        "label": "t:blocks._bullet_point_benefits_list.settings.icon.label",
        "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\" fill=\"#1f1f1f\"><path d=\"m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z\"/></svg>",
        "info": "t:blocks._bullet_point_benefits_list.settings.icon.info"
      },
      {
        "type": "image_picker",
        "id": "bullet_image_9",
        "label": "t:blocks._bullet_point_benefits_list.settings.bullet_image.label"
      },
      {
        "type": "header",
        "content": "t:blocks._bullet_point_benefits_list.settings.benefit_10_header.content"
      },
      {
        "type": "inline_richtext",
        "id": "point_10",
        "label": "t:blocks._bullet_point_benefits_list.settings.point.label"
      },
      {
        "type": "textarea",
        "id": "icon_10",
        "label": "t:blocks._bullet_point_benefits_list.settings.icon.label",
        "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\" fill=\"#1f1f1f\"><path d=\"m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z\"/></svg>",
        "info": "t:blocks._bullet_point_benefits_list.settings.icon.info"
      },
      {
        "type": "image_picker",
        "id": "bullet_image_10",
        "label": "t:blocks._bullet_point_benefits_list.settings.bullet_image.label"
      },
      {
        "type": "header",
        "content": "t:blocks._bullet_point_benefits_list.settings.benefit_11_header.content"
      },
      {
        "type": "inline_richtext",
        "id": "point_11",
        "label": "t:blocks._bullet_point_benefits_list.settings.point.label"
      },
      {
        "type": "textarea",
        "id": "icon_11",
        "label": "t:blocks._bullet_point_benefits_list.settings.icon.label",
        "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\" fill=\"#1f1f1f\"><path d=\"m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z\"/></svg>",
        "info": "t:blocks._bullet_point_benefits_list.settings.icon.info"
      },
      {
        "type": "image_picker",
        "id": "bullet_image_11",
        "label": "t:blocks._bullet_point_benefits_list.settings.bullet_image.label"
      },
      {
        "type": "header",
        "content": "t:blocks._bullet_point_benefits_list.settings.benefit_12_header.content"
      },
      {
        "type": "inline_richtext",
        "id": "point_12",
        "label": "t:blocks._bullet_point_benefits_list.settings.point.label"
      },
      {
        "type": "textarea",
        "id": "icon_12",
        "label": "t:blocks._bullet_point_benefits_list.settings.icon.label",
        "default": "<svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\" viewBox=\"0 -960 960 960\" width=\"24px\" fill=\"#1f1f1f\"><path d=\"m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z\"/></svg>",
        "info": "t:blocks._bullet_point_benefits_list.settings.icon.info"
      },
      {
        "type": "image_picker",
        "id": "bullet_image_12",
        "label": "t:blocks._bullet_point_benefits_list.settings.bullet_image.label"
      }
  ],
  "presets": [
    {
      "name": "t:blocks._bullet_point_benefits_list.presets.name"
    }
  ]
}
{% endschema %}
