<li class="main-key-feature-card__list-item" {{ block.shopify_attributes }} {% if block.settings.image != blank %}data-image="{{ block.settings.image | image_url: width: 1000 }}"{%else%}data-image="placeholder"{% endif %}>
  <div class="main-key-feature-card__list-item-content">
    {% if block.settings.badge != blank %}
      <div class="main-key-feature-card__list-item-badge">
        {{ block.settings.badge }}
      </div>
    {% endif %}
    {% if block.settings.title != blank %}
      <h3 class="main-key-feature-card__list-item-title">{{ block.settings.title }}</h3>
    {% endif %}
    {% if block.settings.text != blank %}
      <div class="main-key-feature-card__list-item-text">{{ block.settings.text }}</div>
    {% endif %}
  </div>
  <div class="arrow-icon">
    <!-- arrow_icon -->
  </div>
</li>
{% schema %}
{
  "name": "t:blocks._key_feature_item.name",
  "tag": null,
  "settings": [
    {
      "type": "richtext",
      "id": "badge",
      "label": "t:blocks._key_feature_item.settings.badge.label",
      "default": "<p>#1_Benefit</p>"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "t:blocks._key_feature_item.settings.title.label",
      "default": "<p>Deep Nourishment</p>"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:blocks._key_feature_item.settings.text.label",
      "default": "<p>Hydrates deeply and restores your skin's natural glow. Keeps it soft, smooth, and healthy all day.</p>"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:blocks._key_feature_item.settings.image.label",
      "info": "t:blocks._key_feature_item.settings.image.info"
    }
  ],
  "presets": [
    {
      "name": "t:blocks._key_feature_item.presets.name"
    }
  ]
}
{% endschema %}
