{% assign product = closest.product %}
{% style %}
  .product-block-{{ block.id }}.unit-price {
    font-family: var(--font-body-family);
    font-size: {{ block.settings.unit_price_font_size | default: 12 }}px;
    font-weight: 600;
    line-height: calc({{ block.settings.unit_price_font_size | default: 12 }}px + 3px);
    color: {{ block.settings.unit_price_color | default: 'rgb(var(--color-base-text))' }};
    margin: 0;
  }
{% endstyle %}

{%- if block.settings.show_unit_price and product.selected_or_first_available_variant.unit_price_measurement -%}
  <span class="product-block-{{ block.id }} unit-price" {{ block.shopify_attributes }}>
    {{ 'products.product.price.unit_price_label' | t }}
    {{ product.selected_or_first_available_variant.unit_price | money }}
    {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
      {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
    {%- endif -%}
    {{- product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
  </span>
{%- endif -%}

{% schema %}
{
  "name": "t:blocks._price_unit_price.name",
  "tag": null,
  "blocks": [],
  "settings": [
    {
      "type": "header",
      "content": "t:blocks._price_unit_price.settings.unit_price_header.content"
    },
    {
      "type": "checkbox",
      "id": "show_unit_price",
      "label": "t:blocks._price_unit_price.settings.show_unit_price.label",
      "default": true
    },
    {
      "type": "range",
      "id": "unit_price_font_size",
      "min": 8,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "t:blocks._price_unit_price.settings.unit_price_font_size.label",
      "default": 12
    },
    {
      "type": "color",
      "id": "unit_price_color",
      "label": "t:blocks._price_unit_price.settings.unit_price_color.label",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "t:blocks._price_unit_price.presets.name"
    }
  ]
}
{% endschema %}
