{% if block.settings.row_heading != blank or block.settings.row_text != blank %}
  <div
    class="reasons-to-buy__stats-content-item-container"
    {{ block.shopify_attributes }}
    percentage-value="{{ block.settings.percentage }}"
  >
    <div class="reasons-to-buy__stats-content-item-percentage">
      <strong>{{ block.settings.percentage }}%</strong>
    </div>
    <div class="reasons-to-buy__stats-content-item">
      <div class="reasons-to-buy__stats-content-item-heading">{{ block.settings.row_heading }}</div>
      <div class="reasons-to-buy__stats-content-item-text">{{ block.settings.row_text }}</div>
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "t:blocks._reasons_to_buy_stat.name",
  "tag": null,
  "settings": [
    {
      "type": "richtext",
      "id": "row_heading",
      "label": "t:blocks._reasons_to_buy_stat.settings.row_heading.label"
    },
    {
      "type": "richtext",
      "id": "row_text",
      "label": "t:blocks._reasons_to_buy_stat.settings.row_text.label"
    },
    {
      "type": "range",
      "id": "percentage",
      "min": 0,
      "max": 100,
      "default": 95,
      "step": 1,
      "label": "t:blocks._reasons_to_buy_stat.settings.percentage.label"
    }
  ],
  "presets": [
    {
      "name": "t:blocks._reasons_to_buy_stat.presets.name",
      "settings": {
        "row_heading": "<p>Chosen by Thousands</p>",
        "row_text": "<p>Trusted by thousands for quality and reliability</p>",
        "percentage": 98
      }
    }
  ]
}
{% endschema %}
