{% style %}
.product-block-{{ block.id }} .testimonials-swiper {
  width: 100%;
}

.product-block-{{ block.id }} .swiper-slide {
  height: {{ block.settings.card_height_desktop | default: 200 }}px;
}

.product-block-{{ block.id }} .video-card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

.product-block-{{ block.id }} .video-card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  display: block;
}


.product-block-{{ block.id }} .video-card.playing .play-icon {
  display: none;
}

.product-block-{{ block.id }} .video-card.playing .stop-icon {
  display: block !important;
}

.product-block-{{ block.id }} .swiper-button-next,
.product-block-{{ block.id }} .swiper-button-prev {
  display: none;
}

.product-block-{{ block.id }} .swiper-button-next:after,
.product-block-{{ block.id }} .swiper-button-prev:after {
  font-size: 20px;
}

/* Progress bar styles */
video-testimonials .swiper-horizontal > .swiper-pagination-progressbar,
video-testimonials .swiper-pagination-progressbar.swiper-pagination-horizontal {
  top: inherit;
  bottom: 0;
  background: {{ block.settings.progress_bar_background | default: '#E8E8E8' }};
  height: 2px;
  border-radius: 100px;
  margin-top: 8px;
  position: inherit;
}

video-testimonials .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: {{ block.settings.progress_bar_fill | default: '#1D1A2D' }};
  border-radius: 100px;
}

@media screen and (max-width: 1024px) {
  video-testimonials .product-block-{{ block.id }} .swiper-slide {
    height: {{ block.settings.card_height_mobile | default: 150 }}px;
  }
}

@media screen and (max-width: 750px) {
  .product-block-{{ block.id }} .testimonials-swiper {
    overflow: initial;
  }
  .product-block-{{ block.id }} .swiper-slide {
    width: var(--slide-width-mobile, {{ block.settings.card_width_mobile | default: 110 }}px);
    height: {{ block.settings.card_height_mobile | default: 150 }}px;
  }
}

@media screen and (min-width: 1024px) {
  .product-block-{{ block.id }} .swiper-slide {
    width: var(--slide-width-desktop, auto);
  }
}
.product-block-{{ block.id }} .play-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 10;
  width: {{ block.settings.play_button_size | default: 33 }}px;
  height: {{ block.settings.play_button_size | default: 33 }}px;
}

.product-block-{{ block.id }} .play-button svg {
  width: {{ block.settings.play_button_size | default: 33 }}px;
  height: {{ block.settings.play_button_size | default: 33 }}px;
}
{% endstyle %}

<div class="testimonials-swiper product-block-{{ block.id }} swiper" 
     data-slides-desktop="{{ block.settings.slides_per_view_desktop }}"
     data-slides-tablet="{{ block.settings.slides_per_view_tablet}}"
     data-slides-mobile="{{ block.settings.slides_per_view_mobile }}"
     data-enable-fixed-desktop-width="{{ block.settings.enable_slide_width }}"
     data-fixed-desktop-width="{{ block.settings.card_width_desktop }}"
     data-enable-fixed-mobile-width="{{ block.settings.enable_slide_width_mobile }}"
     data-fixed-mobile-width="{{ block.settings.card_width_mobile }}"
     data-gap="{{ block.settings.gap_between_cards }}"
     {{ block.shopify_attributes }}>
     {% content_for 'block', type: '_video_testimonial_list', id: 'video_testimonial_list',play_button_background: block.settings.play_button_background, play_button_border: block.settings.play_button_border, play_button_icon: block.settings.play_button_icon, play_button_size: block.settings.play_button_size %}
  <div class="swiper-button-next swiper-button-next-{{ block.id }}"></div>
  <div class="swiper-button-prev swiper-button-prev-{{ block.id }}"></div>
</div>
<div class="swiper-pagination"></div>

{% schema %}
{
  "name": "t:blocks._video_slider.name",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:blocks._video_slider.settings.slider_settings_header.content"
    },
    {
      "type": "range",
      "id": "slides_per_view_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "t:blocks._video_slider.settings.slides_per_view_desktop.label",
      "default": 4
    },
    {
      "type": "range",
      "id": "slides_per_view_tablet",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "t:blocks._video_slider.settings.slides_per_view_tablet.label",
      "default": 3
    },
    {
      "type": "range",
      "id": "slides_per_view_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "t:blocks._video_slider.settings.slides_per_view_mobile.label",
      "default": 2
    },
    {
      "type": "range",
      "id": "gap_between_cards",
      "min": 5,
      "max": 30,
      "step": 5,
      "unit": "px",
      "label": "t:blocks._video_slider.settings.gap_between_cards.label",
      "default": 15
    },
    {
      "type":"checkbox",
      "id": "enable_slide_width",
      "label": "t:blocks._video_slider.settings.enable_slide_width.label",
      "default": false,
      "info": "t:blocks._video_slider.settings.enable_slide_width.info"
    },
    {
      "type": "range",
      "id": "card_width_desktop",
      "min": 80,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "t:blocks._video_slider.settings.card_width_desktop.label",
      "default": 110,
      "visible_if": "{{ block.settings.enable_slide_width }}"
    },
    {
      "type": "checkbox",
      "id": "enable_slide_width_mobile",
      "label": "t:blocks._video_slider.settings.enable_slide_width_mobile.label",
      "default": true,
      "info": "t:blocks._video_slider.settings.enable_slide_width_mobile.info"
    },
    {
      "type": "range",
      "id": "card_width_mobile",
      "min": 80,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "t:blocks._video_slider.settings.card_width_mobile.label",
      "default": 110,
      "visible_if": "{{ block.settings.enable_slide_width_mobile }}"
    },
    {
      "type": "header",
      "content": "t:blocks._video_slider.settings.card_dimensions_header.content"
    },
    {
      "type": "range",
      "id": "card_height_desktop",
      "min": 150,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "t:blocks._video_slider.settings.card_height_desktop.label",
      "default": 200
    },
    {
      "type": "range",
      "id": "card_height_mobile",
      "min": 100,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "t:blocks._video_slider.settings.card_height_mobile.label",
      "default": 150
    },
    {
      "type": "header",
      "content": "t:blocks._video_slider.settings.play_button_header.content"
    },
    {
      "type": "range",
      "id": "play_button_size",
      "min": 20,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "t:blocks._video_slider.settings.play_button_size.label",
      "default": 32
    },
    {
      "type": "color",
      "id": "play_button_background",
      "label": "t:blocks._video_slider.settings.play_button_background.label",
      "default": "#090909"
    },
    {
      "type": "color",
      "id": "play_button_border",
      "label": "t:blocks._video_slider.settings.play_button_border.label",
      "default": "#B3B3B3"
    },
    {
      "type": "color",
      "id": "play_button_icon",
      "label": "t:blocks._video_slider.settings.play_button_icon.label",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "t:blocks._video_slider.settings.progress_bar_header.content"
    },
    {
      "type": "color",
      "id": "progress_bar_background",
      "label": "t:blocks._video_slider.settings.progress_bar_background.label",
      "default": "#E8E8E8"
    },
    {
      "type": "color",
      "id": "progress_bar_fill",
      "label": "t:blocks._video_slider.settings.progress_bar_fill.label",
      "default": "#1D1A2D"
    }
  ],
  "presets": [
    {
      "name": "t:blocks._video_slider.presets.name"
    }
  ]
}
{% endschema %}
