{% assign product = closest.product %}
{%- assign product_form_id = 'product-form-' | append: section.id -%}
<div class="product-block-{{ block.id }}" {{ block.shopify_attributes }}>
  {% style %}
    .product-block-{{ block.id }} {
      padding-top: {{block.settings.padding_top }}px;
      padding-bottom: {{block.settings.padding_bottom }}px;
    }
    @media screen and (max-width: 768px) {
      .product-block-{{ block.id }} {
        padding-top: {{block.settings.padding_top_mobile }}px;
        padding-bottom: {{block.settings.padding_bottom_mobile }}px;
      }
    }
  {% endstyle %}
                  {%- render 'buy-buttons',
                    block: block,
                    product: product,
                    product_form_id: product_form_id,
                    section_id: section.id,
                    show_pickup_availability: true,
                    hide_add_to_cart: hide_add_to_cart,
                    buy_now_text: buy_now_text,
                    buy_now_button_font_size: buy_now_button_font_size,
                    buy_now_text_color: buy_now_text_color,
                    buy_now_bg_color: buy_now_bg_color,
                    buy_now_border_radius: buy_now_border_radius,
                    buy_now_uppercase_text: buy_now_uppercase_text,
                    buy_now_button_font_weight: buy_now_button_font_weight
                  -%}
                </div>

{% schema %}
{
  "name": "t:blocks.buy_buttons.name",
  "tag": null,
  "settings": [
    {
      "type": "inline_richtext",
      "id": "add_to_cart_text",
      "label": "t:blocks.buy_buttons.settings.add_to_cart_text.label",
      "default": "Add to cart"
    },
    {
      "type": "inline_richtext",
      "id": "buy_now_text",
      "label": "t:blocks.buy_buttons.settings.buy_now_text.label",
      "default": "Buy now"
    },
    {
      "type": "checkbox",
      "id": "show_buy_now_button",
      "label": "t:blocks.buy_buttons.settings.show_buy_now_button.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "skip_cart",
      "label": "t:blocks.buy_buttons.settings.skip_cart.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:blocks.buy_buttons.settings.styling_header.content"
    },
    {
      "type": "checkbox",
      "id": "uppercase_text",
      "label": "t:blocks.buy_buttons.settings.uppercase_text.label",
      "default": false
    },
    {
      "type": "color",
      "id": "bg_color",
      "default": "#000000",
      "label": "t:blocks.buy_buttons.settings.bg_color.label"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:blocks.buy_buttons.settings.text_color.label",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "t:blocks.buy_buttons.settings.padding_header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:blocks.buy_buttons.settings.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:blocks.buy_buttons.settings.padding_bottom.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:blocks.buy_buttons.settings.padding_top_mobile.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:blocks.buy_buttons.settings.padding_bottom_mobile.label",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:blocks.buy_buttons.presets.name",
      "category": "Product Information"
    }
  ]
}
{% endschema %}