{% assign product = closest.product %}
<div class="product-block-{{ block.id }}" {{ block.shopify_attributes }}>
  {% style %}
    .product-block-{{ block.id }} {
      padding-top: {{block.settings.padding_top }}px;
      padding-bottom: {{block.settings.padding_bottom }}px;
    }
  {% endstyle %}
  {{ block.settings.custom_liquid }}
</div>

{% schema %}
{
  "name": "t:sections.main-product.blocks.custom_liquid.name",
  "tag": null,
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
      "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
    }
  ],
  "presets": [
    {
      "name": "t:blocks.custom_liquid.presets.name",
      "category": "Product Information"
    }
  ]
}
{% endschema %}
