{% assign product = closest.product %}
{% style %}
  .product-block-{{ block.id }} {
    padding-top: {{ block.settings.padding_top }}px;
    padding-bottom: {{ block.settings.padding_bottom }}px;
  }
  .product-block-{{ block.id }} .product-add-ons{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .product-block-{{ block.id }} .product-add-ons-title{
    font-family: var(--font-heading-family);
    font-weight: 500;
    font-size: {{ block.settings.title_font_size | default: 18 }}px;
    line-height: 100%;
    letter-spacing: 0%;
    color: {{ block.settings.title_color | default: '#000000' }};
    margin: 0 0 {{ block.settings.title_bottom_spacing | default: 16 }}px 0;
  }
  @media screen and (max-width: 768px) {
    .product-block-{{ block.id }} {
      padding-top: {{block.settings.padding_top_mobile }}px;
      padding-bottom: {{block.settings.padding_bottom_mobile }}px;
    }
  }
{% endstyle %}
<div class="product-block-{{ block.id }} product-add-ons" {{ block.shopify_attributes }}>
  <h2 class="product-add-ons-title">{{ block.settings.title }}</h2>
  {% content_for 'block', type: '_add_ons_container', id: 'add_ons_container' %}
</div>

{% schema %}
{
  "name": "t:blocks.product_add_ons.name",
  "tag": null,
  "blocks": [
    {
      "type": "_add_ons_container"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:blocks.product_add_ons.settings.title.label",
      "default": "Add-Ons"
    },
    {
      "type": "header",
      "content": "t:blocks.product_add_ons.settings.title_styling_header.content"
    },
    {
      "type": "range",
      "id": "title_font_size",
      "min": 14,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "t:blocks.product_add_ons.settings.title_font_size.label",
      "default": 18
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "t:blocks.product_add_ons.settings.title_color.label",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "title_bottom_spacing",
      "min": 8,
      "max": 30,
      "step": 2,
      "unit": "px",
      "label": "t:blocks.product_add_ons.settings.title_bottom_spacing.label",
      "default": 16
    },
    {
      "type": "header",
      "content": "t:blocks.product_add_ons.settings.padding_header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:blocks.product_add_ons.settings.padding_top.label",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:blocks.product_add_ons.settings.padding_bottom.label",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:blocks.product_add_ons.settings.padding_top_mobile.label",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:blocks.product_add_ons.settings.padding_bottom_mobile.label",
      "default": 10
    }
  ],
  "presets": [
    {
      "name": "t:blocks.product_add_ons.presets.name",
      "category": "Product Information"
    }
  ]
}
{% endschema %}
