{%- comment -%} Product is accessed via closest.product in the template {%- endcomment -%}
{% style %}
    .product-block-{{ block.id }} {
      padding-top: {{block.settings.padding_top }}px;
      padding-bottom: {{block.settings.padding_bottom }}px;
    }
    @media screen and (max-width: 768px) {
      .product-block-{{ block.id }} {
        padding-top: {{block.settings.padding_top_mobile }}px;
        padding-bottom: {{block.settings.padding_bottom_mobile }}px;
      }
    }
    /*reviews*/
  .product-reviews {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 3px 0;
  }







  .product-block-{{ block.id }} .sku-label {
    font-weight: 600;
  }

  @media screen and (max-width: 768px) {
    .product-block-{{ block.id }} .sku {
      margin-top: 6px;
    }
  }
{% endstyle %}
<div
  class="product-reviews product-block-{{ block.id }}"
  style="display:flex; align-items: center; justify-content: {{ block.settings.rating_alignment }};"
  {{ block.shopify_attributes }}
>
  {% content_for 'block', type: '_rating_profile_images', id: 'rating_profile_images' %}
  {% content_for 'block', type: '_rating_content', id: 'rating_content' %}
</div>

{% schema %}
{
  "name": "t:blocks.rating.name",
  "tag": null,
  "blocks": [],
  "settings": [
    {
      "type": "header",
      "content": "t:blocks.rating.settings.layout_header.content"
    },
    {
      "type": "select",
      "id": "rating_alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:blocks.rating.settings.rating_alignment.options.left"
        },
        {
          "value": "center",
          "label": "t:blocks.rating.settings.rating_alignment.options.center"
        },
        {
          "value": "flex-end",
          "label": "t:blocks.rating.settings.rating_alignment.options.right"
        }
      ],
      "default": "flex-start",
      "label": "t:blocks.rating.settings.rating_alignment.label"
    },
    {
      "type": "header",
      "content": "t:blocks.rating.settings.padding_header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "t:blocks.rating.settings.padding_top.label",
      "default": 3
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "t:blocks.rating.settings.padding_bottom.label",
      "default": 3
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "t:blocks.rating.settings.padding_top_mobile.label",
      "default": 3
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "t:blocks.rating.settings.padding_bottom_mobile.label",
      "default": 3
    }
  ],
  "presets": [
    {
      "name": "t:blocks.rating.presets.name",
      "category": "Product Information"
    }
  ]
}
{% endschema %}
