{% style %}
  .product-block-{{ block.id }} {
    padding-top: {{ block.settings.padding_top }}px;
    padding-bottom: {{ block.settings.padding_bottom }}px;
  }
  @media screen and (max-width: 768px) {
    .product-block-{{ block.id }} {
      padding-top: {{block.settings.padding_top_mobile }}px;
      padding-bottom: {{block.settings.padding_bottom_mobile }}px;
    }
  }
{% endstyle %}
{% assign product = closest.product %}
<div class="product-block-{{ block.id }}" {{ block.shopify_attributes }}>
                  {% assign share_url = product.selected_variant.url | default: product.url | prepend: request.origin %}
                  {% render 'share-button', block: block, share_link: share_url %}
                </div>

{% schema %}
{
  "name": "t:sections.main-product.blocks.share.name",
  "tag": null,
  "settings": [
    {
      "type": "inline_richtext",
      "id": "share_label",
      "label": "t:sections.main-product.blocks.share.settings.text.label",
      "default": "Share"
    },
    {
      "type": "header",
      "content": "t:blocks.share.settings.padding_header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:blocks.share.settings.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:blocks.share.settings.padding_bottom.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:blocks.share.settings.padding_top_mobile.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:blocks.share.settings.padding_bottom_mobile.label",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:blocks.share.presets.name",
      "category": "Product Information"
    }
  ]
}
{% endschema %}