{% assign product = closest.product %}
{% style %}
  .product-block-{{ block.id }} {
    padding-top: {{ block.settings.padding_top }}px;
    padding-bottom: {{ block.settings.padding_bottom }}px;
  }
  @media screen and (max-width: 768px) {
    .product-block-{{ block.id }} {
      padding-top: {{block.settings.padding_top_mobile }}px;
      padding-bottom: {{block.settings.padding_bottom_mobile }}px;
    }
  }
  .purchase-notification {
      display: flex;
      align-items: center;
      font-family: var(--font-body-family);
      width: 100%;
      justify-content: center;
  }

  .product-block-{{ block.id }}.profile-images {
    display: flex;
    margin-right: 15px;
  }

  .product-block-{{ block.id }} .profile-image {
    width: {{ block.settings.profile_image_size | default: 21 }}px;
    height: {{ block.settings.profile_image_size | default: 21 }}px;
    border-radius: 50%;
    border: {{ block.settings.profile_image_border_width | default: 1 }}px solid {{ block.settings.profile_image_border_color | default: '#FFFFFF' }};
    margin-right: -{{ block.settings.profile_image_overlap | default: 8 }}px;
    object-fit: cover;
  }

  .purchase-text {
      color: {{ block.settings.text_color | default: '#1d1a2d' }};
      font-size: {{ block.settings.font_size | default: 12 }}px;
      font-weight: 300;
      font-family: var(--font-body-family);
  }

  .purchase-count {
      font-weight: 400;
  }
{% endstyle %}
<div class="product-block-{{ block.id }} payment-methods" {{ block.shopify_attributes }}>
    <div class="purchase-notification">
      {% content_for 'block', type: '_rating_profile_images', id: 'rating_profile_images', profile_image_overlap: block.settings.profile_image_overlap %}
      <div class="purchase-text">{{ block.settings.purchase_text }}</div>
  </div>
</div>

{% schema %}
{
  "name": "t:blocks.social_proof.name",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "purchase_text",
      "label": "t:blocks.social_proof.settings.purchase_text.label",
      "default": "Sarah and 438 people purchased"
    },
    {
      "type": "header",
      "content": "t:blocks.social_proof.settings.typography_header.content"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:blocks.social_proof.settings.text_color.label",
      "default": "#1d1a2d"
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 10,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "t:blocks.social_proof.settings.font_size.label",
      "default": 12
    },
    {
      "type": "header",
      "content": "t:blocks.social_proof.settings.padding_header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:blocks.social_proof.settings.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:blocks.social_proof.settings.padding_bottom.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:blocks.social_proof.settings.padding_top_mobile.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 20,
      "step": 2,
      "unit": "px",
      "label": "t:blocks.social_proof.settings.padding_bottom_mobile.label",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:blocks.social_proof.presets.name",
      "category": "Product Information"
    }
  ]
}
{% endschema %}
